/* Big screen css style */

/* bootstrap elements fix {{{ */
.nav.nav-tabs { margin: 25px 0 25px; }
/* bootstrap elements fix }}} */

.display_only_small { display: none; }
.display_only_big { display: inline-block; }
.max_width_page { max-width: 1200px; }

/* header */
.header { height: 100px; }
.header > div > div { display: inline-block; margin-top: 1px; }
.header .logo_container { float: left; padding: 10px 0; }
.header .header_button_container { float: right; padding: 28px 0; }
.header .header_button_container .btn { width: 100px; }
.header .header_button_container .btn-success { margin-right: 5px; }
.header .www_navigation { float: right; margin-right: 8%; }
.header .navigation_container .navigation_item { float: left; padding: 39px 30px; }
.header .navigation_container .navigation_label { margin-right: 10px; }
	/* after login */
.header .navigation_container .navigation_item:hover, .header .navigation_container a:hover, .profile_container .navigation_container .menu_item_container:hover { background-color: #3498DB; }
.profile_container .profile_container_wrapper .navigation_container .last_menu_item_container:hover { background-color: #e74c3c; }
.search_form_container { padding: 28px 0; width: 300px; }
.profile_container { float: right; padding: 14px 0; min-width: 215px; }
.profile_container .profile_container_wrapper { float: left; padding: 10px 15px; width: 100%; }
.profile_container .profile_container_wrapper:hover { border: 1px solid #000; box-shadow: 0 0 4px 0 black; background-color: #1A242F; color: #fff; padding: 9px 14px; }
.profile_container .profile_container_wrapper .profile_name_image_container > .profile_image_container { float: left; }
.profile_container .profile_container_wrapper .profile_name_image_container > .profile_name_container { float: right; margin-right: 15px; }
.profile_container .profile_container_wrapper:hover .navigation_container { display: inline-block; margin-top: 30px; }
.profile_container .navigation_container .menu_item_container { cursor: pointer; clear: left; float: left; margin-bottom: 5px; padding: 3px 5px; width: 100%; }
.profile_container .navigation_container a .menu_item_container > div { float: left; }
.profile_container .navigation_container .menu_item_container .menu_item_image {  }
.profile_container .navigation_container .menu_item_container .menu_item_label { margin-left: 34px; }

/* footer style {{{ */
.footer_container { padding: 45px 0 45px; }
.footer_container .powered_by_container { margin: 97px 50px 0; min-width: 650px; }
.footer_nav { display: table; margin: 0px auto 88px auto; }
.footer_nav > div { display: table-cell; text-align: center; padding-left: 30px; padding-right: 30px; width: 33.33%; }
/* footer style }}} */

/* www index page */
.catwalk_container { margin-top: 110px; }
.catwalk_container .catwalk_block { width: 330px; }
.catwalk_container .catwalk_block1 { margin-left: 10%; }
.catwalk_container .catwalk_block2 { margin-right: 10%; }

/* www containers */
.generic_container1 { min-height: 400px; width: 800px; }
.generic_container2 { width: 550px; }
.generic_container1 .generic_container_block1 > .left { margin-top: 70px; text-align: center; width: 300px; }
.generic_container1 .generic_container_block1 > .right { width: 500px; }
.generic_container1 .generic_container_block1 > .right > .top { padding: 5px 50px 5px 5px; }
.generic_container1 .generic_container_block1 > .right > .bottom { margin-right: 35px; }
.generic_container1 .generic_container_block2 > .right { margin-top: 70px; text-align: center; width: 300px; }
.generic_container1 .generic_container_block2 > .left { width: 500px; }
.generic_container1 .generic_container_block2 > .left > .top { padding: 5px 5px 5px 50px }
.generic_container1 .generic_container_block2 > .left > .bottom { margin-left: 35px; }

/* backend containers */
.generic_container4 { margin-right: 20px; width: 900px; }
.generic_container5 { width: 280px; }
.generic_container4, .generic_container7 { min-height: 20px; padding: 10px 50px 50px; }
.generic_container6 { height: 310px; }
.generic_container8 > div { float: left; }
.generic_container8 > .left { width: 36%; }
.generic_container8 > .left > .top > img { width: 100%; }
.generic_container8 > .left > .bottom { text-align: right; }
.generic_container8 > .right { width: 64%; }
.generic_container8 > .right > .top { margin-left: auto; width: 90%; }
.generic_container8 > .right > .bottom { margin-left: auto; width: 90%; }

.user_details_container > div { float: left }
.user_details_container .user_details_left { width: 38%; margin-right: 2%; }
.user_details_container .user_details_right { width: 60%; }

/* image grids {{{ */
ul.grid_container { margin-left: -2.5%; }
ul.grid_container li { margin: 0 0 2.5% 2.5%; width: 22.5%; }
ul.grid_container_three li { width: 30.84% }
/* image grids }}} */

/* profile section {{{ */
.favorites_question_point_container img { margin-left: 5px; vertical-align: text-bottom; }
.manage_buttons_container { display: table; }
.manage_buttons_container > div { display: table-cell; float: none; vertical-align: middle; }
.manage_buttons_container .manage_buttons_block1 { padding-right: 10px; }
.manage_buttons_container .manage_buttons_block2 { padding-right: 25px; }

.main_photo_edit_container_wrapper > .right .alert { margin-bottom: 0; margin-left: auto; width: 90%; }
.upload_image_button { height: 150px; padding: 20px 0; width: 150px; }

.profile_image_container .profile_image { width: 250px; }
/* profile section }}} */

/* classification block style {{{ */
.classification_block { width: 230px; }
/* classification block style }}} */
