/* Big screen css style */
.max_width_page { max-width: 1200px; }
.image_background_container { }

/* header */
.header { height: 100px; }
.header > div > div { margin-top: 1px; }
.header .logo_container { float: left; padding: 10px 0; }
.header .header_button_container { float: right; padding: 28px 0; }
.header .header_button_container .btn { width: 100px; }
.header .header_button_container .btn-success { margin-right: 5px; }
.header .navigation_container { float: right; margin-right: 25px; }
.header .navigation_container .navigation_item { float: left; padding: 39px 30px; }
.header .navigation_container .navigation_label { margin-right: 10px; }
	/* after login */
.search_form_container { padding: 28px 0; }
.profile_container { float: right; padding: 14px 0; }
.profile_container .profile_container_wrapper { float: left; padding: 10px 15px; }
.profile_container .profile_container_wrapper > div { float: left; }

/* footer */
.footer_container { padding: 145px 0 45px; }
.footer_container .powered_by_container { margin: 75px 50px 0; }

/* www index page */
.catwalk_container { margin-top: 110px; }
.catwalk_container .catwalk_block { width: 330px; }
.catwalk_container .catwalk_block1 { margin-left: 10%; }
.catwalk_container .catwalk_block2 { margin-right: 10%; }

/* www containers */
.generic_container1 { min-height: 400px; width: 800px; }
.generic_container2 { width: 550px; }
.generic_container1 .generic_container_block1 > .left { margin-top: 70px; text-align: center; width: 300px; }
.generic_container1 .generic_container_block1 > .right { width: 500px; }
.generic_container1 .generic_container_block1 > .right > .top { padding: 5px 50px 5px 5px; }
.generic_container1 .generic_container_block1 > .right > .bottom { margin-left: 35px; }
.generic_container1 .generic_container_block2 > .right { margin-top: 70px; text-align: center; width: 300px; }
.generic_container1 .generic_container_block2 > .left { width: 500px; }
.generic_container1 .generic_container_block2 > .left > .top { padding: 5px 5px 5px 50px }
.generic_container1 .generic_container_block2 > .left > .bottom { margin-left: 35px; }

/* backend containers */
.generic_container4 { width: 850px; }
.generic_container5 { width: 250px; }
.generic_container4, .generic_container7 { min-height: 20px; padding: 10px 50px 50px; }
.generic_container6 { height: 300px; }
.generic_container8 > div { float: left; }
.generic_container8 > .left { width: 36%; }
.generic_container8 > .left > .top > img { width: 100%; }
.generic_container8 > .left > .bottom { text-align: right; }
.generic_container8 > .right { width: 64%; }
.generic_container8 > .right > .top { margin-left: auto; width: 90%; }
.generic_container8 > .right > .bottom { margin-left: auto; width: 90%; }

.user_details_container > div { float: left }
.user_details_container .user_details_left { width: 40%; }
.user_details_container .user_details_right { width: 60%; }

/* image grids {{{ */
ul.grid_container { margin-left: -2.5%; }
ul.grid_container li { margin: 0 0 2.5% 2.5%; width: 22.5%; }
ul.grid_container_three li { width: 30.84% }
/* image grids }}} */
