/* ==========================================================================
   Common styles
   ========================================================================== */
html, body { height: 100%; background-color: #2c3e50; }
.centered_page { margin: 0 auto; }
.height_100 { height: 100%; }
.left_100 { float: left; width: 100%; }
.margin_top_20 { margin-top: 20px; }
.float_left { float: left; }
.float_right { float: right; }
.readable_text1 { letter-spacing: 0.02em; line-height: 1.8678; }
.last_page_element_margin { margin-bottom: 100px; }
.inline_block { display: inline-block; }

/* page title block */
.title_block { float: left; margin-bottom: 25px; padding: 6px 0 20px; text-align: center; width: 100%; background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */ }
.image_background_container { background: url(../img/background_page.jpg) no-repeat center top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; /* max-height: 450px; */ height: 100%; }

/* colors */
.title_block * { color: #fff; }
.first_color { background-color: #2C3E50; }
.second_color { background-color: #1A242F; }

/* header */
.header { display: inline-block; width: 100%; }
.header > div { text-align: center; }
.header > div > div { display: inline-block; }
.header .navigation_container { color: white; }
.header .navigation_container .navigation_label { font-weight: bold; }
.header .navigation_container .navigation_arrow { font-size: 13px; }
.header .navigation_container .navigation_item { cursor: pointer; }
.header .navigation_container .navigation_item:hover { background-color: #3498DB; }
	/* after login */
.profile_container { color: white; position: relative; text-align: left; z-index: 1; }
.profile_container .profile_container_wrapper { cursor: default; display: inline-block; }
.profile_container .profile_container_wrapper:hover { border: 1px solid #000; box-shadow: 0 0 4px 0 black; background-color: #1A242F; color: #fff; }
.profile_container .profile_container_wrapper:hover .profile_menu_container { display: block; }
.profile_container .profile_container_wrapper .profile_name_container { line-height: 17px; margin-left: 10px; margin-top: 6px; }
.profile_container .profile_container_wrapper .profile_name_container .profile_arrow_bottom { margin-left: 5px; }
.profile_container .profile_container_wrapper .profile_menu_container { clear: left; display: none; margin-top: 30px; width: 100%; }
.profile_menu_container .menu_item_container { cursor: pointer; clear: left; float: left; margin-bottom: 5px; padding: 3px 5px; width: 100%; }
.profile_menu_container .menu_item_container:hover { background-color: #95a5a6; }
.profile_menu_container .menu_item_container > a { color: white; }
.profile_menu_container .menu_item_container > a > div { float: left; }
.profile_menu_container .menu_item_container .menu_item_image {  }
.profile_menu_container .menu_item_container .menu_item_label { margin-top: 3px; margin-left: 34px; }
.profile_menu_container .last_menu_item_container { margin-top: 15px; }
.profile_menu_container .last_menu_item_container:hover { background-color: #e74c3c; }

/* footer */
.footer_container { display: inline-block; }
.footer_container > div { float: left; }
.footer_container .powered_by_container { margin: 0px 10px; }

/* www index page */
.catwalk_container .catwalk_block, .catwalk_container .catwalk_block .image_container {	background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */ }
.catwalk_container { float: left; width: 100%; }
.catwalk_container .catwalk_block > div { float: left; text-align: center; width: 100%; }
.catwalk_container .catwalk_block .title_container { color: #fff; padding: 9px 0;}
.catwalk_container .catwalk_block .image_container { padding: 9px 0; }
.catwalk_container .catwalk_block .button_container { padding: 17px 0; }

/* www containers */
.styled_container1 { border-radius: 4px; -moz-border-radius: 4px; background-color: #E0E0E0; display: inline-block; padding: 20px; width: 100%; }
.generic_container { display: inline-block; text-align: left; }
.generic_container1 .generic_container_block { margin-bottom: 40px; margin-top: 40px; }
.generic_container1 .generic_container_block > div { float: left; }
.generic_container1 .generic_container_block1 > .right > .top { background-color: #0e141a; color: #fff; font-size: 17px; margin-bottom: 30px; text-align: right; }
.generic_container1 .generic_container_block1 > .right > .bottom { color: #fff; margin-top: 12px; }
.generic_container1 .generic_container_block2 > .left > .top { background-color: #0e141a; color: #fff; font-size: 17px; margin-bottom: 30px; text-align: left; }
.generic_container1 .generic_container_block2 > .left > .bottom { color: #fff; margin-top: 12px; }

/* backend containers */
.generic_container3 > .generic_container { float: left; }
.generic_container4 { margin-right: 20px; }
.generic_container4, .generic_container6, .generic_container7, .generic_container9 { border-radius: 4px; -moz-border-radius: 4px; background-color: #ecf0f1; }
.generic_container6, .generic_container7, .generic_container9 { width: 100%; }
.generic_container6 { background: url(../img/partecipa.png) no-repeat center center #3498db; margin-bottom: 20px; text-align: center }
.generic_container6 > .title { color: white; margin-top: 25px; }
.generic_container6 > .button_container { margin-top: 195px; }
.generic_container9 { padding: 0 25px 25px; }
.generic_container9 > .title { margin-top: 25px; }

/* catwalk user details page */
.background_container1 { background-color: #E0E0E0; padding: 20px; }
.generic_container8 { border-radius: 4px; -moz-border-radius: 4px; display: inline-block; width: 100%; }
.user_stats_container { margin-top: -20px; margin-bottom: 20px; text-align: center; }
.user_stats_container .user_stats_block { display: inline-block; }
.user_stats_container .user_stats_block .position { font-size: 55px; }
.user_stats_container .user_stats_block .points { font-size: 25px; }
.user_stats_container .user_stats_space { display: inline-block; width: 10%; }
.user_action_link_container { margin-top: 6px; }
.user_action_link_container > span { margin-left: 13px; }
.user_action_link, .user_action_link:hover { color: transparent; text-decoration: none; }

.user_top_info_container { display: inline-block; margin-bottom: 10px; width: 100%; }
.user_top_info_container > div { float: left; }
.user_top_info_container .user_top_info_block .user_info_value { font-size: 17px; font-weight: bold; }
.user_top_info_container .user_top_info_space { min-width: 20px; width: 5%; }

.user_details_container { display: inline-block; width: 100%; }
.vote_user_container { display: inline-block; text-align: center; width: 95%; }
.vote_user_container .vote_user_block { display: inline-block; margin: 0 auto 11px; }
.vote_user_container .vote_user_button_container { margin-top: 10px; }
.vote_user_container .vote_user_block .vote_user_metric_name { margin-bottom: 5px; text-align: left; }
.vote_user_container .vote_user_block ul { margin: 0px; }

/* image grids {{{ */
ul.grid_container { list-style: none; font-size: 0px; padding: 0px; }
ul.grid_container li { display: inline-block; padding: 2px; background: #18bc9c; border: 1px solid #ddd; box-shadow: 0 0 5px #ddd; }
ul.grid_container li img { cursor: pointer; max-width: 100%; height: auto; }
ul.grid_container li img:hover { opacity: 0.5; }
/* image grids }}} */

/* profile section {{{ */
.favorites_question_point_container img { margin-left: 5px; vertical-align: text-bottom; }
.manage_buttons_container { margin-bottom: 20px; margin-left: auto; }

.upload_image_button { border: 3px solid #18bc9c; color: #18bc9c; cursor: pointer; font-weight: bold; margin: 0 auto; text-align: center; }
.upload_image_button.book_images_upload_button { clear: both; margin: 0; }
.upload_image_button:hover { color: #fff; background-color: #18bc9c; }
.upload_image_button .upload_image_label { margin-bottom: 10px; }
.upload_image_button .img_not_active { display: inline-block; }
.upload_image_button .img_active { display: none; }
.upload_image_button:hover .img_not_active { display: none; }
.upload_image_button:hover .img_active { display: inline-block; }
/* profile section }}} */

/* classification block style {{{ */
.classification_block { background-color: #e0e0e0; border-radius: 4px; -moz-border-radius: 4px; color: #2c3e50; display: inline-block; margin-bottom: 5px; margin-top: 10px; padding: 10px; text-align: left; }
.classification_block:hover { box-shadow: 0px 0px 2px -1px black; text-decoration: none; }
.classification_block_wrapper { display: table; width: 100%; }
.classification_block_wrapper > div { display: table-cell; vertical-align: middle; }
.classification_block_wrapper > .right { padding-left: 10px; text-align: right; }
.classification_block_wrapper > .right > .classification_position { font-size: 22px; }
.classification_block_wrapper > .right > .classification_name, .classification_block_wrapper > .right > .classification_points { font-size: 13px; }
/* classification block style }}} */
