/* Common css style */

html, body { height: 100%; background-color: #2c3e50; }
textarea { resize: none; }
.centered_page { margin: 0 auto; }
.height_100 { height: 100%; }
.left_100 { float: left; width: 100%; }
.margin_top_30 { margin-top: 30px; }
.margin_top_20 { margin-top: 20px; }
.margin_top_15 { margin-top: 15px; }
.margin_bottom_15 { margin-bottom: 15px; }
.margin_bottom_20 { margin-bottom: 20px; }
.float_left { float: left; }
.float_right { float: right; }
.nomargin { margin: 0px!important; }
.readable_text1 { letter-spacing: 0.02em; line-height: 1.8678; }
.readable_text2 { display: inline-block; letter-spacing: 0.02em; line-height: 1.8678; color: #C5C5C5; padding: 20px; width: 100%; }
.readable_text3 { display: inline-block; letter-spacing: 0.02em; line-height: 1.8678; padding: 20px; width: 100%; }
.last_page_element_margin { margin-bottom: 100px; }
.inline_block { display: inline-block; }
.display_none { display: none; }
.contest_timedelta { font-weight: bold; }
.vertical_align_top { vertical-align: top; }
.custom_checkbox { padding-top: 0px!important; }
.custom_checkbox label { font-weight: bold; }
.grid_disabled_link, .grid_disabled_link:hover, .grid_disabled_link:focus, .grid_disabled_link:active { color: gray; cursor: default; border-color: #e4e4e4!important; background-color: #e4e4e4!important; color: gray!important; }
.image_action_button_space { margin-left: 13px; margin-right: 13px; }
.podium_user_image { max-width: 100%; }
.no-gutter { padding-right: 0; padding-left: 0; }
.disabled-only-graphics { box-shadow: none; cursor: not-allowed; opacity: 0.65; }


/* page title block */
.title_block { float: left; margin-bottom: 25px; padding: 6px 0 20px; text-align: center; width: 100%; background: -moz-linear-gradient(top, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.4)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* IE10+ */ background: linear-gradient(to bottom, rgba(0,0,0,0.4) 0%,rgba(0,0,0,0.4) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */ }
.image_background_container { background: url(../img/background_page.jpg) no-repeat center top; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; /* max-height: 450px; */ height: 100%; }

/* cookie law {{{ */
#cookie-law { background: #000 none repeat scroll 0 0; margin: 0 auto; width: 100%; }
#cookie-law p { color: #fff; font-size: 1em; margin: 0; padding: 10px; text-align: center; }
/* cookie law }}} */

/* confirm email bar {{{ */
.confirm-email { background-color: #FF8D00; margin: 0 auto; width: 100%; }
.confirm-email p { color: #fff; font-size: 1em; margin: 0; padding: 10px; text-align: center; }
.confirm-email p a { background-color: #fff; border-radius: 4px; color: #444; display: inline-block; margin: 4px 0; padding: 3px 7px; }
.confirm-email p a:hover, .confirm-email p a:active { background-color: #E6E6E6; text-decoration: none; }
/* confirm email bar }}} */

/* colors */
.title_block h1, .title_block h2, .title_block h3, .title_block h4, .title_block h5, .title_block h6 { color: #fff; }
.first_color { background-color: #2C3E50; }
.second_color { background-color: #1A242F; }
.third_color { background-color: #ECF0F1; }
.navigation_container a { color: white; }
.link_color { color: #18bc9c; }
.notify_details_container p a { color:  #2c3e50; }

/* header */
.header { display: inline-block; width: 100%; }
.header > div { text-align: center; }
.header .navigation_container a { text-decoration: none; }
.header .navigation_container .navigation_label, .profile_container .navigation_container .menu_item_container .menu_item_label { font-weight: bold; }
.header .navigation_container .navigation_arrow { font-size: 13px; }
/*.header .navigation_container .navigation_item { color: #fff; cursor: pointer; }*/
	/* after login */
.profile_container { color: white; position: relative; text-align: left; z-index: 1; }
.profile_container .profile_container_wrapper { cursor: default; display: inline-block; }
.profile_container .profile_container_wrapper .profile_name_container { line-height: 17px; margin-left: 15px; margin-top: 6px; }
.profile_container .profile_container_wrapper .profile_name_container .profile_arrow_bottom { margin-left: 5px; }
.profile_container .profile_container_wrapper .navigation_container { clear: left; display: none; width: 100%; }
.profile_container .profile_container_wrapper .navigation_container .last_menu_item_container { margin-top: 15px; }
.profile_container .profile_container_wrapper .navigation_container .menu_item_container > a { color: white; }
.profile_name_image_container .navigation_profile_image { width: 50px; }

/* footer style {{{ */
.footer_container { display: inline-block; }
.footer_container > div { float: left; }
.footer_nav a { color: #4073A6; }
/* footer style }}} */

/* www index page */
.catwalk_container { float: left; margin-bottom: 20px; width: 100%; }
.catwalk_container .catwalk_block { background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */ background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */ background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */ }
.catwalk_container .catwalk_block > div { float: left; text-align: center; width: 100%; }
.catwalk_container .catwalk_block .title_container { color: #fff; padding: 9px 0; }
.catwalk_container .catwalk_block .image_container { display: table; float: none; height: 155px; }
.catwalk_container .catwalk_block .image_container .image_container_inner { display: table-cell; vertical-align: middle; }
.catwalk_container .catwalk_block .image_container .image_container_inner .winner_text_container { color: #fff; padding: 9px 0; }
.catwalk_container .catwalk_block .button_container { padding: 17px 0; }

/* www containers */
.styled_container1 { border-radius: 4px; -moz-border-radius: 4px; background-color: #E0E0E0; display: inline-block; padding: 20px; width: 100%; }
.generic_container { display: inline-block; text-align: left; }
.generic_container1 .generic_container_block > div { float: left; }
.generic_container1 .generic_container_block1 > .right > .top { background-color: #0e141a; color: #fff; font-size: 17px; margin-bottom: 30px; text-align: right; }
.generic_container1 .generic_container_block1 > .right > .bottom { color: #fff; margin-top: 12px; }
.generic_container1 .generic_container_block2 > .left > .top { background-color: #0e141a; color: #fff; font-size: 17px; margin-bottom: 30px; text-align: left; }
.generic_container1 .generic_container_block2 > .left > .bottom { color: #fff; margin-top: 12px; }
.generic_container1 .generic_container_block2 ul.ul_metrics_details {  }

/* backend containers */
.generic_container3 > .generic_container { float: left; }
.generic_container4, .generic_container6, .generic_container7, .generic_container9, .tip_container { border-radius: 4px; -moz-border-radius: 4px; background-color: #ecf0f1; }
.generic_container6, .generic_container7, .generic_container9, .tip_container { width: 100%; }
.generic_container6 { margin-bottom: 20px; position:relative; text-align: center; }
.tip_container { margin-bottom: 20px; padding: 0 20px 20px 20px; }
.generic_container6 > .title, .tip_container > .title { text-align: center; margin-top: 15px; }
.tip_container > .title { color: white; }
.generic_container6 > .button_container { margin-bottom: 20px; }
.generic_container6 > img { margin-bottom: 10px; max-width: 80%; }
.generic_container9 { padding: 0 25px 25px; }
.generic_container9 > .title { margin-top: 15px; }
.generic_container8 > .left .container8_image_bottom_block { margin-top: 5px; }
.container_row1 { margin-bottom: 20px; }
.container_row_common10 { margin-bottom: 10px; }
.show_photoboard_catwalk_subtitle { display: inline-block; font-size: 15px; width: 100%; }

.tip_container { background-color: #1a2530; }
.tip_container .tip_readable_text { color: #459fdd; }
.banner_bg_light_blue { background-color: #3498db; }
.banner_bg_light_blue > .title { color: #fff; }
.banner_bg_dark_blue { background-color: #1a2530; }
.banner_bg_dark_blue > .title { color: #fff; }
.banner_bg_light_gray { background-color: #ecf0f1; }

/* catwalk user details page */
.background_container1 { background-color: #E0E0E0; padding: 20px; }
.generic_container8 { border-radius: 4px; -moz-border-radius: 4px; display: inline-block; width: 100%; }
.user_stats_container { text-align: center; }
.user_stats_container .user_stats_block { display: inline-block; }
.user_stats_container .user_stats_block .position { font-size: 55px; }
.user_stats_container .user_stats_block .points { font-size: 25px; }
.user_stats_container .user_stats_space { display: inline-block; width: 10%; }
.user_action_link_container { margin-top: 6px; }
.user_action_link, .user_action_link:hover { color: transparent; text-decoration: none; }

.user_top_info_container { display: inline-block; margin-bottom: 10px; width: 100%; }
.user_top_info_container > div { float: left; }
.user_top_info_container .user_top_info_block .user_info_value { font-size: 17px; font-weight: bold; }
.user_top_info_container .user_top_info_space { min-width: 20px; width: 5%; }

.user_details_container { display: inline-block; width: 100%; }
/*.vote_user_container { display: inline-block; text-align: center; }
.vote_user_container .vote_user_block { display: inline-block; margin: 0 auto 11px; }
.vote_user_container .vote_user_button_container { margin-top: 10px; }
.vote_user_container .vote_user_block .vote_user_metric_name { margin-bottom: 5px; text-align: left; }
.vote_user_container .vote_user_block ul { background-color: #3498db; border: 2px solid #3498db; margin: 0; padding: 3px; }
.vote_user_container .vote_user_block.votation_block_error ul { border: 2px solid red; }
.vote_user_container .vote_user_block.votation_block_error .vote_user_metric_name { color: red; }*/
.select_vote_type_container { margin: 0 auto; }
.vote_type_list a { clear: both; float: left; display: inline-block; margin-bottom: 15px; }
.vote_type_list a:hover, .vote_type_list a:active { text-decoration: none; }
.vote_type_list a img { margin-right: 5px; visibility: hidden; }
.vote_type_list a.selected_vote, .vote_type_list a.selected_vote img { font-weight: bold; visibility: visible; }
.select_vote_type_container h4 { margin-top: 0px; margin-bottom: 0px; }
.select_vote_type_container .progress { margin-bottom: 0px; }

/* image grids {{{ */
ul.grid_container { list-style: none; font-size: 0px; padding: 0px; }
ul.grid_container li { display: inline-block; padding: 2px; background: #18bc9c; border: 1px solid #ddd; box-shadow: 0 0 5px #ddd; }
ul.grid_container li img { cursor: pointer; max-width: 100%; height: auto; }
ul.grid_container li img:hover { opacity: 0.5; }
/* image grids }}} */

/* profile section {{{ */
.upload_profile_image_button, .upload_book_image_button { display: none; } /* hide widget upload buttons */

.favorites_question_point_container img { margin-left: 5px; vertical-align: text-bottom; }
.manage_buttons_container { margin-left: auto; margin-right: 10%; text-align: right; }

.upload_image_button { border: 3px solid #18bc9c; color: #18bc9c; cursor: pointer; font-weight: bold; margin: 0 auto; text-align: center; }
.upload_image_button.book_images_upload_button { clear: both; margin: 0 auto; }
.upload_image_button:hover { color: #fff; background-color: #18bc9c; }
.upload_image_button .upload_image_label { margin-bottom: 10px; }
.upload_image_button .img_not_active { display: inline-block; }
.upload_image_button .img_active { display: none; }
.upload_image_button:hover .img_not_active { display: none; }
.upload_image_button:hover .img_active { display: inline-block; }

.profile_image_button { display: block; }
.main_photo_edit_container_wrapper { display: table; }
.main_photo_edit_container_wrapper > div { display: table-cell; vertical-align: middle; }
.main_photo_edit_container_wrapper { margin: 0 auto; }
.main_photo_edit_container_wrapper .profile_image_container { display: inline-block; margin: 0px; margin-top: 13px; }
.main_photo_edit_container_wrapper > .right { padding-left: 0px; }

.welcome_list { margin: 10px 0px; }

/* notify details page */
.notify_details_container { margin-top: 40px; min-height: 300px; }
.notify_details_container p a { text-decoration: underline; }
.notify_details_container .btn { margin-top: 20px; }
.table a.table_action_link { text-decoration: none; }
.notify_back_link { font-size: 13px; margin-left: 10px; }
.publish_date_container { text-align: right; }

/* gain more points page */
.profile_share_url_container { display: inline-block; overflow: auto; width: 100%; }
/* profile section }}} */

/* classification block style {{{ */
.classification_block { background-color: #e0e0e0; border-radius: 4px; -moz-border-radius: 4px; color: #2c3e50; display: inline-block; margin-bottom: 5px; margin-top: 10px; padding: 10px; text-align: left; }
.classification_block:hover { box-shadow: 0px 0px 2px -1px black; text-decoration: none; }
.classification_block_wrapper { display: table; width: 100%; }
.classification_block_wrapper > div { display: table-cell; vertical-align: middle; }
.classification_block_wrapper > .right { padding-left: 10px; text-align: right; }
.classification_block_wrapper > .right > .classification_position { font-size: 22px; }
.classification_block_wrapper > .right > .classification_name, .classification_block_wrapper > .right > .classification_points { font-size: 13px; }
.classification_block_wrapper > .left .top_five_thumbnail { width: 70px; }
/* classification block style }}} */

.thumb { padding-left: 0!important; padding-right: 0!important; }
.thumb img { width: 100%; }
.thumbnail { background-color: transparent; border-radius: 0px; display: block; margin: 0 3px 6px; padding: 0; }
.thumbnail:hover { background-color: #18bc9c; opacity: 0.8; }
.image_grid_container { padding-left: 11px; padding-right: 11px; }
/*.book_thumbnail { background-color: white; border-radius: 0px; display: block; margin: 0 3px 6px; padding: 0; height: 200px; overflow: hidden; width: auto; }*/
.book_thumbnail { height: 250px!important; width: 100%!important; }
.book_thumbnail:hover { background-color: #18bc9c; opacity: 0.8; }

/* favorite user popup */
.favorite_profile_image { width: 100%; }
.favorite_popup_info_container > div { margin-bottom: 10px; }
.favorite_popup_info_container .favorite_popup_ranking_value, .favorite_popup_info_container .favorite_popup_points_value { font-weight: bold; font-size: 21px; }
.favorite_popup_info_container .favorite_popup_points_container { margin-bottom: 30px; }

/* catwalk winner block */
.winner_block_wrapper .winner_block_name { margin-bottom: 10px; }
.winner_block_wrapper .winner_block_img { margin-bottom: 10px; }
.winner_block_wrapper .winner_block_img img { max-width: 250px; width: 80%; }
.winner_block_wrapper .winner_block_button { margin-top: 25px; }

/* grid buttons style */
.grid_button_1 { background-color: #e4e4e4; border-radius: 4px; -moz-border-radius: 4px; text-align: center; }
.grid_button_1:hover { color: #fff; }
.grid_button_1 > span { display: inline-block; width: 100%; }
.grid_button_1 > .grid_button_image { margin-top: 15px; margin-bottom: 20px; }
.grid_button_1 > .grid_button_image > img { height: 70px; }
.grid_button_1 > .grid_button_label { margin-bottom: 15px; }
