/* Medium screen css style */

/* bootstrap elements fix {{{ */
.nav.nav-tabs { margin: 25px 0 25px; }
.form-control { margin-bottom: 5px; }
/* bootstrap elements fix }}} */

/* header style {{{ */
.header .logo_container { float: left; padding: 20px 0; width: 140px; }
.logo_container img { width: 100%; height: auto; }
/*.header .www_navigation { float: right; margin-right: 4%; min-width: 385px; }*/
.header .navigation_container .navigation_item { float: left; padding: 39px 5px; }
.header .navigation_container .navigation_label { margin-right: 3px; }
.header .navigation_container .navigation_arrow { display: none; }
.header .logo_container { margin-left: 1%; }
.header .header_button_container { margin-right: 1%; }
.profile_container { margin-right: 1%; }
/* header style }}} */

/* footer style {{{ */
.footer_container .powered_by_container { min-width: auto; margin: 96px 0px 0; }
/* footer style }}} */

/* www index page {{{ */
/*.catwalk_container .catwalk_block { max-width: 330px; width: 39%; }
.catwalk_container .catwalk_block1 { margin-left: 10%; }
.catwalk_container .catwalk_block2 { margin-right: 10%; }*/
.catwalk_button_block { margin-top: 5%; }
/* www index page }}} */

/* catwalk user details style {{{ */
.user_details_container .user_details_left { width: 100%; margin-right: 0%; }
.user_details_container .user_details_right { width: 100%; }
.vote_user_container { width: 100%; }
/* catwalk user details style }}} */

/* profile section {{{ */
/* profile section }}} */

/* container style {{{ */
.generic_container4 { margin-left: 1%; margin-right: 0; width: 69%; }
.generic_container5 { margin-left: 1%; margin-right: 1%; width: 28%; }
.generic_container9 { padding: 0 0 25px; }
.classification_block { width: 95%; }
/* container style }}} */

@media screen and (min-width: 751px) and (max-width: 950px) {
	/* catwalk photoboard page fix */
	.photoboard_image_container > .left, .photoboard_image_container > .right { width: 100%; }
	.photoboard_image_container > .right > .top { width: 100%; margin-top: 20px; }
}

@media screen and (max-width: 800px) {
	/*.header .www_navigation { min-width: 360px; margin-right: 1%; }*/
}

@media screen and (min-width: 850px) and (max-width: 939px) {
	.header .navigation_container .navigation_item { padding: 39px 17px; }
}

@media screen and (min-width: 940px) {
	.header .navigation_container .navigation_item { padding: 39px 30px; }
}

