/* Small screen css style */
.display_only_small { display: inline-block; }
.display_only_big { display: none; }

/* header style {{{ */
.header { padding-bottom: 10px; }
.header .header_button_container { float: left; margin-bottom: 5px; margin-top: 15px; width: 100%; }
.header .navigation_container { background-color: #1a242f; border-bottom: 1px solid black; display: none; float: left; margin-top: 10px; width: 100%; }
.header .navigation_container a { display: inline-block; padding-bottom: 10px; padding-top: 10px; width: 100%; }
.header .navigation_container .navigation_item .menu_item_image { float: left; margin-left: 5%; margin-right: 3%; }
.header .navigation_container .navigation_item .navigation_label { vertical-align: middle; }
.header .logo_container { float: left; margin-left: 5%; margin-top: 10px; }
.header .navbar-default { float: right; margin-right: 5%; margin-top: 10px; }
.header .navbar-default { float: right; margin-right: 5%; margin-top: 10px; }
.header .profile_container { display: none; text-align: center; }
.header .profile_container .profile_container_wrapper { background-color: #1a242f; float: left; margin-top: 10px; width: 100%; }
.header .profile_container .profile_container_wrapper .profile_name_image_container { margin-bottom: 5px; margin-top: 15px; }
.header .profile_container .profile_container_wrapper .profile_name_image_container .profile_name_container { display: inline-block; margin-left: 10px; margin-top: 0; text-align: left; vertical-align: middle; }
.header .profile_container .profile_container_wrapper .profile_name_image_container .profile_image_container { display: inline-block; }
.header .profile_container .navigation_container .navigation_item { text-align: left; }
/* header style }}} */

/* www style {{{ */
.catwalk_block { display: inline-block; float: none; max-width: 280px; width: 90%; }
.generic_container2 { width: 95%; max-width: 450px; }
/* www style }}} */

/* bootstrap elements fix {{{ */
.row { margin: 0px; }
.pagination > li > a, .pagination > li > span { padding: 8px 13px; }
.well { padding: 25px; }
/* bootstrap elements fix }}} */

.generic_container8 .left { margin-bottom: 25px; text-align: center; }
.user_action_link_container { margin-top: 15px; }
.generic_container8, .vote_user_container { display: block; margin: 0 auto; width: 95%; }
.generic_container4, .generic_container6, .generic_container7, .generic_container9 { display: block; margin: 20px auto 0; padding: 15px; width: 95%; }
.generic_container3 > .generic_container { float: none; }
.generic_container6 { max-width: 270px; }
.styled_container1 { display: block; margin: 0 auto; width: 95%; }
.user_top_info_container { margin-left: 15px; width: auto; }
.catwalk_user_main_image { max-width: 250px; width: 100%; }
