/* Small screen css style */

/* bootstrap elements fix {{{ */
.row { margin: 0px; }
.pagination > li > a, .pagination > li > span { padding: 8px 13px; }
.well { padding: 25px; }
.nav.nav-tabs { margin: 10px 0 25px; }
.nav-tabs > li { margin-bottom: 10px; width: 50%; }
.form-control { margin-bottom: 5px; }
.small-no-padding { padding: 0px; }
/* bootstrap elements fix }}} */

.display_only_small { display: inline-block; }
.display_only_big { display: none; }

/* header style {{{ */
.header .header_button_container { float: left; margin-bottom: 15px; margin-top: 15px; width: 100%; }
.header .logged_navigation_container a { display: inline-block; }
.header .navigation_container { background-color: #1a242f; display: none; float: left; width: 100%; }
.header .navigation_container a { padding-bottom: 10px; padding-top: 10px; width: 100%; }
.header .navigation_container .navigation_item .menu_item_image { float: left; margin-left: 5%; margin-right: 3%; }
.header .navigation_container .navigation_item .navigation_label { vertical-align: middle; }
.header .logo_container { float: left; margin-left: 5%; margin-top: 10px; }
.header .navbar-default { float: right; margin-right: 5%; margin-top: 10px; }
.header .navbar-default { float: right; margin-right: 5%; margin-top: 10px; }
.header .profile_container { display: none; text-align: center; }
.header .profile_container .profile_container_wrapper { background-color: #1a242f; float: left; margin-top: 10px; width: 100%; }
.header .profile_container .profile_container_wrapper .profile_name_image_container { margin-bottom: 5px; margin-top: 15px; }
.header .profile_container .profile_container_wrapper .profile_name_image_container .profile_name_container { display: inline-block; margin-left: 10px; margin-top: 0; text-align: left; vertical-align: middle; }
.header .profile_container .profile_container_wrapper .profile_name_image_container .profile_image_container { display: inline-block; }
.header .profile_container .navigation_container .menu_item_container { text-align: left; }
.header .profile_container .navigation_container .menu_item_container .menu_item_image { display: inline-block; margin-left: 5%; margin-right: 2%; }
.header .profile_container .navigation_container .menu_item_container .menu_item_label { display: inline-block; vertical-align: middle; }
/* header style }}} */

/* page title block */
.title_block { padding: 0 2.5%; }

/* footer style {{{ */
/*.footer_block { margin-top: 30px; }*/
.footer_block .powered_by_container { margin-left: 2%; margin-right: 2%; width: 100%; }
.footer_container { padding: 100px 0 25px; }
.footer_block .powered_by_container .footer_year { display: block; }
.footer_nav { margin: 0px auto 70px auto; }
.footer_nav > div { margin-bottom: 10px; }
/* footer style }}} */

/* www style {{{ */
/*.catwalk_block { display: inline-block; float: none; max-width: 280px; width: 90%; }*/
.catwalk_button_block { margin-top: 5%; }
/*.catwalk_container { margin-top: 15px; }*/
.generic_container { width: 100%; }
/* www style }}} */

/* profile section {{{ */
.upload_image_button { width: 100%; max-width: 220px; }
.manage_buttons_container .manage_buttons_block3 { margin-top: 25px; }
.classification_block { width: 100%; }

.profile_image_container .profile_image { width: 100%; max-width: 250px; margin: 0 auto; }

/* notify details page */
.notify_details_container { margin-top: 25px; }
.notify_back_link { display: block; margin: 13px 0 0; }
.publish_date_container { text-align: left; }

/* profile section }}} */

/* catwalk section {{{ */
.vote_type_list a { margin-bottom: 10px; }
.vote_points_container_title { margin-top: 6px; margin-bottom: 14px; text-align: center; }
/* catwalk section }}} */

.generic_container8 .left { margin-bottom: 15px; text-align: center; }
.user_action_link_container { margin-top: 15px; }
.generic_container8, .vote_user_container { display: block; margin: 0 auto; width: 95%; }
.generic_container4, .generic_container6, .generic_container7, .generic_container9 { display: block; padding: 15px; width: 100%; }
/*.generic_container9, .generic_container6 { max-width: 340px; }*/
.generic_container3 > .generic_container { float: none; }
.generic_container6 > .title { margin-top: 10px; }
.styled_container1 { display: block; margin: 0 auto; width: 95%; }
.user_top_info_container { margin-left: 15px; width: auto; }
.catwalk_user_main_image { max-width: 250px; width: 100%; }
.container_row_s40 { margin-bottom: 40px; }

/* bootstrap modal mobile fix {{{ */
.modal-open {
	/*-webkit-overflow-scrolling: touch*/
	overflow: visible;
}

.modal {
	position: absolute;
	/*-webkit-overflow-scrolling: touch*/
	overflow: visible;
}

/* black background only for all bootstrap modal */
.modal-backdrop.in {
	opacity: 0.85!important;
}

@media (min-height: 40em) {
	.modal {
		position: absolute;
	}
	.modal-body {
		max-height: 35em; /* This should be less than the min-height in the media query. */
		overflow-y: auto;
	}
}
/* bootstrap modal mobile fix }}} */
