{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | howto - le votazioni{% endblock %}

{# page description #}
{% block description %}Le votazioni: scopri in dettaglio come funziona il processo di votazione e dai il tuo primo voto{% endblock %}

{% block www_block_content_title_h1 %}Le votazioni{% endblock %}
{% block www_block_content_title_h4 %}{% endblock %}

{% block www_block_content %}
<div class="left_100 info_block image_block right_image_block">
	<div class="centered_page max_width_page">
		<div class="row">
			<div class="col-md-offset-1 col-md-7 info_block_text_container">
				<div class="col-lg-8 no-gutter readable_text1">
					<h4>Premessa</h4>
					<p>Il voto...anzi, dicesi votazione...no...ecco, con votazione si intende quel processo con cui un utente esprime un giudizio verso un altro partecipante. Per poter votare basta rispettare due condizioni: essersi registrati e aver verificato il proprio indirizzo email.</p>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio a votare?</h4>
						<div class="toggle_block_content">
							<p>Votare è molto semplice, per farlo ti basta andare sulla pagina profilo di un partecipante e cliccare sul pulsante "Vota adesso"</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cosa sono i tipi di voto?</h4>
						<div class="toggle_block_content">
							<p>La fase fondamentale della votazione è la scelta del tipo di voto da dare al partecipante, è possibile scegliere tra i possibili voti:</p>
							<dl class="spaced_dl styled_dl">
								<dt>Sguardo ammaliante</dt>
								<dd>Scegli questo voto se credi che il partecipante abbia uno sguardo molto interessante.</dd>
								<dt>Persona solare</dt>
								<dd>Scegli questo voto per una persona particolarmente sorridente e che riesca ad esprimere molta gioia.</dd>
								<dt>Troppo stile</dt>
								<dd>Scegli questo voto se trovi che il partecipante abbia uno stile tutto suo e molto valido.</dd>
								<dt>Che classe</dt>
								<dd>Scegli questo voto per tutti quei partecipanti che hanno qualcosa che ti faccia dire: "wow..."</dd>
								<dt>Impeccabile</dt>
								<dd>Scegli questo voto se il partecipante ti sembra perfetto sotto tutti i punti di vista.</dd>
								<dt>Notevole</dt>
								<dd>Scegli questo voto se trovi che il partecipante sappia distinguersi in mezzo alla folla.</dd>
							</dl>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cosa sono le metriche di valutazione?</h4>
						<div class="toggle_block_content">
							<p>Ogni partecipante viene valutato sulla base di 4 metriche:</p>
							<dl class="spaced_dl styled_dl">
								<dt>Sorriso</dt>
								<dd>Quanto è interessante il sorriso del partecipante.</dd>
								<dt>Sguardo</dt>
								<dd>Quanto è interessante lo sguardo del partecipante.</dd>
								<dt>Globale</dt>
								<dd>Quanto il partecipante è apprezzato a livello generale.</dd>
								<dt>Stile</dt>
								<dd>Quanto è apprezzato lo stile del partecipante (per esempio il modo di vestire).</dd>
							</dl>
							La valutazione avviene in modo implicito, ovvero in base al tipo di voto scelto, i punti vengono automaticamente ripartiti su ogni metrica.
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cos'è la ripartizione dei punti?</h4>
						<div class="toggle_block_content">
							<p>Ogni votazione assegna al partecipante votato 15 punti. I punti vengono ripartiti su ogni <b>metrica di valutazione</b> in base al <b>tipo di voto scelto</b>. Qui di seguito viene illustrato  nel dettaglio per ogni voto come vengono ripartiti i punti sulle metriche.</p>
							<dl class="dl-horizontal spaced_dl styled_dl">
								<dt>Sguardo ammaliante</dt>
								<dd>
									Sorriso: +2<br />
									Sguardo: +8<br />
									Globale: +3<br />
									Stile: +2
								</dd>
								<dt>Persona solare</dt>
								<dd>
									Sorriso: +8<br />
									Sguardo: +2<br />
									Globale: +2<br />
									Stile: +3
								</dd>
								<dt>Troppo stile</dt>
								<dd>
									Sorriso: +3<br />
									Sguardo: +2<br />
									Globale: +3<br />
									Stile: +7
								</dd>
								<dt>Che classe</dt>
								<dd>
									Sorriso: +2<br />
									Sguardo: +2<br />
									Globale: +8<br />
									Stile: +3
								</dd>
								<dt>Impeccabile</dt>
								<dd>
									Sorriso: +4<br />
									Sguardo: +4<br />
									Globale: +3<br />
									Stile: +4
								</dd>
								<dt>Notevole</dt>
								<dd>
									Sorriso: +4<br />
									Sguardo: +4<br />
									Globale: +4<br />
									Stile: +3
								</dd>
							</dl>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Chi e quante volte posso votare?</h4>
						<div class="toggle_block_content">
							<p>Puoi votare tutti i partecipanti che preferisci, ma non puoi votare lo stesso più di una volta nell'arco di 7 giorni.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cosa occorre per votare?</h4>
						<div class="toggle_block_content">
							<p>Per votare devi solo essere registrato al sito e aver confermato il tuo indirizzo email.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come viene stilata la classifica?</h4>
						<div class="toggle_block_content">
							<p>La classifica è data dal punteggio totale di ogni utente (la somma dei punti delle 4 metriche di valutazione), se due o più partecipanti hanno lo stesso punteggio, viene messo davanti quello che in ordine temporale si è registrato prima.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Chi viene decretato vincitore?</h4>
						<div class="toggle_block_content">
							<p>Alla scadenza del concorso, il partecipante che ha più punti rispetto agli altri, viene decretato Miss/Mister {{ site_name }}.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cosa succede al vincitore?</h4>
						<div class="toggle_block_content">
							<p>Il vincitore verrà inserito in cima ad una classifica chiamata "Hall of Fame", contenente i 100 migliori partecipanti, mantenuta nel tempo e liberamente consultabile in ogni momento. Inoltre, la sua foto profilo, verrà messa in evidenza nella <a href="/passerella/">passerella</a> e nella <a href="/index/">home page</a>.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cosa si vince?</h4>
						<div class="toggle_block_content">
							<p>Il concorso è fatto prima di tutto per divertimento. Il vincitore acquisisce più visibilità, inoltre i primi classificati vinceranno la nostra esclusiva maglietta con grafica personalizzata.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 info_block_image_container text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img src="{% static "website/img/il-concorso.png" %}" alt="Come funziona">
			</div>
		</div>
	</div>
</div>
{% endblock www_block_content %}
