{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | howto - i concorsi a tema{% endblock %}

{# page description #}
{% block description %}I concorsi a tema: scopri in dettaglio come funzionano i concorsi a tema e partecipa subito caricando i tuoi scatti migliori. La tua foto verrà messa in evidenza.{% endblock %}

{% block www_block_content_title_h1 %}I concorsi a tema{% endblock %}
{% block www_block_content_title_h4 %}Come funzionano?{% endblock %}

{% block www_block_content %}
<div class="container-fluid info_block info_block_color1">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-7 info_block_text_container">
				<div class="readable_text1">
					<h4>Panoramica</h4>
					<p>I concorsi a tema sono concorsi, come dice la parola stessa, la cui partecipazione è regolata da determinati vincoli. Ecco un <b>esempio</b>: per partecipare al concorso a tema '<i>bianco e nero</i>', occorrerà caricare solo ed esclusivamente fotografie in bianco e nero, il concorso '<i>Selfie</i>', invece, ammetterà solo foto di selfie e così via.</p>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Concorsi a tema vs. concorso principale</h4>
						<div class="toggle_block_content">
							<p>I concorsi a tema sono dei concorsi paralleli che permettono di guadagnare punti extra nella classifica generale. Sono anche un modo divertente per confrontare foto con caratteristiche simili.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio per partecipare ad un concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>
								Partecipare ad un concorso a tema è molto semplice. Per prima cosa devi accedere al tuo profilo (se non ne hai uno devi prima <a href="/registrati/">registrarti</a>) e cliccare sulla voce 'Concorsi a tema'. A questo punto per partecipare devi:
								<ol>
									<li>Selezionare uno tra i concorsi a tema disponibili.</li>
									<li>Selezionare quale immagine del tuo book vorresti inserire nel concorso a tema, tendendo conto dei vincoli richiesti.</li>
								</ol>
								Quando avrai eseguito queste due operazioni, accederai automaticamente alla pagina di informazioni concorso, dalla quale sarà possibile analizzare l'andamento del concorso a tema.
							</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio a vincere un concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>Per poter vincere un concorso a tema è necessario che la tua immagine riceva un determinato numero di 'Mi piace', ogni concorso a tema può richiedere un differente numero di "Mi piace" per poter essere vinto.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio a votare una foto del concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>Per poter votare una foto del concorso a tema ti basta, dalla passerella, cliccare sulla voce 'Concorsi a tema', entrare in un concorso a tema e infine selezionare un'immagine. A questo punto si aprirà la pagina di voto, dalla quale potrai assegnare il "Mi piace".<br />Nota: per poter assegnare il "Mi piace" occorre essere registrati ed aver verificato il proprio account.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Quali sono i concorsi a tema disponibili?</h4>
						<div class="toggle_block_content">
							<p>I concorsi a tema disponibili (per ora) sono i seguenti:</p>
							<dl class="spaced_dl styled_dl">
								<dt>Bianco e nero</dt>
								<dd>Un concorso a tema dedicato alle fotografie in bianco e nero.</dd>
								<dt>Selfie</dt>
								<dd>Un concorso a tema dedicato ai selfie.</dd>
								<dt>Spiaggia</dt>
								<dd>Un concorso a tema dedicato a foto in riva al mare e location marine.</dd>
								<dt>Rétro</dt>
								<dd>Un concorso a tema dedicato alle foto con abiti e ambientazioni rétro.</dd>
								<dt>Graffiti</dt>
								<dd>Un concorso a tema molto street.</dd>
							</dl>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Quando termina un concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>Appena un'immagine raggiunge il numero di "Mi piace" richiesto, il concorso a tema termina e ricomincia. Questo implica che tutti i "Mi piace" ricevuti dalle immagini del concorso a tema vengano azzerati.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Quante volte posso dare il "Mi piace"?</h4>
						<div class="toggle_block_content">
							<p>Puoi assegnare il "Mi piace" alla stessa immagine massimo una volta ogni settimana.</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Cosa accade al vincitore del concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>L'immagine vincitrice verrà messa in evidenza nella relativa sezione del concorso a tema, inoltre, verranno assegnati 32 punti nella classifica generale dell'utente che ha vinto (8 punti per metrica).</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio a rimuovermi da un concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>Per rimuoverti da un concorso a tema, basta, dalla pagina privata di informazioni concorso, cliccare sul link "Smetti di partecipare".</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio ad accedere alla pagina privata di informazioni concorso?</h4>
						<div class="toggle_block_content">
							<p>Per accedere alla pagina privata di informazioni concorso, vai nel tuo profilo, clicca sulla voce "Concorsi a tema", quindi clicca su un concorso dove stai partecipando (uno di quelli evidenziati).</p>
						</div>
					</div>

					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">La mia immagine del concorso a tema è sparita, come mai?</h4>
						<div class="toggle_block_content">
							<p>Se l'immagine che stai utilizzando per il concorso a tema violasse i requisiti richiesti, allora ti verrà eliminata. Questo significa che l'immagine verrà eliminata <b>solo</b> dal concorso a tema, mentre nel tuo book e nel tuo profilo continuerà ad esistere.</p>
						</div>
					</div>

					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Mi piacerebbe ci fossero altri concorsi a tema!</h4>
						<div class="toggle_block_content">
							<p>Vorresti che ci fosse un concorso a tema particolare? Contattaci scrivendo quale ti piacerebbe, se verrà trovato interessante lo inseriremo assieme agli altri concorsi a tema!</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 info_block_image_container text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Le votazioni" src="{% static "website/img/howto-votazioni.png" %}">
			</div>
		</div>
	</div>
</div>
{% endblock www_block_content %}
