{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | howto - i concorsi a tema{% endblock %}

{# page description #}
{% block description %}I concorsi a tema: scopri in dettaglio come funzionano i concorsi a tema.{% endblock %}

{% block www_block_content_title_h1 %}I concorsi a tema{% endblock %}
{% block www_block_content_title_h4 %}Come funzionano?{% endblock %}

{% block www_block_content %}
{# right image block {{{ #}
Panoramica
	[Sigla SuperQuark] I concorsi a tema, come esprime la parola stessa, sono dei concorsi realizzati sulla base di determinati vincoli. Ecco un esempio: per partecipare al concorso a tema '<b>bianco e nero</b>', occorrerà caricare solo ed esclusivamente fotografie in bianco e nero, il concorso '<b>Selfie</b>', invece, ammetterà solo foto di selfie.</b>

Come faccio a partecipare ad un concorso a tema?
	Partecipare ad un concorso a tema è molto semplice. Per prima cosa occorre accede al proprio profilo e cliccare sulla voce 'Concorsi a tema'. A questo punto la partecipazione si sviluppa in 2 fasi:
	<ol>
	<li>Selezionare uno tra i concorsi a tema disponibili.</li>
	<li>Selezionare quale immagine inserire nel concorso a tema, facendo attenzione che l'immagine soddisfi i vincoli richiesti.</li>
	</ol>
	Eseguite queste due operazioni si accederà alla pagina di informazioni, dalla quale sarà possibile analizzare l'andamento del concorso a tema.
Come faccio a vincere un concorso a tema?
	Per poter vincere un concorso a tema è necessario che un'immagine riceva un determinato numero di 'Mi piace', i concorsi a tema possono richiede un diverso numero di "Mi piace" per poter essere vinti.

Come faccio a votare una foto del concorso a tema?
	Per poter votare una foto del concorso a tema basta, dalla passerella, cliccare sulla voce 'Concorsi a tema', selezionare un concorso a tema e infine selezionare un'immagine.
	A questo punto si apre la pagina di voto, dalla quale è possibile assegnare il "Mi piace" all'immagine

Quali sono i concorsi a tema disponibili?
	<p>I concorsi a tema disponibili sono i seguenti:</p>
	<dl class="spaced_dl styled_dl">
		<dt>Bianco e nero</dt>
		<dd>Un concorso a tema dedicato alle fotografie in bianco e nero.</dd>
		<dt>Selfie</dt>
		<dd>Un concorso a tema dedicato ai selfie.</dd>
		<dt>Spiaggia</dt>
		<dd>Un concorso a tema dedicato alle foto in riva al mare.</dd>
		<dt>Rétro</dt>
		<dd>Un concorso a tema dedicato alle foto con abiti e ambientazione rétro</dd>
		<dt>Graffiti</dt>
		<dd>Un concorso a tema molto street.</dd>
	</dl>

Quando termina un concorso a tema?
	Appena un'immagine raggiunge il numero di "Mi piace" richiesto il concorso a tema ricomincia, tutti i "Mi piace" vengono azzerati e l'immagine vincitrice è messa in evidenza

Cosa succede al vincitore del concorso a tema?
	L'immagine vincitrice è messa in evidenza nella relativa sezione del concorso a tema, inoltre verranno assegnati 32 punti nella classifica generale dell'utente (8 punti per metrica)

Come faccio a smettere di partecipare da un concorso a tema
	Per togliersi dalla partecipazione di un concorso a tema, andare nella pagina privata di informazioni concorso e cliccare sul link "Smetti di partecipare".

Come faccio ad accedere alla pagina privata di informazioni concorso?
	Per accedere alla pagina privata di informazioni concorso, vai nel tuo profilo privato, clicca sulla voce "Concorsi a tema", quindi clicca su un concorso nel quale stai partecipando.

Mi piacerebbe che ci fossero altri concorsi a tema!
	Vorresti che si fosse un concorso a tema particolare? Contattaci scrivendo quale ti piacerebbe, se verrà trovato interessante lo inseriremo assieme agli altri concorsi a tema!
<div class="container-fluid info_block info_block_color1">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-7 info_block_text_container">
				<div class="readable_text1">
					<h4>Panoramica</h4>
					<p>[Sigla SuperQuark] I concorsi a tema, come esprime la parola stessa, sono dei concorsi realizzati sulla base di determinati vincoli. Ecco un esempio: per partecipare al concorso a tema '<b>bianco e nero</b>', occorrerà caricare solo ed esclusivamente fotografie in bianco e nero, il concorso '<b>Selfie</b>', invece, ammetterà solo foto di selfie.</b></p>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Come faccio a partecipare ad un concorso a tema?</h4>
						<div class="toggle_block_content">
							<p>
								Partecipare ad un concorso a tema è molto semplice. Per prima cosa occorre accede al proprio profilo e cliccare sulla voce 'Concorsi a tema'. A questo punto la partecipazione si sviluppa in 2 fasi:
								<ol>
									<li>Selezionare uno tra i concorsi a tema disponibili.</li>
									<li>Selezionare quale immagine inserire nel concorso a tema, facendo attenzione che l'immagine soddisfi i vincoli richiesti.</li>
								</ol>
								Eseguite queste due operazioni si accederà alla pagina di informazioni, dalla quale sarà possibile analizzare l'andamento del concorso a tema.
							</p>
						</div>
					</div>
					<hr class="hr_1">
					<div class="toggle_block">
						<h4 class="toggle_block_action">Quali sono i concorsi a tema?</h4>
						<div class="toggle_block_content">
							<p>La fase fondamentale della votazione è la scelta del tipo di voto da dare al partecipante, è possibile scegliere tra i possibili voti:</p>
							<dl class="spaced_dl styled_dl">
								<dt>Sguardo ammaliante</dt>
								<dd>Scegli questo voto se credi che il partecipante abbia uno sguardo molto interessante.</dd>
								<dt>Persona solare</dt>
								<dd>Scegli questo voto per una persona particolarmente sorridente e che riesca ad esprimere molta gioia.</dd>
								<dt>Troppo stile</dt>
								<dd>Scegli questo voto se trovi che il partecipante abbia uno stile tutto suo e molto valido.</dd>
								<dt>Che classe</dt>
								<dd>Scegli questo voto per tutti quei partecipanti che hanno qualcosa che ti faccia dire: "wow..."</dd>
								<dt>Impeccabile</dt>
								<dd>Scegli questo voto se il partecipante ti sembra perfetto sotto tutti i punti di vista.</dd>
								<dt>Notevole</dt>
								<dd>Scegli questo voto se trovi che il partecipante sappia distinguersi in mezzo alla folla.</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-offset-1 col-md-4 info_block_image_container text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Le votazioni" src="{% static "website/img/howto-votazioni.png" %}">
			</div>
		</div>
	</div>
</div>
{# }}} #}
{% endblock www_block_content %}
