{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | come funziona{% endblock %}

{# page description #}
{% block description %}Come funziona {{ site_name }}. Una passerella "virtuale" permette alle modelle e ai modelli di sfilare per essere votati. Chi al termine del concorso avrà ottenuto più punti verrà decretato vincitore.{% endblock %}

{% block block0_0_title_h1 %}Come funziona?{% endblock %}
{% block block0_0_title_h4 %}E' molto semplice{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container1 second_color last_page_element_margin">
	<div class="generic_container_block generic_container_block2 left_100">
		<div class="left">
			<span class="readable_text2">
				<h4>Per chi vota</h4>
				<p>Basta accedere alla passerella donna o alla passerella uomo per essere già al centro dell'azione. E' possibile votare i concorrenti sulla base delle fotografie caricate. Ogni concorrente non può essere votato più di una volta nell'arco di 7 giorni.</p><br />

				<h4>Per chi sfila</h4>
				<p>Chi sfila sulla passerella ha come obiettivo quello di raccogliere più punti rispetto agli altri concorrenti. I punti vengono assegnati nella pagina profilo del modello o della modella, da cui si può sfogliare anche il relativo book fotografico.</p><br />

				<h4>Le votazioni</h4>
				<p>Ogni concorrente (modello o modella iscritta al concorso) è giudicato sulla base di tre metriche:
					<ul class="ul_metrics_details">
						<li><b>globale</b>: è una valutazione generica del concorrente</li>
						<li><b>sorriso</b>: è una valutazione specifica del sorriso</li>
						<li><b>sguardo</b>: è una valutazione specifica dello sguardo</li>
					</ul>
				</p><br />

				<h4>Hai dubbi o domande?</h4>
				<p>Se hai qualche dubbio o domanda su {{ site_name }}, clicca <a href="/passerella/richiesta-aiuto">qui</a>.</p><br />

				<h4>Per caso non starai pensando...</h4>
				<p>Wow che storia, vorrei <a href="/come-iscriversi">iscrivermi</a> al concorso anche io!</p>
			</span>
			<div class="text_image display_only_small">
				<img src="{% static "website/img/il-concorso.png" %}" alt="Come funziona">
			</div>
		</div>
		<div class="right display_only_big">
			<img src="{% static "website/img/il-concorso.png" %}" alt="Come funziona">
		</div>
	</div>
</div>
{% endblock block0_0_content %}
