{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | email verificata{% endblock %}

{# page description #}
{% block description %}email verificata.{% endblock %}

{% block block0_0_title_h1 %}Email verificata correttamente{% endblock %}
{% block block0_0_title_h4 %}{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container1 second_color last_page_element_margin">
	<div class="generic_container_block1 left_100">
		<span class="readable_text2">
			<p>Grazie per aver verificato la tua email, ora puoi utilizzare tutte le funzionalità di {{ site_name }}.</p>
			<p><a href="/">Torna</a> in home page.</p>
		</span>
	</div>
</div>
{% endblock block0_0_content %}
