{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | registrati per votare{% endblock %}

{# page description #}
{% block description %}Registrati per votare: registrati a {{ site_name }} e vota i tuoi partecipanti preferiti.{% endblock %}

{% block block0_0_title_h1 %}Registrati adesso{% endblock %}
{% block block0_0_title_h4 %}Vota i tuoi partecipanti preferiti{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container last_page_element_margin">
	{# register block #}
	<div class="well bs-component">
		{# messages block #}
		<div class="error_container"></div>
		{% if form.errors %}
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<h4>Uhm qualcosa non va!</h4>
						<ul>
							{% for form_error in form.non_field_errors %}
								<li>{{ form_error }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
		<form class="form-horizontal ajax_form" method="post" action="">
			{% csrf_token %}
			<input type="hidden" name="form_class" value="FastRegisterForm">
			<fieldset>
				<legend>Registrati</legend>
				<span class="help-block">
					Ti bastano solo pochi click per poter votare. Inserisci le informazioni richieste e clicca sul pulsante <b>Registrati</b>.
				</span>
				<div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
					<label for="{{ form.first_name.id_for_label }}" class="col-lg-4 control-label">{{ form.first_name.label }} *</label>
					<div class="col-lg-8">
						<input name="{{ form.first_name.name }}" class="form-control" id="{{ form.first_name.id_for_label }}" placeholder="{{ form.first_name.label }}" value="{{ post.first_name }}" type="text">
					</div>
				</div>
				<div class="form-group {% if form.gender.errors %}has-error{% endif %}">
					<label for="{{ form.gender.id_for_label }}" class="col-lg-4 control-label">{{ form.gender.label }} *</label>
					<div class="col-lg-8">
						<div class="col-lg-4 no-gutters">
							<select name="{{ form.gender.name }}" class="form-control" id="{{ form.gender.id_for_label }}">
								<option selected="selected">{{ form.gender.label }}</option>
								{% for key,value in form.fields.gender.choices %}
									<option value="{{ key }}" {% if post.gender == key|slugify %}selected="selected"{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="form-group {% if form.email.errors %}has-error{% endif %}">
					<label for="{{ form.email.id_for_label }}" class="col-lg-4 control-label">{{ form.email.label }} *</label>
					<div class="col-lg-8">
						<input name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}" value="{{ post.email }}" type="email">
					</div>
				</div>
				<div class="form-group {% if form.password.errors %}has-error{% endif %}">
					<label for="{{ form.password.id_for_label }}" class="col-lg-4 control-label">{{ form.password.label }} *</label>
					<div class="col-lg-8">
						<input name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-8 col-lg-offset-4">
						<button type="submit" class="btn btn-primary submitButtonClickAction">Registrati</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock block0_0_content %}
{% block custom_js %}
<script>
	$(document).ready(function(){
		$(".submitButtonClickAction").click(function(event){
			// preventing default click event
			event.preventDefault();
			// serialize form data
			ajaxFormValidation.callData["data"] = $(".ajax_form").serialize();
			// performing ajax call
			ajaxFormValidation.validateForm();

			return true;
		});
	});
</script>
{% endblock custom_js %}
