{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | email verificata{% endblock %}

{# page description #}
{% block description %}email verificata correttamente.{% endblock %}

{% block www_block_content_title_h1 %}Email verificata correttamente{% endblock %}
{% block www_block_content_title_h4 %}{% endblock %}

{% block www_block_content %}
{# centered text content block {{{ #}
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-xs-12 info_block_text_container">
				<div class="readable_text1">
					<h4>Grazie per aver verificato la tua email</h4>
					<p>Ora puoi utilizzare tutte le funzionalità di {{ site_name }}.</p><br />
					<p><a href="/">Torna in home page</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{# }}} #}
{% endblock www_block_content %}
