{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | il portale per modelle, modelli e appassionati di fotografia{% endblock %}

{# page description #}
{% block description %}{{ site_name }} è il portale per modelle, modelli e appassionati di moda e fotografia, esponi il tuo book fotografico, partecipa ad un concorso a tema o semplicemente sfoglia le foto di tutti i partecipanti.{% endblock %}

{# custom page css block #}
{% block custom_css %}
<style>
	html, body { background: url({% static "website/img/background_page.jpg" %}) no-repeat center top; background-attachment: fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-color: #2c3e50; /* max-height: 450px; */ height: 100%; }
</style>
{% endblock %}

{% block www_block_content_wrapper %}
<div class="image_background_container">
	<div class="title_block">
		<h1 class="title">{{ site_name }}</h1>
		<h4 class="description">Scatta, pubblica e vota</h4>
	</div>
	<div class="container-fluid info_block catwalk_button_block">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-md-5 text-center">
				<a class="btn btn-lg btn-woman-catwalk" href="/passerella/donna/">Passerella donna</a>
			</div>
			<div class="col-md-5 col-md-offset-2 text-center">
				<a class="btn btn-lg btn-man-catwalk" href="/passerella/uomo/">Passerella uomo</a>
			</div>
		</div>
	</div>
</div>
{% endblock www_block_content_wrapper %}
{% block www_block_content %}
<div id="scroll-element-1" class="left_100 info_block three_elements_block positio-relative info_block_color2">
	<div class="hidden-xs hidden-sm hidden-md scroll-to-bottom">
		<img class="scrollTriggerAction" alt="Ulteriori informazioni" src="{% static "website/img/home-page-arrow.png" %}">
	</div>
	<div class="centered_page max_width_page">
		<h1 class="text-center">Registrati con 3 semplici mosse</h1>
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="col-lg-12">
					<img alt="1.Registrati" src="{% static "website/img/registrati.png" %}">
				</div>
				<div class="col-lg-12">
					<h4><strong>1.</strong>&nbsp;Registrati</h4>
				</div>
				<div class="col-md-offset-1 col-md-10 readable_text1">
					La registrazione è semplice e veloce basta inserire le informazioni richieste e caricare qualche foto.
				</div>
				<div class="visible-xs-inline-block visible-sm-inline-block block-vspace"></div>
			</div>
			<div class="col-md-4 text-center">
				<div class="col-lg-12">
					<img alt="2.Carica le foto" src="{% static "website/img/carica-foto.png" %}">
				</div>
				<div class="col-lg-12">
					<h4><strong>2.</strong>&nbsp;Carica le tue foto</h4>
				</div>
				<div class="col-md-offset-1 col-md-10 readable_text1">
					Carica le tue foto preferite e quante ne vuoi, crea un profilo ricco di fotografie e stupisci tutti con i tuoi scatti fotografici preferiti.
				</div>
				<div class="visible-xs-inline-block visible-sm-inline-block block-vspace"></div>
			</div>
			<div class="col-md-4 text-center">
				<div class="col-lg-12">
					<img alt="3.Scala la classifica" src="{% static "website/img/scala-classifica.png" %}">
				</div>
				<div class="col-lg-12">
					<h4><strong>3.</strong>&nbsp;Scala la classifica</h4>
				</div>
				<div class="col-md-offset-1 col-md-10 readable_text1">
					Fatti votare e partecipa ai divertenti concorsi a tema, in questo modo le tue foto godranno di ottima visibilità...pensi di farcela ad entrare nell'ambita Hall Of Fame?
				</div>
			</div>
		</div>
	</div>
</div>
{# winner block {{{ #}
{% if woman_contest_winner or man_contest_winner %}
	<div class="container-fluid info_block grid_list_block winner_block">
		<h1 class="text-center">I vincitori della scorsa edizione</h1>
		<div class="row">
			<div class="col-md-10 col-md-offset-1 no-gutter">
				<div class="col-xs-12 info_block_text_container">
					{% if woman_contest_winner %}
						<div class="col-xs-12 col-sm-6 no-gutter">
							<div class="col-xs-12 no-gutter woman-hall-of-fame-winner">
								<div class="col-xs-3 no-gutter">
									<a href="classifica/{{ woman_contest_code }}/">
										<img class="img-circle" alt="{{ woman_contest_winner.user__first_name }} {{ woman_contest_winner.user__last_name }}" src="{{ woman_contest_winner.profile_image }}">
									</a>
								</div>
								<div class="col-xs-8 col-xs-offset-1 no-gutter">
									<h4>{{ woman_contest_winner.user__first_name }} {{ woman_contest_winner.user__last_name }}</h4>
									<p><a class="btn" href="classifica/{{ woman_contest_code }}/">vincitrice anno {{ woman_contest_winner.contest__start_date | date:"Y" }}</a></p>
								</div>
								<div class="col-xs-12 visible-xs-inline-block block-vspace"></div>
							</div>
						</div>
					{% endif %}
					{% if man_contest_winner %}
						<div class="col-xs-12 col-sm-6 no-gutter">
							<div class="col-xs-12 no-gutter man-hall-of-fame-winner">
								<div class="col-xs-8 text-right no-gutter">
									<h4>{{ man_contest_winner.user__first_name }} {{ man_contest_winner.user__last_name }}</h4>
									<p><a class="btn" href="classifica/{{ man_contest_code }}/">vincitore anno {{ man_contest_winner.contest__start_date | date:"Y" }}</a></p>
								</div>
								<div class="col-xs-3 col-xs-offset-1 no-gutter">
									<a href="classifica/{{ man_contest_code }}/">
										<img class="img-circle" alt="{{ man_contest_winner.user__first_name }} {{ man_contest_winner.user__last_name }}" src="{{ man_contest_winner.profile_image }}">
									</a>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{# }}} #}
{% endif %}
{# right image block {{{ #}
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-7 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Selfie, bianco e nero, graffiti, ...</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Concorsi a tema</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					Partecipa ai concorsi a tema: carica le tue foto preferite avendo cura di rispettare i vincoli forniti e scopri se hai la foto più "in" del momento. <i>Selfie</i>, <i>bianco e nero</i>, <i>graffiti</i>: sono solo alcuni tra concorsi a tema disponibili. Provali tutti!
				</div>
				<div class="col-lg-12 no-gutter"><a href="/howto/concorsi-a-tema/">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-offset-1 col-md-4 info_block_image_container text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="I concorsi a tema" src="{% static "website/img/concorsi-a-tema.png" %}">
			</div>
		</div>
	</div>
</div>
{# }}} #}
{# left image block {{{ #}
<div class="container-fluid info_block info_block_color1">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Premi stilosi</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Vinci le nostre fantastiche magliette</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					In palio, per i vincitori dei concorsi uomo e donna, le nostre magliette con grafica personalizzata di {{ site_name }}, vesti lo stile! Inoltre, per una buone dose di visibilità, la foto dei due vincitori, verrà esposta in home page e nella rispettiva passerella per tutta la durata del concorso successivo.
				</div>
				<div class="col-lg-12 no-gutter"><a href="/caratteristiche/">Guarda tutte le caratteristiche</a></div>
			</div>
			<div class="col-md-4 col-md-pull-8 info_block_image_container text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Vinci le nostre fantastiche magliette" src="{% static "website/img/vinci-la-maglietta.png" %}">
			</div>
		</div>
	</div>
</div>
{# }}} #}
{# left image block {{{ #}
{% comment %}
<div class="container-fluid info_block info_block_color1">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Sorriso, sguardo o stile</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Scopri il tuo lato più apprezzato</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					Grazie ad un sistema di votazione unico, la classifica si animerà di innumerevoli colpi di scena, garantendo avvincenti scontri fino all'ultimo secondo. "<b>Sguardo ammaliante</b>", "<b>Troppo stile</b>" e "<b>Che classe</b>" sono solo alcuni tra i voti che è possibile assegnare.
				</div>
				<div class="col-lg-12 no-gutter"><a href="/howto/le-votazioni/">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-4 col-md-pull-8 info_block_image_container text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Scopri il lato più apprezzato" src="{% static "website/img/lato-apprezzato.png" %}">
			</div>
		</div>
	</div>
</div>
{% endcomment %}
{# }}} #}
{# right image block {{{ #}
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-7 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Classifiche annuali</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Entra nell'esclusiva Hall Of Fame</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					La "Hall Of Fame" è la classifica annuale liberamente consultabile che racchiude i 100 partecipanti più apprezzati. Utile per visualizzare il trend del momento riguardo al concetto di moda. Solo i partecipanti più influenti avranno il diritto di farne parte.
				</div>
				<div class="col-lg-12 no-gutter"><a href="/caratteristiche/">Guarda tutte le caratteristiche</a></div>
			</div>
			<div class="col-md-offset-1 col-md-4 info_block_image_container text-xs-center text-md-right">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Entra nell'esclusiva Hall Of Fame" src="{% static "website/img/hall-of-fame.png" %}">
			</div>
		</div>
	</div>
</div>
{# }}} #}
{# Signup emphasis bottom block #}
{% include "website/inc/include_blocks/signup_emphasis_bottom_block.html" %}
{% endblock www_block_content %}

{# page extra js #}
{% block custom_js %}
{{ block.super }}
<script src="{% static "website/js/vendor/jquery.scrollTo.min.js" %}"></script>
<script>
	$(document).ready(function(){
		$(document).on("click", ".scrollTriggerAction", function() {
			$(document).scrollTo('#scroll-element-1', {duration:2000});
		});
	});
</script>
{% endblock %}
