{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | il concorso di bellezza fatto a misura di web{% endblock %}

{# page description #}
{% block description %}{{ site_name }}: è il primo concorso di bellezza fatto a misura di web, i modelli e le modelle sfilano sulla passerella, chi al termine del concorso avrà ricevuto più voti, verrà decretato vincitore. Iscriviti anche tu e carica i tuoi scatti fotografici migliori.{% endblock %}

{% block block0_0_content %}
<div class="catwalk_container">
	<!-- passerella donna -->
	<div class="catwalk_block catwalk_block1 float_left">
		<div class="title_container">
			<h3>Passerella donna</h3>
		</div>
		<div class="image_container">
			<img alt="Passerella donna" src="{% static "website/img/passerella_donna.png" %}" width="200" height="107">
		</div>
		<div class="button_container">
			<a class="btn btn-danger" href="/passerella/woman-contest">Visita</a>
		</div>
	</div>
	<!-- passerella uomo -->
	<div class="catwalk_block catwalk_block2 float_right">
		<div class="title_container">
			<h3>Passerella uomo</h3>
		</div>
		<div class="image_container">
			<img alt="Passerella uomo" src="{% static "website/img/passerella_uomo.png" %}" width="190" height="107">
		</div>
		<div class="button_container">
			<a class="btn btn-danger" href="/passerella/man-contest">Visita</a>
		</div>
	</div>
</div>
{% endblock block0_0_content %}
