{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | la classifica{% endblock %}

{# page description #}
{% block description %}La classifica di {{ site_name }}. Scopri il vincitore del concorso e consulta la classifica dei top 100 in qualsisi momento.{% endblock %}

{% block block0_0_title_h1 %}La classifica{% endblock %}
{% block block0_0_title_h4 %}{{ contest_name }}{% if top_100_users %}, anno {{ contest_start_date | date:"Y" }}{% endif %}{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container1 third_color last_page_element_margin">
	<div class="generic_container_block generic_container_block2 left_100">
		{% if top_100_users %}
			<span class="readable_text3">
				<h4>Risultati:</h4>
				<p>La classifica completa dei top 100 del <b>{{ contest_name }}, anno {{ contest_start_date | date:"Y" }}</b>. Consultala quando vuoi per leggere punteggio e posizione, clicca sul link "Vai al profilo" per visitare il profilo del partecipante, clicca sul nome di uno dei primi 5 partecipanti per andare alla pagina dedicata del concorso.</p><br />
			</span>
			<div class="col-xs-12">
				<div class="table-responsive">
					<table class="table table-striped table-hover ">
						<thead>
							<tr>
								<th>#</th>
								<th>Nome</th>
								<th>Cognome</th>
								<th>Punteggio</th>
								<th>Profilo</th>
							</tr>
						</thead>
						<tbody>
						{% for user in top_100_users %}
							<tr>
								<td>{% if user.disqualified %}<span data-toggle="tooltip" data-placement="top" data-original-title="Votazione errata">-</span>{% else %}{{ user.ranking }}{% endif %}</td>
								<td>
									{% if user.ranking >= 1 and user.ranking <= 5 and not user.disqualified %}
										<a href="/podio/{{ contest_type }}/{{ contest_start_date | date:"Y" }}/{{ user.user__id }}/">{{ user.user__first_name }}</a>
									{% else %}
										{{ user.user__first_name }}
									{% endif %}
								</td>
								<td>{{ user.user__last_name }}</td>
								<td>{{ user.points }}</td>
								<td><a href="/passerella/dettaglio-utente/{{ user.user__id }}/">Vai al profilo</a></td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		{% else %}
			<span class="readable_text3">
				<h4>Attenzione:</h4>
				<p><b>La pagina non contiene ancora dei risultati.</b></p>
			</span>
		{% endif %}
	</div>
</div>
{% endblock block0_0_content %}
{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
{% endblock custom_js %}
