{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | errore 404{% endblock %}

{# page description #}
{% block description %}Pagina di errore 404{% endblock %}

{% block www_block_content_title_h1 %}Errore 404{% endblock %}
{% block www_block_content_title_h4 %}{% endblock %}

{% block www_block_content %}
{# centered text content block {{{ #}
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-xs-12 info_block_text_container">
				<div class="readable_text1">
					<h4>Ops...</h4>
					<p>La pagina richiesta non esiste.</p><br />
					<p><a href="/index/">Torna in home page</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
{# }}} #}
{% endblock www_block_content %}
