{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | come funziona{% endblock %}

{# page description #}
{% block description %}Come funziona {{ site_name }}. Una passerella "virtuale" permette alle modelle e ai modelli di sfilare per essere votati. Chi al termine del concorso avrà ottenuto più punti verrà decretato vincitore.{% endblock %}

{% block www_block_content_title_h1 %}Come funziona?{% endblock %}
{% block www_block_content_title_h4 %}E' molto semplice{% endblock %}

{% block www_block_content %}
<div class="left_100 info_block image_block right_image_block">
	<div class="centered_page max_width_page">
		<div class="row">
			<div class="col-md-offset-1 col-md-7 info_block_text_container">
				<div class="col-lg-8 no-gutter readable_text1">
					<h4>Per chi vota</h4>
					<p>Basta accedere alla passerella donna o alla passerella uomo per essere già al centro dell'azione. E' possibile votare i concorrenti sulla base delle fotografie caricate. Ogni concorrente non può essere votato più di una volta nell'arco di 7 giorni. Per ogni concorrente è possibile scegliere differenti tipi di voto: sguardo ammaliante, persona solare, troppo stile, che classe, impeccabile e notevole. Per capire in dettaglio come funziona la fase di votazione <a href="/howto/le-votazioni/">clicca qui</a>.</p><br />

					<h4>Per chi sfila</h4>
					<p>Chi sfila sulla passerella ha come obiettivo quello di raccogliere più punti rispetto agli altri concorrenti. I punti vengono assegnati nella pagina profilo del modello o della modella, da cui si può sfogliare anche il relativo book fotografico.</p><br />

					<h4>Le votazioni</h4>
					<p>Ogni concorrente (utente iscritto al concorso) è giudicato sulla base di quattro metriche:
						<ul class="ul_metrics_details">
							<li><b>sorriso</b>: valuta il sorriso del concorrente</li>
							<li><b>sguardo</b>: valuta lo sguardo del concorrente</li>
							<li><b>globale</b>: valuta il concorrente nell'insieme</li>
							<li><b>stile</b>: valuta il modo di essere del concorrente</li>
						</ul>
					</p><br />

					<h4>Hai dubbi o domande?</h4>
					<p>Se hai qualche dubbio o domanda su {{ site_name }}, clicca <a href="/passerella/richiesta-aiuto">qui</a>.</p><br />

					<h4>Per caso non starai pensando...</h4>
					<p>Wow che storia, vorrei <a href="/come-iscriversi">iscrivermi</a> al concorso anche io!</p>
				</div>
			</div>
			<div class="col-md-4 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img src="{% static "website/img/il-concorso.png" %}" alt="Come funziona">
			</div>
		</div>
	</div>
</div>
{% endblock www_block_content %}
