{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | termini d'uso{% endblock %}

{# page description #}
{% block description %}Termini d'uso: Condizioni d'utilizzo del sito web "www.beautyandpics.com"{% endblock %}

{% block block0_0_title_h1 %}Termini d'uso di Beauty and Pics{% endblock %}
{% block block0_0_title_h4 %}{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container1 second_color last_page_element_margin">
	{# how it works block #}
	<div class="generic_container_block1 left_100">
		<span class="readable_text2">
		    <h4>1. Disposizioni generali</h4>
		    <p>1.1 Ai fini delle presenti condizioni di utilizzo per Utente si intende il soggetto che fruisce dei servizi offerti dal sito www.beautyandpics.com, sia qualora si limitasse alla consultazione delle informazioni ivi inserite  sia qualora procedesse all’utilizzo delle aree riservate.</p>
		    <p>1.2 La fruizione del sito è regolato dalle presenti condizioni di utilizzo, la cui accettazione costituisce un accordo tra l'Utente e il Titolare ed è prestata con il mero fatto della navigazione nelle pagine Web.</p>
		    <p>1.3 Ulteriori regole e condizioni potranno essere predisposte dal Titolare a disciplina di singoli servizi offerti nel Sito: l'Utente dovrà conformarsi ad esse per usufruire dei relativi beni e servizi.</p>
		    <p>1.4 La legge applicabile ai rapporti nascenti dalla fruizione del servizio è quella italiana, alla luce della quale dovranno anche interpretarsi le presenti condizioni di utilizzo.</p>
		    <p>1.5 Con il termine Titolare del servizio si indica in modo univoco Entpy Software (www.entpy.com).</p>
		    <p>1.6 Il Titolare si riserva di apportare in qualsiasi momento modifiche anche sostanziali alle presenti condizioni di utilizzo, mettendone a conoscenza l'Utente mediante pubblicazione nel Sito. L'accesso successivo alla modifica comporta la completa accettazione da parte dell'Utente delle nuove condizioni di utilizzo.</p>
		    <p>1.7 Nel testo vengono menzionati termini prettamente informatici, comunemente riconosciuti e dall'univoco significato che, sino a contraria espressa istanza, si presuppongono noti e compresi dal fruitore del sito e dei servizi per esso offerti.</p><br />

		    <h4>2. Requisiti e obblighi dell'Utente.</h4>
		    <p>2.1 L'Utente si obbliga a non accedere alle aree riservate qualora non sia il vero e legittimo titolare delle credenziali di accesso.</p><br />

		    <h4>3. Ulteriori obblighi dell'Utente.</h4>
		    <p>3.1 L'Utente è tenuto a fruire del sito web e dei servizi per esso offerti nel puntuale e costante rispetto della legge, dell'ordine pubblico e del buon costume (comprese le norme consuetudinarie riconducibili alla c.d. Netiquette), e di quanto stabilito nelle presenti condizioni di utilizzo.</p>
		    <p>3.2 Attivato l'account, l'Utente si obbliga ad usare lo stesso, e comunque le correlate email e password, legittimamente e in maniera corretta, anche alla luce delle conseguenze giuridiche legate a tale uso.</p>
		    <p>3.3 Entpy Software non risponde in alcun modo della illegittima consultazione dei dati personali contenuti nell'area riservata ad opera di terzi non autorizzati che siano venuti a conoscenza delle credenziali di autenticazione dell'Utente per negligenza di quest'ultimo.</p>
		    <p>3.4 L'Utente si obbliga a non turbare in alcun modo, la fruizione del servizio da parte degli altri Utenti.</p>
		    <p>3.5 Qualora l'Utente proceda alla pubblicazione su un Social Network dei contenuti del sito www.beautyandpics.com, tramite un proprio account, si assume ogni responsabilità che ne possa derivare.</p><br />

		    <h4>4. Obblighi, garanzie ed esoneri di responsabilità del Titolare.</h4>
		    <p>4.1 Il Titolare si impegna a fornire all'Utente la fruibilità online del sito web e dei servizi per esso offerti, nonché gli strumenti di comunicazione ad essi collegati, curandone la implementazione compatibilmente all'attuale stato di evoluzione degli strumenti informatici.</p>
		    <p>4.2 Il Titolare ha la facoltà di utilizzare strumenti di comunicazione e/o pubblicazione alternativi e/o accessori al Sito, per rendere fruibili i servizi offerti agli Utenti, anche impiegando, a titolo esemplificativo e non esaustivo, tecniche di linking o mirroring.</p>
		    <p>4.3 Il Titolare non è responsabile per eventuali utilizzi del presente sito web e dei servizi per esso offerti effettuati in violazione di legge, del buon costume o dell'ordine pubblico, ovvero in difformità di quanto prescritto dalle presenti condizioni di utilizzo.</p>
		    <p>4.4 Il Titolare non offre alcuna garanzia circa l'aggiornamento delle informazioni inserite nel sito.</p>
		    <p>4.5 Il Titolare non esercita alcun controllo sui collegamenti ad altri Siti web e sul loro contenuto, presenti nelle proprie pagine. Nel caso il collegamento sia riferibile ad un Sito che offre ulteriori servizi per il tramite del Titolare, il relativo utilizzo sarà regolato dalle condizioni di utilizzo predisposte dal fornitore del servizio stesso.</p>
		    <p>4.6 Il Titolare non risponde per eventuali danni e/o perdite e/o malfunzionamenti e/o pregiudizi di qualsiasi genere che possano derivare all'elaboratore elettronico dell'Utente dall'uso del servizio dalla stessa erogato, né per eventuali contaminazioni del sistema informatico derivanti dall'accesso, dall'interconnessione, dallo scarico di materiale e programmi informatici dal sito; le relative spese di riparazione/ripristino rimangono onere dell'Utente.</p><br />

		    <h4>5. Proprietà intellettuale</h4>
		    <p>5.1 Il presente sito web è protetto dalla normativa vigente in Italia in materia di diritto d'autore.</p>
		    <p>5.2 All'Utente è vietato copiare o altrimenti apprendere, pubblicare, diffondere, trasmettere o rendere altrimenti disponibili, anche parzialmente e/o a seguito di modificazioni, quanto pubblicato nel sito web, ad eccezione dei casi in cui ciò sia espressamente previsto nel sito, come ad esempio per la pubblicazione sui Social Network di alcuni contenuti.</p><br />

		    <h4>6 Disposizioni finali</h4>
		    <p>6.1 Il Titolare si riserva il diritto unilaterale di modifica, sospensione od interruzione del sito web e dei servizi per esso offerti, nonché la modifica, sospensione od interruzione dell'account e degli strumenti di comunicazione ad esso collegati del singolo Utente.</p>
		    <p>6.2 Il Titolare si riserva, inoltre, di dare seguito a future iniziative imprenditoriali e pubblicitarie, anche a pagamento, tramite l'utilizzo nel sito web di qualsiasi logo e/o marchio di terzi, inclusi banner pubblicitari e qualsiasi altra inserzione pubblicitaria per la promozione e il marketing, diretto e/o indiretto, di qualsiasi bene, prodotto e servizio.</p><br />

		    <h4>7 Giurisdizione</h4>
		    <p>7.1 L'utilizzo dei servizi forniti dal Titolare per tramite del sito web non è autorizzato nelle giurisdizioni che non riconoscono la validità di tutte le disposizioni rilasciate per mezzo delle presenti condizioni d'uso, compreso, senza limitazione, questo paragrafo.</p><br />

		    <h4>8 Note sulla privacy</h4>
		    <p>8.1 Informazioni sulla nostra <a href="/privacy/">Privacy Policy</a>.</p>
		</span>
	</div>
</div>
{% endblock block0_0_content %}
