{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Beauty and Pics | il contest fatto a misura di web{% endblock %}

{# page description #}
{% block description %}pagina index{% endblock %}

{% block block0_0_title_h1 %}Sfoggia il tuo stile sul web{% endblock %}
{% block block0_0_title_h4 %}La prossima o il prossimo miss Beauty and Pics potresti essere tu{% endblock %}

{% block block0_0_content %}
<div class="catwalk_container">
	<!-- passerella donna -->
	<div class="catwalk_block catwalk_block1 float_left">
		<div class="title_container">
			<h3>Passerella donna</h3>
		</div>
		<div class="image_container">
			<img alt="Passerella donna" src="{% static "website/img/passerella_donna.png" %}" width="200" height="107">
		</div>
		<div class="button_container">
			<a class="btn btn-danger" href="/passerella/woman_contest">Visita</a>
		</div>
	</div>
	<!-- passerella uomo -->
	<div class="catwalk_block catwalk_block2 float_right">
		<div class="title_container">
			<h3>Passerella uomo</h3>
		</div>
		<div class="image_container">
			<img alt="Passerella donna" src="{% static "website/img/passerella_uomo.png" %}" width="190" height="107">
		</div>
		<div class="button_container">
			<a class="btn btn-danger" href="/passerella/man_contest">Visita</a>
		</div>
	</div>
</div>
{% endblock block0_0_content %}
