{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}Beauty and Pics | pagina registrati {% endblock %}

{# page description #}
{% block description %}pagina di registrazione{% endblock %}

{% block block0_0_title_h1 %}Sfoggia il tuo stile sul web{% endblock %}
{% block block0_0_title_h4 %}La prossima o il prossimo miss Beauty and Pics potresti essere tu{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container2 last_page_element_margin">
	{# register block #}
	<div class="well bs-component">
		{# messages block #}
		{% if messages %}
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger">
						<h4>Uhm qualcosa non va!</h4>
						<ul>
							{% for message in messages %}
								<li>{{ message }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		{% endif %}
		<form class="form-horizontal" method="post" action="">
			{% csrf_token %}
			{% if form.errors %}
				<div>{{ form.errors|escape }}</div>
				{#{% for field in form %}#}
					{#{% if field.errors %}#}
						{#<div>{{ field.label|escape }} {{ field.errors|escape }}</div>#}
					{#{% endif %}#}
				{#{% endfor %}#}
			{% endif %}
			<fieldset>
				<legend>Registrati</legend>
				<span class="help-block">
					Il prossimo Mister o la prossima Miss <b>Beauty and Pics</b> potresti essere tu. Registrati ora per partecipare al concorso.
				</span>
				<div class="form-group {% if form.first_name.errors %}has-error{% endif %}">
					<label for="{{ form.first_name.id_for_label }}" class="col-lg-4 control-label">{{ form.first_name.label }} *</label>
					<div class="col-lg-8">
						<input name="{{ form.first_name.name }}" class="form-control" id="{{ form.first_name.id_for_label }}" placeholder="{{ form.first_name.label }}" value="{{ post.first_name }}" type="text">
					</div>
				</div>
				<div class="form-group {% if form.last_name.errors %}has-error{% endif %}">
					<label for="{{ form.last_name.id_for_label }}" class="col-lg-4 control-label">{{ form.last_name.label }}</label>
					<div class="col-lg-8">
						<input name="{{ form.last_name.name }}" class="form-control" id="{{ form.last_name.id_for_label }}" placeholder="{{ form.last_name.label }}" value="{{ post.last_name }}" type="text">
					</div>
				</div>
				<div class="form-group {% if form.birthday_day.errors or form.birthday_month.errors or form.birthday_year.errors %}has-error{% endif %}">
					<label for="{{ form.birthday_day.id_for_label }}" class="col-lg-4 control-label">Data di nascita *</label>
					<div class="col-lg-8">
						<div class="col-lg-4 no-gutters">
							<select name="{{ form.birthday_day.name }}" class="form-control" id="{{ form.birthday_day.id_for_label }}">
								<option selected="selected">{{ form.birthday_day.label }}</option>
								{% for key,value in form.fields.birthday_day.choices %}
									<option value="{{ key }}" {% if post.birthday_day == key|slugify %}selected="selected"{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-lg-4 no-gutters">
							<select name="{{ form.birthday_month.name }}" class="form-control">
								<option selected="selected">{{ form.birthday_month.label }}</option>
								{% for key,value in form.fields.birthday_month.choices %}
									<option value="{{ key }}" {% if post.birthday_month == key|slugify %}selected="selected"{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="col-lg-4 no-gutters">
							<select name="{{ form.birthday_year.name }}" class="form-control">
								<option selected="selected">{{ form.birthday_year.label }}</option>
								{% for key,value in form.fields.birthday_year.choices %}
									<option value="{{ key }}" {% if post.birthday_year == key|slugify %}selected="selected"{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<div class="form-group {% if form.gender.errors %}has-error{% endif %}">
					<label for="{{ form.gender.id_for_label }}" class="col-lg-4 control-label">{{ form.gender.label }} *</label>
					<div class="col-lg-8">
						<div class="col-lg-4 no-gutters">
							<select name="{{ form.gender.name }}" class="form-control" id="{{ form.gender.id_for_label }}">
								<option selected="selected">{{ form.gender.label }}</option>
								{% for key,value in form.fields.gender.choices %}
									<option value="{{ key }}" {% if post.gender == key|slugify %}selected="selected"{% endif %}>{{ value }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
				</div>
				<legend>Dati di accesso</legend>
				<div class="form-group {% if form.email.errors %}has-error{% endif %}">
					<label for="{{ form.email.id_for_label }}" class="col-lg-4 control-label">{{ form.email.label }} *</label>
					<div class="col-lg-8">
						<input name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}" value="{{ post.email }}" type="email">
					</div>
				</div>
				<div class="form-group {% if form.password.errors %}has-error{% endif %}">
					<label for="{{ form.password.id_for_label }}" class="col-lg-4 control-label">{{ form.password.label }} *</label>
					<div class="col-lg-8">
						<input name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-8 col-lg-offset-4">
						<button type="submit" class="btn btn-primary">Registrati</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock block0_0_content %}
