{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | Come funziona{% endblock %}

{# page description #}
{% block description %}Come funziona: {{ site_name }} è un concorso di bellezza. Una passerella permette ai partecipanti di sfilare per essere votati. Chi al termine del concorso avrà ottenuto più punti verrà decretato vincitore.{% endblock %}

{% block block0_0_title_h1 %}Ecco come funziona{% endblock %}
{% block block0_0_title_h4 %}{% endblock %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container1 second_color last_page_element_margin">
	{# how it works block #}
	<div class="generic_container_block generic_container_block1 left_100">
		<div class="left">
			<img src="{% static "website/img/come-funziona.png" %}" alt="Come funziona">
		</div>
		<div class="right">
			<div class="top">Il concorso</div>
			<div class="bottom">
				<span class="readable_text1">
					Beauty and Pics è il primo concorso di bellezza fatto a misura di web. E' del tutto simile ad un concorso reale: una passerella permette ai concorrenti di "sfilare" per essere votati. Il concorso ha una durata di 11 mesi, al termine dei quali chi avrà totalizzato più punti verrà decretato miss/mister Beauty and Pics.
				</span>
			</div>
		</div>
	</div>
	{# how it works block #}
	<div class="generic_container_block generic_container_block2 left_100">
		<div class="left">
			<div class="top" id="howItWorksAnchor">Come funziona?</div>
			<div class="bottom">
				<span class="readable_text1">
				    Il funzionamento è molto semplice. Basta accedere alla passerella donna o alla passerella uomo per essere già al centro dell'azione. E' possibile votare i partecipanti sulla base delle loro fotografie caricate. Ogni votante non può essere votato più di una volta nell'arco di 48 ore.
				</span>
			</div>
		</div>
		<div class="right">
			<img src="{% static "website/img/il-concorso.png" %}" alt="Come funziona">
		</div>
	</div>
	{# how it works block #}
	<div class="generic_container_block generic_container_block1 left_100">
		<div class="left">
			<img src="{% static "website/img/come-iscriversi.png" %}" alt="Come funziona">
		</div>
		<div class="right">
			<div class="top" id="signupAnchor">Come iscriversi</div>
			<div class="bottom">
				<span class="readable_text1">
					Vuoi metteri in gioco? La prossima o il prossimo mister Beauty and Pics potresti essere tu! Occorre solo essere maggiorenni. Per partecipare basta iscriversi cliccando sul pulsante "Partecipa", inserire i dati richiesti e caricare gli scatti fotografici migliori!
				</span>
			</div>
		</div>
	</div>
</div>
{% endblock block0_0_content %}
