{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | il concorso di bellezza online fatto a misura di web{% endblock %}

{# page description #}
{% block description %}{{ site_name }}: è il primo concorso di bellezza online fatto a misura di web, i modelli e le modelle sfilano sulla passerella, chi al termine del concorso avrà ricevuto più voti, verrà decretato vincitore. Iscriviti anche tu e carica i tuoi scatti fotografici migliori.{% endblock %}

{% block www_block_content_title_h1 %}Caratteristiche{% endblock %}
{% block www_block_content_title_h4 %}Qualcosa per stuzzicarti l'appetito{% endblock %}

{% block www_block_content %}
{# centered text content block {{{ #}
<div class="container-fluid info_block grid_list_block info_block_color3">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-xs-12 info_block_text_container">
				<div class="col-xs-12 col-sm-5 no-gutter">
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-3 no-gutter">
							<img alt="Scopri il lato più apprezzato" src="{% static "website/img/features/diverse-metriche.png" %}">
						</div>
						<div class="col-xs-8 col-xs-offset-1 no-gutter">
							<h4>Diverse metriche di valutazione</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus.</p>
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-8 col-sm-push-4 no-gutter">
							<h4>Tempi e durata</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus.</p>
						</div>
						<div class="col-xs-3 col-sm-pull-8 col-xs-offset-1 col-sm-offset-0 no-gutter">
							<img alt="Scopri il lato più apprezzato" src="{% static "website/img/features/tempi-durata.png" %}">
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-3 no-gutter">
							<img alt="Scopri il lato più apprezzato" src="{% static "website/img/features/premi-esclusivi.png" %}">
						</div>
						<div class="col-xs-8 col-xs-offset-1 no-gutter">
							<h4>Premi esclusivi</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus.</p>
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
				</div>
				<div class="col-xs-12 col-sm-5 col-xs-offset-0 col-sm-offset-2 no-gutter">
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-8 col-sm-push-4 no-gutter">
							<h4>Maggiore visibilità</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus.</p>
						</div>
						<div class="col-xs-3 col-sm-pull-8 col-xs-offset-1 col-sm-offset-0 no-gutter">
							<img alt="Scopri il lato più apprezzato" src="{% static "website/img/features/maggiore-visibilita.png" %}">
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-3 no-gutter">
							<img alt="Scopri il lato più apprezzato" src="{% static "website/img/features/crea-book.png" %}">
						</div>
						<div class="col-xs-8 col-xs-offset-1 no-gutter">
							<h4>Crea il tuo book</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus.</p>
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-8 col-sm-push-4 no-gutter">
							<h4>Sistema di votazione esclusivo</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus.</p>
						</div>
						<div class="col-xs-3 col-sm-pull-8 col-xs-offset-1 col-sm-offset-0 no-gutter">
							<img alt="Scopri il lato più apprezzato" src="{% static "website/img/features/votazioni.png" %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{# }}} #}
{# Signup emphasis bottom block #}
{% include "website/inc/include_blocks/signup_emphasis_bottom_block.html" %}
{% endblock www_block_content %}
