{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | hai già un account?{% endblock %}

{# page description #}
{% block description %}Sei già una modella o un modello? Accedi alla tua area privata{% endblock %}

{% block www_block_content_title_h1 %}Area privata{% endblock %}
{% block www_block_content_title_h4 %}Hai già un account?{% endblock %}

{% block www_block_content %}
{# left image block {{{ #}
<div class="container-fluid info_block info_block_color1">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				{# login block #}
				<div class="well bs-component">
					{# messages block #}
					{% if form.errors %}
						<div class="row">
							<div class="col-md-12">
								<div class="alert alert-danger">
									<h4>Uhm qualcosa non va!</h4>
									<ul>
										{% for form_error in form.non_field_errors %}
											<li>{{ form_error }}</li>
										{% endfor %}
									</ul>
								</div>
							</div>
						</div>
					{% endif %}
					<form class="form-horizontal" method="post" action="">
						{% csrf_token %}
						<fieldset>
							<legend>Accedi al tuo account</legend>
							<div class="form-group {% if form.email.errors %}has-error{% endif %}">
								<label for="{{ form.email.id_for_label }}" class="col-lg-4 control-label">{{ form.email.label }} *</label>
								<div class="col-lg-8">
									<div class="input-group">
										<input name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}" value="{{ post.email }}" type="email">
										<span class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></span>
									</div>
								</div>
							</div>
							<div class="form-group {% if form.password.errors %}has-error{% endif %}">
								<label for="{{ form.password.id_for_label }}" class="col-lg-4 control-label">{{ form.password.label }} *</label>
								<div class="col-lg-8">
									<div class="input-group">
										<input name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" type="password">
										<span class="input-group-addon"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></span>
									</div>
									<span class="help-block text-right">
										<a href="/recupera-password/">Password dimenticata?</a>
									</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-8 col-lg-offset-4">
									<button type="submit" class="btn btn-primary">Accedi</button>
								</div>
							</div>
							<div class="text-right">
								Non hai un account? <a href="/registrati/">Registrati ora</a>.
							</div>
						</fieldset>
					</form>
				</div>
			</div>
			<div class="col-md-4 col-md-pull-8 info_block_image_container text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Accedi alla tua area privata" src="{% static "website/img/login.png" %}">
			</div>
		</div>
	</div>
</div>
{# }}} #}
{% endblock www_block_content %}
{% block custom_js %}
<script>
	$(document).ready(function(){
		// autofocus element
		$("#id_email").focus();
	});
</script>
{% endblock custom_js %}
