{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | il concorso{% endblock %}

{# page description #}
{% block description %}{{ site_name }} è un concorso di bellezza online che permette e tutti di diventare una star del web.{% endblock %}

{% block www_block_content_title_h1 %}Il concorso{% endblock %}
{% block www_block_content_title_h4 %}Una rapida panoramica{% endblock %}

{% block www_block_content %}
<div class="left_100 info_block image_block left_image_block">
	<div class="centered_page max_width_page">
		<div class="row">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				<div class="col-lg-8 no-gutter readable_text1">
					<p>{{ site_name }} è il primo concorso di bellezza online fatto a misura di web: una passerella permette ai concorrenti di "sfilare" per essere votati. Il concorso ha una durata di 11 mesi, al termine dei quali chi avrà totalizzato più punti verrà decretato miss o mister {{ site_name }}.</p>
					<p>{{ site_name }} nasce per rendere i concorsi di bellezza più divertenti, interattivi e aperti a tutti.<br />Leggi <a href="/come-funziona">come funziona</a> il concorso!</p>
				</div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img src="{% static "website/img/come-funziona.png" %}" alt="Il concorso">
			</div>
		</div>
	</div>
</div>
<div class="left_100 info_block register_now_block text-center">
	<div class="col-xs-12"><h2>Partecipa anche tu!</h2></div>
	<div class="col-xs-12"><h4>La registrazione è semplice e veloce</h4></div>
	<div class="col-xs-12"><a class="btn btn-login" href="/registrati/">Partecipa</a></div>
</div>
{% endblock www_block_content %}
