{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | come iscriversi{% endblock %}

{# page description #}
{% block description %}Come iscriversi al concorso: per partecipare occorre solo essere maggiorenni e inserire i dati richesti nella pagina di registrazione.{% endblock %}

{# navigation active element #}
{% block www_navigation_signup %}active{% endblock %}

{% block www_block_content_title_h1 %}Mostra a tutti il tuo stile{% endblock %}
{% block www_block_content_title_h4 %}Partecipa anche tu!{% endblock %}

{% block www_block_content %}
{# left image block {{{ #}
<div class="container-fluid info_block info_block_color2">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				<div class="readable_text1">
					<p>Sei una modella, un modello o semplicemente ti appassionano <b>moda e fotografia</b>? Prova a metterti in gioco anche tu! <b>Partecipa</b> ad uno dei tanti concorsi a tema o prova a vincere l'ambito titolo di <b>Miss</b>/<b>Mister</b> {{ site_name }}.</p><br />
					<h4>Come partecipare</h4>
					<p>Partecipare è molto semplice, occorre solo essere maggiorenni:
						<ol>
							<li>Registrati cliccando sul pulsante <a href="/registrati">Partecipa</a>.</li>
							<li>Inserisci i dati richiesti.</li>
							<li>Carica i tuoi scatti fotografici migliori e condividi il tuo profilo per ottenere molti voti.</li>
						</ol>
						Happy Pics!
					</p>
				</div>
			</div>
			<div class="col-md-4 col-md-pull-8 info_block_image_container text-xs-center text-md-left">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Come iscriversi al concorso" src="{% static "website/img/come-iscriversi.png" %}">
			</div>
		</div>
	</div>
</div>
{# }}} #}
{# Signup emphasis bottom block #}
{% include "website/inc/include_blocks/signup_emphasis_bottom_block.html" %}
{% endblock www_block_content %}
