{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | caratteristiche{% endblock %}

{# page description #}
{% block description %}{{ site_name }}: tutte le caratteristiche più importanti: diverse metriche di valutazione, tempi e durata, premi esclusivi, maggiore visibilità, crea il tuo book, sistema di votazione esclusivo.{% endblock %}

{% block www_block_content_title_h1 %}Caratteristiche{% endblock %}
{% block www_block_content_title_h4 %}Qualcosa per stuzzicarti l'appetito{% endblock %}

{% block www_block_content %}
{# centered text content block {{{ #}
<div class="container-fluid info_block grid_list_block info_block_color3">
	<div class="row">
		<div class="col-md-10 col-md-offset-1 no-gutter">
			<div class="col-xs-12 info_block_text_container">
				<div class="col-xs-12 col-sm-5 no-gutter">
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-3 no-gutter">
							<img alt="Diverse metriche di valutazione" src="{% static "website/img/features/diverse-metriche.png" %}">
						</div>
						<div class="col-xs-8 col-xs-offset-1 no-gutter">
							<h4>Diverse metriche di valutazione</h4>
							<p>Ogni partecipante viene valutato sulla base di 4 metriche: sorriso, sguardo, globale e stile. Leggi come funziona il <a href="/howto/le-votazioni/">sistema di votazione</a>.</p>
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-8 col-sm-push-4 no-gutter">
							<h4>Tempi e durata</h4>
							<p>Il concorso si protende per una durata totale di 11 mesi, con un mese di attesa e di preparazione all'edizione successiva.</p>
						</div>
						<div class="col-xs-3 col-sm-pull-8 col-xs-offset-1 col-sm-offset-0 no-gutter">
							<img alt="Tempi e durata" src="{% static "website/img/features/tempi-durata.png" %}">
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-3 no-gutter">
							<img alt="Premi esclusivi" src="{% static "website/img/features/premi-esclusivi.png" %}">
						</div>
						<div class="col-xs-8 col-xs-offset-1 no-gutter">
							<h4>Premi esclusivi</h4>
							<p>I vincitori assoluti del concorso femminile e di quello maschile riceveranno le nostre fantastiche magliette.</p>
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
				</div>
				<div class="col-xs-12 col-sm-5 col-xs-offset-0 col-sm-offset-2 no-gutter">
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-8 col-sm-push-4 no-gutter">
							<h4>Maggiore visibilità</h4>
							<p>I vincitori avranno la propria foto profilo in bella mostra nella home page e nella relativa passerella per tutta la durata della successiva edizione.</p>
						</div>
						<div class="col-xs-3 col-sm-pull-8 col-xs-offset-1 col-sm-offset-0 no-gutter">
							<img alt="Maggiore visibilità" src="{% static "website/img/features/maggiore-visibilita.png" %}">
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-3 no-gutter">
							<img alt="Crea il tuo book" src="{% static "website/img/features/crea-book.png" %}">
						</div>
						<div class="col-xs-8 col-xs-offset-1 no-gutter">
							<h4>Crea il tuo book</h4>
							<p>Carica tutte le fotografie che preferisci e rendi il tuo profilo completo ed apprezzato, utilizzalo anche come biglietto da visita.</p>
						</div>
					</div>
					<div class="col-xs-12 block-vspace"></div>
					<div class="col-xs-12 no-gutter">
						<div class="col-xs-8 col-sm-push-4 no-gutter">
							<h4>Sistema di votazione esclusivo</h4>
							<p>Scegli il voto che ritieni più appropriato tra quelli disponibili. Per maggiori informazioni, leggi come funziona il <a href="/howto/le-votazioni/">sistema di votazione</a>.</p>
						</div>
						<div class="col-xs-3 col-sm-pull-8 col-xs-offset-1 col-sm-offset-0 no-gutter">
							<img alt="Sistema di votazione esclusivo" src="{% static "website/img/features/votazioni.png" %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{# }}} #}
{# Signup emphasis bottom block #}
{% include "website/inc/include_blocks/signup_emphasis_bottom_block.html" %}
{% endblock www_block_content %}
