{% extends "website/inc/base_www.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{{ site_name }} | il concorso di bellezza online fatto a misura di web{% endblock %}

{# page description #}
{% block description %}{{ site_name }}: è il primo concorso di bellezza online fatto a misura di web, i modelli e le modelle sfilano sulla passerella, chi al termine del concorso avrà ricevuto più voti, verrà decretato vincitore. Iscriviti anche tu e carica i tuoi scatti fotografici migliori.{% endblock %}

{% block block0_0 %}{% endblock %}
{% block block0_1 %}
<div class="left_100 info_block three_elements_block">
	<div class="centered_page max_width_page">
		<h1 class="text-center">Partecipa in 3 semplici mosse</h1>
		<div class="row">
			<div class="col-md-4 text-center">
				<div class="col-lg-12">
					<img alt="1.Registrati" src="{% static "website/img/registrati.png" %}">
				</div>
				<div class="col-lg-12">
					<h4><strong>1.</strong>&nbsp;Registrati</h4>
				</div>
				<div class="col-md-offset-1 col-md-10 readable_text1">
					La registrazione è semplice e veloce, per partecipare al concorso basta inserire le informazioni richieste.
				</div>
				<div class="visible-xs-inline-block visible-sm-inline-block block-vspace"></div>
			</div>
			<div class="col-md-4 text-center">
				<div class="col-lg-12">
					<img alt="1.Registrati" src="{% static "website/img/carica-foto.png" %}">
				</div>
				<div class="col-lg-12">
					<h4><strong>2.</strong>&nbsp;Carica le foto</h4>
				</div>
				<div class="col-md-offset-1 col-md-10 readable_text1">
					La registrazione è semplice e veloce, per partecipare al concorso basta inserire le informazioni richieste.
				</div>
				<div class="visible-xs-inline-block visible-sm-inline-block block-vspace"></div>
			</div>
			<div class="col-md-4 text-center">
				<div class="col-lg-12">
					<img alt="1.Registrati" src="{% static "website/img/scala-classifica.png" %}">
				</div>
				<div class="col-lg-12">
					<h4><strong>3.</strong>&nbsp;Scala la classifica</h4>
				</div>
				<div class="col-md-offset-1 col-md-10 readable_text1">
					La registrazione è semplice e veloce, per partecipare al concorso basta inserire le informazioni richieste.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="left_100 info_block image_block left_image_block">
	<div class="centered_page max_width_page">
		<div class="row">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Sorriso sguardo o stile</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Scopri il tuo lato più apprezzato</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus. Sed congue erat eu tellus imperdiet blandit. Vivamus leo turpis, placerat eu posuere id, dignissim ut sem. Sed tincidunt varius posuere.
				</div>
				<div class="col-lg-12 no-gutter"><a href="#">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Scopri il lato più apprezzato" src="{% static "website/img/lato-apprezzato.png" %}">
			</div>
		</div>
	</div>
</div>
<div class="left_100 info_block image_block right_image_block">
	<div class="centered_page max_width_page">
		<div class="row">
			<div class="col-md-offset-1 col-md-7 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Classifiche annuali</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Entra nell'esclusiva "Hall of fame"</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus. Sed congue erat eu tellus imperdiet blandit. Vivamus leo turpis, placerat eu posuere id, dignissim ut sem. Sed tincidunt varius posuere.
				</div>
				<div class="col-lg-12 no-gutter"><a href="#">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-4 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Scopri il lato più apprezzato" src="{% static "website/img/hall-of-fame.png" %}">
			</div>
		</div>
	</div>
</div>
<div class="left_100 info_block image_block left_image_block">
	<div class="centered_page max_width_page">
		<div class="row">
			<div class="col-md-offset-1 col-md-7 col-md-push-4 info_block_text_container">
				<div class="col-lg-12 no-gutter"><h4>Premi stilosi</h4></div>
				<div class="col-lg-12 no-gutter"><h1>Vinci le nostre fantastiche magliette</h1></div>
				<div class="col-lg-8 no-gutter readable_text1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id turpis tincidunt, cursus ante quis, congue metus. Sed congue erat eu tellus imperdiet blandit. Vivamus leo turpis, placerat eu posuere id, dignissim ut sem. Sed tincidunt varius posuere.
				</div>
				<div class="col-lg-12 no-gutter"><a href="#">Maggiori informazioni</a></div>
			</div>
			<div class="col-md-4 col-md-pull-8 text-center">
				<div class="visible-sm-inline-block visible-xs-inline-block col-xs-12 block-vspace"></div>
				<img alt="Scopri il lato più apprezzato" src="{% static "website/img/vinci-la-maglietta.png" %}">
			</div>
		</div>
	</div>
</div>
<div class="left_100 info_block register_now_block text-center">
	<div class="col-xs-12"><h2>Partecipa anche tu!</h2></div>
	<div class="col-xs-12"><h4>La registrazione è semplice e veloce</h4></div>
	<div class="col-xs-12"><a class="btn btn-login" href="/registrati/">Partecipa</a></div>
</div>
{% endblock block0_1 %}
