{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles static django_bootstrap_breadcrumbs website_extras %}

{% block title %}{{ site_name }} | concorso a tema '{{ photocontest_name }}'{% endblock title %}

{% block description %}concorso a tema '{{ photocontest_name }}': {{ photocontest_description }}{% endblock description %}

{% block breadcrumbs %}
	{% breadcrumb photocontest_name catwalk_photo_contest_pics %}
{% endblock %}

{# hide go to catwalk banner #}
{% block catwalk_banner %}{% endblock %}

{# hide top 5 users #}
{% block top_users_banner %}{% endblock %}

{# page tip block (blocco a destra con titolo e descrizione) #}
{% block page_tip %}
{% static "website/img/photocontest/"|str_cat:photocontest_code|str_cat:".png" as image_src %}
{% include "website/inc/include_blocks/page_tip.html" with title=photocontest_name text=photocontest_description image_src=image_src image_alt=photocontest_name only %}
{% endblock %}

{# photocontest winner image #}
{% block photoboard_winner_banner %}
	{% if last_photocontest_winner %}
		{% include "website/inc/include_blocks/photocontest_winner_banner.html" with title="Ultima foto vincitrice" text="concorso '"|str_cat:photocontest_name|str_cat:"'" link_url="url" image_alt="image alt" image_srv=last_photocontest_winner.image.image.url only %}
	{% endif %}
{% endblock photoboard_winner_banner %}

{# main navigation active element #}
{% block navigation_element2_active %}active{% endblock %}

{% block container4_content %}
{# non sono ancora presenti immagini nel photocontest #}
{% if not photocontest_images_exist %}
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Non sono ancora presenti foto in questo concorso...prova a ritornare più tardi!</p>
		</div>
	</div>
</div>
{% endif %}
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
{# image grid block }}} #}
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altri</a>
</div>
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	elementsListObject.setElementsPerCall(20);
	$(document).ready(function(){
		$(".loadMoreElementsAction").click(function(){
			elementsListObject.setElementsListType("photocontest");
			elementsListObject.addFilter("photo_contest_code", "{{ photocontest_code }}");
			elementsListObject.getElementsList();

			return false;
		});

		$(".loadMoreElementsAction").click();
	});
</script>
{% endblock custom_js %}
