{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles static django_bootstrap_breadcrumbs website_extras %}

{% block title %}{{ site_name }} | concorsi a tema{% endblock title %}

{% block description %}Concorsi a tema: scopri tutti i concorsi a tema e dai il tuo "Mi piace" alle fotografie che preferisci.{% endblock description %}

{% block breadcrumbs %}
	{% breadcrumb "Seleziona un concorso" "/concorsi-a-tema/" %}
{% endblock %}

{# hide go to catwalk banner #}
{% block catwalk_banner %}{% endblock catwalk_banner %}

{# hide top 5 users #}
{% block top_users_banner %}{% endblock %}

{# page tip block (blocco a destra con titolo e descrizione) #}
{% block page_tip %}
{% include "website/inc/include_blocks/page_tip.html" with title="Concorsi a tema" text="Esplora i concorsi a tema,<br />guarda tutte le foto e dai anche tu il \"<b>Mi piace</b>\" alle tue preferite!<div class=\"text-right\"><a href=\"/howto/concorsi-a-tema/\">Scopri di più</a></div>" only %}
{% endblock %}

{# main navigation active element #}
{% block navigation_element2_active %}active{% endblock %}

{% block container4_content %}
{# photo contest list block {{{ #}
{% if photo_contest_list %}
	<div class="row">
	{% for photo_contest in photo_contest_list %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			<a href="/concorsi-a-tema/{{ photo_contest.code }}/" class="thumbnail grid_button_1 photocontestEnterClickAction" data-toggle="tooltip" data-placement="top" data-original-title="{{ photo_contest.description }}">
				<span class="grid_button_image grid_button_image_h_90">
					<img src="{% static "website/img/photocontest/"|str_cat:photo_contest.code|str_cat:".png" %}" alt="{{ photo_contest.name }}">
				</span>
				<span class="grid_button_label">{{ photo_contest.name }}</span>
			</a>
		</div>
	{% endfor %}
	</div>
{% endif %}
{# }}} #}
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
{% endblock custom_js %}
