{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | passerella index{% endblock title %}

{% block description %}Beauty and Pics: pagina index passerella{% endblock description %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock block0_1_title_h4 %}

{% block container4_title %}La passerella{% endblock container4_title %}

{% block container4_content %}
<ul class="nav nav-tabs">
	<li class="active"><a aria-expanded="false" href="#home" data-toggle="tab">Le ultime registrate</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">La classifica</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">Le più visitate</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">Il sorriso più bello</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">Lo sguardo più bello</a></li>
</ul>
<div id="container">
	<div class="grid-sizer"></div>
</div>
<p><button id="load-images">Load images</button></p>
{% endblock container4_content %}

{% block custom_js %}
<script>
$(document).ready(function(){
	var $container = $('#container').masonry({
		itemSelector: '.item',
		columnWidth: '.grid-sizer'
	});

	$('#load-images').click( function() {
		var $items = getItems();
		$container.masonryImagesReveal( $items );
	});
});

$.fn.masonryImagesReveal = function( $items ) {
	var msnry = this.data('masonry');
	var itemSelector = msnry.options.itemSelector;
	// hide by default
	$items.hide();
	// append to container
	this.append( $items );
	$items.imagesLoaded().progress( function( imgLoad, image ) {
		// get item
		// image is imagesLoaded class, not <img>, <img> is image.img
		var $item = $( image.img ).parents( itemSelector );
		// un-hide item
		$item.show();
		// masonry does its thing
		msnry.appended( $item );
	});

	return this;
};

function randomInt( min, max ) {
	return Math.floor( Math.random() * max + min );
}

function getItem() {
	var format = randomInt( 150, 250 );
	var width = format;
	var height = format;
	var item = '<div class="item">'+
	'<img src="http://lorempixel.com/' + 
	width + '/' + height + '/nature" /></div>';
	return item;
}

function getItems() {
	var items = '';
	for ( var i=0; i < 12; i++ ) {
		items += getItem();
	}
	// return jQuery object
	return $( items );
}
</script>
{% endblock custom_js %}
