{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles django_bootstrap_breadcrumbs %}

{% block title %}{{ site_name }} | bacheca foto{% endblock title %}

{% block description %}Bacheca foto: guarda le foto migliori dei partecipanti e vota la tua preferita. La più votata andrà in evidenza nella passerella.{% endblock description %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "bacheca foto" "/passerella/bacheca/" %}
{% endblock %}

{% block return_to_catwalk_block %}{% endblock %}
{% block photoboard_list_banner %}{% endblock %}

{% block catwalk_tip %}
<div class="generic_container tip_container display_only_big">
	<div class="title">
		<h4>Bacheca foto</h4>
	</div>
	<div class="tip_readable_text">
		Guarda le foto migliori dei partecipanti e vota la tua foto preferita! La più votata andrà in evidenza nella passerella.
	</div>
</div>
{% endblock catwalk_tip %}

{% block container4_content %}
{# no active photoboard contest or no images #}
{% if not exists_active_photoboard or not images_exist %}
<div class="row">
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Non sono ancora presenti foto nella bacheca...stay tuned.</p>
		</div>
	</div>
</div>
{% endif %}
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
{# image grid block }}} #}
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altre</a>
</div>
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	elementsListObject.setElementsPerCall(20);
	$(document).ready(function(){

		$(".loadMoreElementsAction").click(function(){
			elementsListObject.setElementsListType("photoboard");
			elementsListObject.getElementsList();

			return false;
		});

		$(".loadMoreElementsAction").click();
	});
</script>
{% endblock custom_js %}
