{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles django_bootstrap_breadcrumbs website_extras %}

{% block title %}{{ site_name }} | profilo di {{ user_info.first_name }} {{ user_info.last_name }}{% endblock title %}

{% block description %}Profilo utente: da qui puoi vedere il punteggio, la posizione e le foto del book di {{ user_info.first_name }} {{ user_info.last_name }}.{% endblock description %}

{# Open Graph metatags #}
{% block og_metatags %}
<meta property="og:locale" content="it_IT" />
<meta property="og:url" content="{{ absolute_uri }}" />
<meta property="og:type" content="profile" />
<meta property="og:title" content="{{ user_info.first_name }} {{ user_info.last_name }}" />
<meta property="og:site_name" content="Beauty and Pics"/>
<meta property="og:description" content="Beauty and Pics, il concorso di bellezza fatto a misura di web." />
<meta property="og:image" content="{{ profile_image_url }}" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
{% endblock og_metatags %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb user_info.first_name|str_cat:" "|str_cat:user_info.last_name catwalk_profile %}
{% endblock %}

{# hide photoboard list banner #}
{% block photoboard_list_banner %}{% endblock %}

{% block container4_content %}
{# Facebook SDK {{{ #}
<script>
(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script>
{# Facebook SDK }}} #}
<div class="user_top_info_container">
	<div class="user_top_info_block">
		<span class="user_info_label">Età: </span>
		<span class="user_info_value">{{ user_info.age }} anni</span>
	</div>
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Sesso: </span>
		<span class="user_info_value">{% if user_info.gender = "man" %}uomo{% elif user_info.gender = "woman" %}donna{% endif %}</span>
	</div>
	<!--
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Città: </span>
		<span class="user_info_value">Torino (TO)</span>
	</div>
	-->
</div>
<div class="background_container1 generic_container8">
	<div class="left">
		<div class="top">
			<img alt="Imagine profilo" class="catwalk_user_main_image" src="{{ profile_image_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<span>
				<a class="user_action_link addToFavoritesClickAction" href="#">
					<img alt="Aggiungi ai preferiti" src="{% static "website/img/catwalk/aggiungi-a-preferiti.png" %}">
				</a>
			</span>
			<span class="image_action_button_space">
				<a class="user_action_link" href="/passerella/segnalazione-utente/{{user_info.user_id}}/">
					<img alt="Segnala utente" src="{% static "website/img/catwalk/segnala-utente.png" %}">
				</a>
			</span>
			<span>
				<a class="user_action_link shareOnFacebookClickAction" href="#">
					<img alt="Condividi su Facebook" src="{% static "website/img/catwalk/facebook-share.png" %}">
				</a>
			</span>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container container_row1">
			{% if not user_info.can_be_shown %}
				<div class="user_stats_block">
					<span>Fuori concorso</span>
				</div>
				<div class="user_stats_space"></div>
			{% elif user_contest_info.ranking %}
				<div class="user_stats_block">
					<span class="position">{{ user_contest_info.ranking }}°</span>
					<span>Posizione</span>
				</div>
				<div class="user_stats_space"></div>
			{% endif %}
			<div class="user_stats_block">
				<span class="points">{{ user_contest_info.total_points }}</span>
				<span>Punti</span>
			</div>
		</div>
		<div class="bottom">
			<div class="stats_bar_container">
				<!-- stats block -->
				<div class="stats_bar_label">Sorriso: {{ user_contest_info.smile.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.smile.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.smile.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Sguardo: {{ user_contest_info.look.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.look.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.look.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Globale: {{ user_contest_info.global.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.global.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.global.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Stile: {{ user_contest_info.style.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.style.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.style.metric_rate_percentage }}%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="generic_container user_details_container">
	<div class="generic_container user_details_left">
		<div class="row">
			<div class="col-sm-12">
				<h3>Vota</h3>
			</div>
		</div>
		{# success vote message block #}
		<div class="msgContainerAction successVoteMessageAction {% if not user_already_voted %}hide{% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning">
						<span class="msgTextAction">Potrai votare nuovamente questo partecipante quando saranno passati 7 giorni dalla tua votazione.</span>
					</div>
				</div>
			</div>
		</div>
		{# default info message block #}
		<div class="msgContainerAction voteInfoMessageAction {% if user_already_voted %}hide{% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-info">
						<span class="msgTextAction">Dai il tuo voto a {{ user_info.first_name }} premendo il pulsante sotto.</span>
					</div>
				</div>
			</div>
		</div>
		{% if not user_already_voted %}
			{# vote buttom block #}
			<div class="voteFormContainerAction generic_container_content">
				<div class="background_container1 vote_user_container">
					<div class="vote_user_button_container text-center">
						<a href="#" class="btn btn-success showVoteModalClickAction">Vota adesso</a>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
	<div class="generic_container user_details_right">
		<div class="row">
			<div class="col-sm-12">
				<h3>Book fotografico</h3>
			</div>
		</div>
		<div class="generic_container_content">
			{# image grid block {{{ #}
			<div class="row">
				<div class="col-sm-12 image_grid_container"></div>
			</div>
			<div class="text-center">
				<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altre foto</a>
			</div>
			{# image grid block }}} #}
		</div>
	</div>
</div>

{# hidden form #}
<form class="hide" method="post" action="">
</form>
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	// set elements retrieved per call
	elementsListObject.setElementsPerCall(20);

	// init vote user object
	var voteUserObjInstance = voteUserObject;

	$(document).ready(function(){
		/* Function to open vote modal and reset vote info */
		$("body").on("click",".showVoteModalClickAction", function(){
			// load vote modal info
			var userId = "{{ user_info.user_id }}";
			var userFirstName = "{{ user_info.first_name }}";
			var selectionImagePath = "{% static 'website/img/selezione.png' %}";
			var contestIsOpen = {% if contest_is_open %}true{% else %}false{% endif %};
			var userIsRegistered = {% if user_already_registered %}true{% else %}false{% endif %};
			var emailIsVerified = {% if email_is_verified %}true{% else %}false{% endif %};
			// reset votation data object
			voteUserObjInstance.resetVotation();
			// open bootstrap vote modal
			bootstrapModalsObect.showVoteUserModal(userId, userFirstName, selectionImagePath, contestIsOpen, userIsRegistered, emailIsVerified);

			return false;
		});

		/* Function to show points about this vote_code */
		$("body").on("click",".voteItemAction", function(e){
			// set vote as selected
			var userId = "{{ user_info.user_id }}";
			var voteCode = $(this).data("voteCode");
			voteUserObjInstance.manageVoteCodeSelected(voteCode, userId);

			// prevent default href event
			e.preventDefault();

			return true;
		});

		/* Function to perform a vote action */
		$("body").on("click",".confirmVoteButtonAction", function(){
			voteUserObjInstance.confirmVoteButtonClickAction();

			return false;
		});

		/* Function to show an alert on disabled vote button click */
		$("body").on("click",".alertVoteButtonAction", function(){
			var alertText = $(this).data("alertText");
			alert(alertText);

			return true;
		});

		/* Function to show send confirmation email modal */
		/*$("body").on("click",".confirmationModalClickAction", function(){
			// close previously opened bootstrap modal
			$('.bootstrap_modal').modal('hide');
			setTimeout("bootstrapModalsObect.showSendValidationEmail();", 1000);

			return true;
		});*/

		/* Function to load more photo */
		$("body").on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("photobook");
			elementsListObject.addFilter("user_id", "{{ user_info.user_id }}");
			elementsListObject.getElementsList();

			return false;
		});

		/* Function to open a zoomed image */
		$("body").on("click",".zoom-image", function(){
			var imageUrl = "";
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			// open bootstrap modal
			bootstrapModalsObect.showZoomImageModal(imageUrl);

			return false;
		});

		/* Function to add a new favorite */
		$("body").on("click",".addToFavoritesClickAction", function(){
			{% if not user_is_authenticated %}
				bootstrapModalsObect.showPerformLoginModal();
			{% elif user_already_favorite %}
				bootstrapModalsObect.showAlertModal('Partecipante già presente nell\'elenco dei tuoi preferiti. <a href="/profilo/preferiti/" class="alert-link">Vai nella sezione preferiti</a>.');
			{% else %}
				if (confirm("Vuoi aggiungere il partecipante all'elenco dei tuoi preferiti?")) {
					addToFavorite('{{user_info.user_id}}');
				}
			{% endif %}

			return false;
		});

		/* Function to share user profile via Facebook */
		$("body").on("click",".shareOnFacebookClickAction", function(){

			// create facebook share dialog
			FB.ui({ method: 'share', href: '{{ absolute_uri }}' }, function(response){});

			return false;
		});

		// default click to load a bunch of images
		$(".loadMoreElementsAction").click();
	});

	/* Function to add a user to favorites */
	function addToFavorite(userId) {
		if (userId) {
			var addToFavoriteCustomAjaxAction = customAjaxAction;
			// serialize form
			addToFavoriteCustomAjaxAction.setAjaxCallParams("user_id=" + userId + "&");
			// setting action name
			addToFavoriteCustomAjaxAction.setActionName("add_favorite");
			// success callback function
			var successCallback = function(jsonResponse) {
				// open success bootstrap modal
				bootstrapModalsObect.showSuccessModal('Il partecipante è stato aggiunto all\'elenco dei tuoi preferiti. <a href="/profilo/preferiti/" class="alert-link">Vai nella sezione preferiti</a> per visualizzare la lista completa.');
			};
			addToFavoriteCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// error callback function
			var errorCallback = function(jsonResponse) {
				if (jsonResponse.type == "already_added") {
					// open alert bootstrap modal
					bootstrapModalsObect.showAlertModal('Partecipante già presente nell\'elenco dei tuoi preferiti. <a href="/profilo/preferiti/" class="alert-link">Vai nella sezione preferiti</a>.');
				}
			};
			addToFavoriteCustomAjaxAction.setAjaxErrorCallbackFunction(errorCallback);
			// perform ajax call to add favorite
			addToFavoriteCustomAjaxAction.performAjaxAction();
		}

		return true;
	}
</script>
{% endblock custom_js %}
