{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles django_bootstrap_breadcrumbs website_extras %}

{% block title %}{{ site_name }} | concorso a tema '{{ photocontest_name }}'{% endblock title %}

{% block description %}Concorso a tema '{{ photocontest_name }}', dai anche tu il tuo 'Mi piace' per la foto di {{ user_info.first_name }} {{ user_info.last_name }}.{% endblock description %}

{# Open Graph metatags #}
{% block og_metatags %}
<meta property="og:locale" content="it_IT" />
<meta property="og:url" content="{{ vote_image_url }}" />
<meta property="og:type" content="profile" />
<meta property="og:title" content="{{ user_info.first_name }} {{ user_info.last_name }}" />
<meta property="og:site_name" content="{{ site_name }}"/>
<meta property="og:description" content="{{ site_name }}, concorso a tema '{{ photocontest_name }}'." />
<meta property="og:image" content="{{ photocontest_image_url }}" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
{% endblock og_metatags %}

{% block breadcrumbs %}
	{% breadcrumb photocontest_name "/concorsi-a-tema/"|str_cat:photocontest_code|str_cat:"/" %}
	{% breadcrumb user_info.first_name|str_cat:" "|str_cat:user_info.last_name catwalk_photo_contest_pics_info %}
{% endblock %}

{# hide photoboard list banner #}
{% block photoboard_list_banner %}{% endblock %}

{# hide top 5 users #}
{% block top_users_banner %}{% endblock %}

{# main navigation active element #}
{% block navigation_element2_active %}active{% endblock %}

{% block container4_content %}
{# Facebook SDK {{{ #}
<script>
(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script>
{# Facebook SDK }}} #}
<div class="row">
	<div class="col-md-12">
		<div class="display_only_small">
			<p class="text-primary text-justify">Dai un "<b>Mi piace</b>" per {{ user_info.first_name }}: se riuscirà a raggiungere i <b>{{ photocontest_like_limit }}</b> "Mi piace" prima di tutti, la sua fotò vincerà il concorso a tema e verrà messa in evidenza.</p>
		</div>
	</div>
</div>
<div class="background_container1 generic_container8 photoboard_image_container">
	<div class="left">
		<div class="top">
			<img alt="Imagine profilo" class="catwalk_user_main_image" src="{{ photocontest_image_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<div class="left">
				<a href="/passerella/dettaglio-utente/{{ user_info.user_id }}/">Visita il profilo completo</a>
			</div>
			<div class="right">
				<span class="image_action_button_space">
					<a class="user_action_link" href="/passerella/segnalazione-utente/{{user_info.user_id}}/">
						<img alt="Segnala utente" src="{% static "website/img/catwalk/segnala-utente.png" %}">
					</a>
				</span>
				<span>
					<a class="user_action_link shareOnFacebookClickAction" href="#">
						<img alt="Condividi su Facebook" src="{% static "website/img/catwalk/facebook-share.png" %}">
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container container_row1">
			<div class="container_row currentWinningImageAction {% if not image_is_winning %}hide{% endif %}">
				<p class="text-warning text-justify">La foto è attualmente la preferita del concorso a tema <b>{{ photocontest_name }}</b>.</p>
			</div>
			<div class="container_row display_only_big">
				<p class="text-primary text-justify">
					{% if image_is_winning %}
						Dai un "<b>Mi piace</b>" per {{ user_info.first_name }}: se riuscirà a raggiungere i <b>{{ photocontest_like_limit }}</b> "Mi piace" prima di tutti, la sua foto continuerà a rimanere in evidenza.
					{% else %}
						Dai un "<b>Mi piace</b>" per {{ user_info.first_name }}: se riuscirà a raggiungere i <b>{{ photocontest_like_limit }}</b> "Mi piace" prima di tutti, la sua foto vincerà il concorso a tema e verrà messa in evidenza.
					{% endif %}
				</p>
			</div>
			{% if not user_already_registered %}
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning">
							Per dare il "Mi piace" alla foto di {{ user_info.first_name }} devi prima <a class="alert-link" href="/registrati/">registrarti</a>.
						</div>
					</div>
				</div>
			{% elif not email_is_verified %}
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning">
							Per dare il "Mi piace" alla foto di {{ user_info.first_name }} devi prima <a class="alert-link openResendConfirmationModalClickAction" href="#">confermare la tua email</a>.
						</div>
					</div>
				</div>
			{% endif %}

			{% if user_already_registered and email_is_verified %}
				<div class="userVotedMsgBlockAction {% if votation_is_valid %}hide{% endif %}">
					<div class="row">
						<div class="col-md-12">
							<div class="alert alert-info">
								<span class="msgTextAction">Potrai nuovamente votare questa foto tra: {{ next_votation_date | timeuntil }}.</span>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
			<div class="container_row container_row_bottom16-xl container_row_s40 user_stats_block">
				<span>Piace a <span class="position imageContestLikeAction">{{ photocontest_image_likes }}</span> {% if photocontest_image_likes == 1%}<span class="imageContestLikeLabelAction">persona</span>{% else %}<span class="imageContestLikeLabelAction">persone</span>{% endif %}</span>
			</div>
			<div class="container_row container_row_common10">
				<span><b class="imageContestLikeRemainingAction">{{ photocontest_image_like_remaining }}</b> "Mi piace" mancanti</span>
			</div>
			{% if user_already_registered and email_is_verified and votation_is_valid %}
				<div class="container_row user_stats_block text-center addLikeButtonContainerAction">
					<a class="btn btn-success addPhotoLikeClickAction" href="#">Mi piace</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		// share on Facebook action
		$("body").on("click",".shareOnFacebookClickAction", function(){

			// create facebook share dialog
			FB.ui({ method: 'share', href: '{{ vote_image_url }}' }, function(response){});

			return false;
		});

		// add photo like
		$("body").on("click",".addPhotoLikeClickAction", function(){
			if (confirm('Confermi il "Mi piace"?')) {
				var photocontestCode = "{{ photocontest_code }}";
				var photocontestUserId = "{{ user_info.user_id }}";
				addPhotocontestImageLike(photocontestCode, photocontestUserId);
			}

			return false;
		});
	});

	/* Function to add a photocontest photo like */
	function addPhotocontestImageLike(photocontestCode, photocontestUserId) {
		if (photocontestCode && photocontestUserId) {
			var photocontestLikeCustomAjaxAction = customAjaxAction;
			// serialize form
			photocontestLikeCustomAjaxAction.setAjaxCallParams("photocontest_code=" + photocontestCode + "&photocontest_user_id=" + photocontestUserId + "&");
			// setting action name
			photocontestLikeCustomAjaxAction.setActionName("add_photocontest_image_like");
			// success callback function
			var successCallback = function(jsonResponse) {
				// hide "like" button
				$(".addLikeButtonContainerAction").hide();
				if (jsonResponse.success == true) {
					// manage success votation callback
					votationSuccessCallback();
				}
			};
			photocontestLikeCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// perform ajax call to add like
			photocontestLikeCustomAjaxAction.performAjaxAction();
		}

		return true;
	}

	/** decrease/increase like/remaining like */
	function votationSuccessCallback() {
		// show user voted msg block
		$(".userVotedMsgBlockAction").removeClass("hide");
		$(".msgTextAction").html("Potrai nuovamente votare questa foto tra: 1 settimana.");

		// decrease/increase like/remaining like
		var image_contest_like = parseInt($(".imageContestLikeAction").html()) + 1;
		var image_contest_like_remaining = parseInt($(".imageContestLikeRemainingAction").html()) - 1;
		$(".imageContestLikeAction").html(image_contest_like);
		$(".imageContestLikeRemainingAction").html(image_contest_like_remaining);

		// scrivo la label a destra dei like
		writeLikeLabel(image_contest_like);

		// decremento i "like" rimanenti solo se sono maggiori di 0
		if (image_contest_like_remaining > 0) {
			// grazie per il tuo "Mi piace"
			bootstrapModalsObect.showMessageModal('Grazie per aver dato il tuo "<b>Mi piace</b>" a {{ user_info.first_name }}.<br />Visita anche il suo <a href="/passerella/dettaglio-utente/{{ user_info.user_id }}/">profilo completo</a> e guarda tutte le sue foto.', 'Votazione completata');
		} else if (image_contest_like_remaining == 0) {
			// complimenti hai fatto vincere la foto
			bootstrapModalsObect.showMessageModal('Complimenti, grazie al tuo mi "<b>Mi piace</b>" la foto di {{ user_info.first_name }} ha vinto il concorso a tema \'{{ photocontest_name }}\'.<br />Visita anche il suo <a href="/passerella/dettaglio-utente/{{ user_info.user_id }}/">profilo completo</a> e guarda tutte le sue foto.', 'Voto decisivo');
			// mostro messaggio per far sapere che l'immagine è vincitrice
			$(".currentWinningImageAction").removeClass("hide");
		}

		return true;
	}

	/* funzione per scrivere la label a destra dei like */
	function writeLikeLabel(imageLike) {
		if (imageLike == 1) {
			// se è presente un solo like mostro il singolare
			$(".imageContestLikeLabelAction").html("persona");
		} else {
			// se sono presenti più like mostro il plurale
			$(".imageContestLikeLabelAction").html("persone");
		}

		return true;
	}
</script>
{% endblock custom_js %}
