{% extends "website/inc/catwalk/base_catwalk_index.html" %}
{% load staticfiles %}

{% block container4_content %}
{{ block.super }}
<ul class="nav nav-tabs">
	<li class="active"><a aria-expanded="false" href="#home" data-toggle="tab">Le ultime registrate</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">La classifica</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">Le più visitate</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">Il sorriso più bello</a></li>
	<li class=""><a aria-expanded="true" href="#profile" data-toggle="tab">Lo sguardo più bello</a></li>
</ul>
<div class="image_container">
	<ul class="grid_container">
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
		<li>
			<img src="https://placekitten.com/g/185/185">
		</li>
	</ul>
</div>
{% endblock container4_content %}
