{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | passerella index{% endblock title %}

{% block description %}Beauty and Pics: pagina index passerella{% endblock description %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock block0_1_title_h4 %}

{% block container4_title %}La passerella{% endblock container4_title %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<ul class="nav nav-pills">
			<li class="active"><a aria-expanded="false" href="#" data-toggle="tab">Le ultime registrate</a></li>
			<li class=""><a aria-expanded="true" href="#" data-toggle="tab">La classifica</a></li>
			<li class=""><a aria-expanded="true" href="#" data-toggle="tab">Le più visitate</a></li>
			<li class=""><a aria-expanded="true" href="#" data-toggle="tab">Il sorriso più bello</a></li>
			<li class=""><a aria-expanded="true" href="#" data-toggle="tab">Lo sguardo più bello</a></li>
		</ul>
	</div>
</div>
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
{# image grid block }}} #}
<div class="text-center">
	<a class="btn btn-success load_more_images" href="#">Carica altre</a>
</div>
{% endblock container4_content %}
{% block custom_js %}
<script>
	$(document).ready(function(){
		$(".load_more_images").click(function(){
			elementsListObject.setElementsListType("catwalker");
			elementsListObject.getElementsList();

			return false;
		});
	});
</script>
{% endblock custom_js %}
