{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | profilo di {{ user_info.first_name }} {{ user_info.last_name }}{% endblock title %}

{% block description %}Profilo utente: da qui puoi vedere il punteggio, la posizione e le foto del book di {{ user_info.first_name }} {{ user_info.last_name }}.{% endblock description %}

{% block container4_title %}{{ user_info.first_name }} {{ user_info.last_name }}{% endblock container4_title %}

{% block container4_content %}
<div class="user_top_info_container">
	<div class="user_top_info_block">
		<span class="user_info_label">Età: </span>
		<span class="user_info_value">{{ user_info.age }} anni</span>
	</div>
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Sesso: </span>
		<span class="user_info_value">{% if user_info.gender = "man" %}uomo{% elif user_info.gender = "woman" %}donna{% endif %}</span>
	</div>
	<!--
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Città: </span>
		<span class="user_info_value">Torino (TO)</span>
	</div>
	-->
</div>
<div class="background_container1 generic_container8">
	<div class="left">
		<div class="top">
			<img alt="Imagine profilo" class="catwalk_user_main_image" src="{{ profile_image_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<span>
				<a class="user_action_link shareOnFacebookClickAction" href="#">
					<img alt="Condividi su Facebook" src="{% static "website/img/catwalk/facebook-share.png" %}">
				</a>
			</span>
			<span>
				<a class="user_action_link addToFavoritesClickAction" href="#">
					<img alt="Aggiungi ai preferiti" src="{% static "website/img/catwalk/aggiungi-a-preferiti.png" %}">
				</a>
			</span>
			<span>
				<a class="user_action_link" href="/passerella/segnalazione-utente/{{user_info.user_id}}/">
					<img alt="Segnala utente" src="{% static "website/img/catwalk/segnala-utente.png" %}">
				</a>
			</span>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container">
			{% if user_contest_info.ranking %}
			<div class="user_stats_block">
				<span class="position">{{ user_contest_info.ranking }}°</span>
				<span>Posizione</span>
			</div>
			<div class="user_stats_space"></div>
			{% endif %}
			<div class="user_stats_block">
				<span class="points">{{ user_contest_info.total_points }}</span>
				<span>Punti</span>
			</div>
		</div>
		<div class="bottom">
			<div class="stats_bar_container">
				<!-- stats block -->
				<div class="stats_bar_label">Globale: {{ user_contest_info.global.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.global.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.global.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Sorriso: {{ user_contest_info.smile.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.smile.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.smile.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Sguardo: {{ user_contest_info.look.total_points|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.look.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.look.metric_rate_percentage }}%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="generic_container user_details_container">
	<div class="generic_container user_details_left">
		<div class="row">
			<div class="col-sm-12">
				<h3>Vota</h3>
			</div>
		</div>
		{# messages block #}
		<div class="msgContainerAction {% if not user_already_voted %}hide{% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning">
						<span class="msgTextAction">Potrai votare nuovamente questo partecipante quando saranno passati 7 giorni dalla tua votazione.</span>
					</div>
				</div>
			</div>
		</div>
		{% if not user_already_voted %}
		<div class="voteFormContainerAction generic_container_content">
			<div class="background_container1 vote_user_container">
				<!-- vote user block -->
				<div class="vote_user_block global_vote">
					<div class="vote_user_metric_name">
						Globale
					</div>
					<div>
						<ul class="pagination pagination-md">
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="1"><a href="#">1</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="2"><a href="#">2</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="3"><a href="#">3</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="4"><a href="#">4</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="5"><a href="#">5</a></li>
						</ul>
					</div>
				</div>
				<!-- vote user block -->
				<div class="vote_user_block smile_vote">
					<div class="vote_user_metric_name">
						Sorriso
					</div>
					<div>
						<ul class="pagination pagination-md">
							<li class="voteTypeClick" data-vote-type="smile_vote_points" data-vote-value="1"><a href="#">1</a></li>
							<li class="voteTypeClick" data-vote-type="smile_vote_points" data-vote-value="2"><a href="#">2</a></li>
							<li class="voteTypeClick" data-vote-type="smile_vote_points" data-vote-value="3"><a href="#">3</a></li>
							<li class="voteTypeClick" data-vote-type="smile_vote_points" data-vote-value="4"><a href="#">4</a></li>
							<li class="voteTypeClick" data-vote-type="smile_vote_points" data-vote-value="5"><a href="#">5</a></li>
						</ul>
					</div>
				</div>
				<!-- vote user block -->
				<div class="vote_user_block look_vote">
					<div class="vote_user_metric_name">
						Sguardo
					</div>
					<div>
						<ul class="pagination pagination-md">
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="1"><a href="#">1</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="2"><a href="#">2</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="3"><a href="#">3</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="4"><a href="#">4</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="5"><a href="#">5</a></li>
						</ul>
					</div>
				</div>
				<div class="vote_user_button_container">
					<a href="#" class="btn btn-success submitVoteButtonClickAction">Vota</a>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="generic_container user_details_right">
		<div class="row">
			<div class="col-sm-12">
				<h3>Book fotografico</h3>
			</div>
		</div>
		<div class="generic_container_content">
			{# image grid block {{{ #}
			<div class="row">
				<div class="col-sm-12 image_grid_container"></div>
			</div>
			<div class="text-center">
				<a class="btn btn-success loadMoreElementsAction" href="#">Carica altre</a>
			</div>
			{# image grid block }}} #}
		</div>
	</div>
</div>

{# hidden form #}
<form class="hide" method="post" action="">
</form>
{% endblock container4_content %}

{% block custom_js %}
<script>
	elementsListObject.addFilter("show_limit", 20);

	$(document).ready(function(){
		// single vote type click
		$("body").on("click",".voteTypeClick", function(){
			voteUserObject.addParam($(this).data("voteType"), $(this).data("voteValue"));
			deactivateGroupVoteType($(this));
			activateVoteType($(this));

			return false;
		});

		// perform vote action
		$("body").on("click",".submitVoteButtonClickAction", function(){
			voteUserObject.addParam("user_id", "{{ user_info.user_id }}");
			voteUserObject.performVotingAction();

			return false;
		});

		// load more photo action
		$("body").on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("photobook");
			elementsListObject.addFilter("user_id", "{{ user_info.user_id }}");
			elementsListObject.getElementsList();

			return false;
		});

		// open zoomed image action
		$("body").on("click",".zoom-image", function(){
			var imageUrl = "";
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			// open bootstrap modal
			bootstrapModalsObect.showZoomImageModal(imageUrl);

			return false;
		});

		// add to favorites action
		$("body").on("click",".addToFavoritesClickAction", function(){
			{% if not user_is_authenticated %}
				bootstrapModalsObect.showPerformLoginModal();
			{% elif user_already_favorite %}
				bootstrapModalsObect.showAlertModal('Utente già presente nell\'elenco dei tuoi preferiti. <a href="/profilo/preferiti/" class="alert-link">Vai nella sezione preferiti</a>.');
			{% else %}
				if (confirm("Vuoi aggiungere l'utente all'elenco dei tuoi preferiti?")) {
					addToFavorite('{{user_info.user_id}}');
				}
			{% endif %}

			return false;
		});

		// share on Facebook action
		$("body").on("click",".shareOnFacebookClickAction", function(){
			alert("share on Facebook");

			return false;
		});

		$(".loadMoreElementsAction").click();
	});

	/* Function to add a user to favorites */
	function addToFavorite(userId) {
		if (userId) {
			var addToFavoriteCustomAjaxAction = customAjaxAction;
			// serialize form
			addToFavoriteCustomAjaxAction.setAjaxCallParams("user_id=" + userId + "&");
			// setting action name
			addToFavoriteCustomAjaxAction.setActionName("add_favorite");
			// success callback function
			var successCallback = function(jsonResponse) {
                // open success bootstrap modal
                bootstrapModalsObect.showSuccessModal('L\'utente è stato aggiunto correttamente all\'elenco dei tuoi preferiti. <a href="/profilo/preferiti/" class="alert-link">Vai nella sezione preferiti</a> per visualizzare la lista completa.');
			};
			addToFavoriteCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// error callback function
			var errorCallback = function(jsonResponse) {
				if (jsonResponse.type == "already_added") {
					// open alert bootstrap modal
                    bootstrapModalsObect.showAlertModal('Utente già presente nell\'elenco dei tuoi preferiti. <a href="/profilo/preferiti/" class="alert-link">Vai nella sezione preferiti</a>.');
                }
			};
			addToFavoriteCustomAjaxAction.setAjaxErrorCallbackFunction(errorCallback);
			// perform ajax call to add favorite
			addToFavoriteCustomAjaxAction.performAjaxAction();
		}

		return true;
	}

	/* function to remove "active" class to all vote type elements */
	function deactivateGroupVoteType(voteTypeElement) {
		if ($(voteTypeElement).length) {
			$(voteTypeElement).siblings("li").removeClass("active");
		}

		return true;
	}

	/* function to add "active" class to a selected vote type element */
	function activateVoteType(voteTypeElement) {
		if ($(voteTypeElement).length) {
			// remove error class
			$(voteTypeElement).parents(".vote_user_block").removeClass(voteUserObject.votationBlockErrorClassName);

			// add active class
			$(voteTypeElement).addClass("active");
		}

		return true;
	}
</script>
{% endblock custom_js %}
