{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | profilo di {{ user_info.first_name }} {{ user_info.last_name }}{% endblock title %}

{% block description %}Profilo utente: da qui puoi vedere il punteggio, la posizione e le foto del book di {{ user_info.first_name }} {{ user_info.last_name }}.{% endblock description %}

{# Open Graph metatags #}
{% block og_metatags %}
<meta property="og:locale" content="it_IT" />
<meta property="og:url" content="{{ absolute_uri }}" />
<meta property="og:type" content="profile" />
<meta property="og:title" content="{{ user_info.first_name }} {{ user_info.last_name }}" />
<meta property="og:site_name" content="Beauty and Pics"/>
<meta property="og:description" content="Beauty and Pics, il concorso di bellezza fatto a misura di web." />
<meta property="og:image" content="{{ profile_image_url }}" />
<meta property="og:image:width" content="500" />
<meta property="og:image:height" content="500" />
{% endblock og_metatags %}

{% block container4_title %}{{ user_info.first_name }} {{ user_info.last_name }}{% endblock container4_title %}

{% block container4_content %}
{# Facebook SDK {{{ #}
<script>
(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));
</script>
{# Facebook SDK }}} #}
<div class="user_top_info_container">
	<div class="user_top_info_block">
		<span class="user_info_label">Età: </span>
		<span class="user_info_value">{{ user_info.age }} anni</span>
	</div>
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Sesso: </span>
		<span class="user_info_value">{% if user_info.gender = "man" %}uomo{% elif user_info.gender = "woman" %}donna{% endif %}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-info display_only_small">
			<p>Dai un "<b>mi piace</b>" per {{ user_info.first_name }}: se riuscirà a raggiungere i <b>{{ like_limit }}</b> mi piace prima di tutti avrà un posto in evidenza nella passerella.</p>
		</div>
	</div>
</div>
<div class="background_container1 generic_container8 photoboard_image_container">
	<div class="left">
		<div class="top">
			<img alt="Imagine profilo" class="catwalk_user_main_image" src="{{ user_image_contest_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<div class="left">
				<a href="/passerella/dettaglio-utente/{{ user_info.user_id }}/">Visita il profilo completo</a>
			</div>
			<div class="right">
				<span>
					<a class="user_action_link addToFavoritesClickAction" href="#">
						<img alt="Aggiungi ai preferiti" src="{% static "website/img/catwalk/aggiungi-a-preferiti.png" %}">
					</a>
				</span>
				<span class="image_action_button_space">
					<a class="user_action_link" href="/passerella/segnalazione-utente/{{user_info.user_id}}/">
						<img alt="Segnala utente" src="{% static "website/img/catwalk/segnala-utente.png" %}">
					</a>
				</span>
				<span>
					<a class="user_action_link shareOnFacebookClickAction" href="#">
						<img alt="Condividi su Facebook" src="{% static "website/img/catwalk/facebook-share.png" %}">
					</a>
				</span>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container container_row1">
			<div class="container_row display_only_big">
				<div class="alert alert-info">
					<p>Dai un "<b>mi piace</b>" per {{ user_info.first_name }}: se riuscirà a raggiungere i <b>{{ like_limit }}</b> mi piace prima di tutti avrà un posto in evidenza nella passerella.</p>
				</div>
			</div>
			<div class="userVotedMsgBlockAction {% if user_can_vote %}hide{% endif %}">
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-warning">
							<span class="msgTextAction">Grazie per aver dato il tuo "mi piace" a questo partecipante. Visita anche il suo <a href="/passerella/dettaglio-utente/{{ user_info.user_id }}/">profilo</a> completo.</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container_row container_row_b80 container_row_s40 user_stats_block">
				<span>Piace a <span class="position imageContestLikeAction">{{ user_image_contest_like }}</span> persone</span>
			</div>
			<div class="container_row container_row_common10 user_stats_block">
				<span><b class="imageContestLikeRemainingAction">{{ user_image_contest_like_remaining }}</b> "mi piace" mancanti</span>
			</div>
			{% if user_can_vote %}
			<div class="container_row user_stats_block text-center addLikeButtonContainerAction">
				<a class="btn btn-success addPhotoLikeClickAction" href="#">Mi piace</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		// share on Facebook action
		$("body").on("click",".shareOnFacebookClickAction", function(){

			// create facebook share dialog
			FB.ui({ method: 'share', href: '{{ absolute_uri }}' }, function(response){});

			return false;
		});

		// add photo like
		$("body").on("click",".addPhotoLikeClickAction", function(){
			if (confirm('Confermi il "mi piace"?')) {
				addPhotoboardLike('{{ user_image_contest_id }}', '{{ user_info.user_id }}');
			}

			return false;
		});
	});

	/* Function to vote a photo */
	function addPhotoboardLike(imageContestImageId, userId) {
		if (imageContestImageId && userId) {
			var photoboardLikeCustomAjaxAction = customAjaxAction;
			// serialize form
			photoboardLikeCustomAjaxAction.setAjaxCallParams("image_contest_image_id=" + imageContestImageId + "&user_id=" + userId + "&");
			// setting action name
			photoboardLikeCustomAjaxAction.setActionName("add_photoboard_like");
			// success callback function
			var successCallback = function(jsonResponse) {
				// hide "like" button
				$(".addLikeButtonContainerAction").hide();
				if (jsonResponse.success == true) {
					// decrease/increase like/remaining like
					manageLikeNumberAfterCall();
					// show user voted msg block
					$(".userVotedMsgBlockAction").removeClass("hide");
					// open success bootstrap modal
					bootstrapModalsObect.showSuccessModal('Ottima scelta!');
				}
			};
			photoboardLikeCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// perform ajax call to add like
			photoboardLikeCustomAjaxAction.performAjaxAction();
		}

		return true;
	}

	/** decrease/increase like/remaining like */
	function manageLikeNumberAfterCall() {
		// decrease/increase like/remaining like
		var image_contest_like = parseInt($(".imageContestLikeAction").html());
		var image_contest_like_remaining = parseInt($(".imageContestLikeRemainingAction").html());
		$(".imageContestLikeAction").html(image_contest_like + 1);
		// decremento i "like" rimanenti solo se sono maggiori di 0
		if (image_contest_like_remaining > 0) {
			$(".imageContestLikeRemainingAction").html(image_contest_like_remaining - 1);
		}

		return true;
	}
</script>
{% endblock custom_js %}
