{% extends "website/inc/base_catwalk.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | passerella index{% endblock title %}

{% block description %}Beauty and Pics: pagina index passerella{% endblock description %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock block0_1_title_h4 %}

{% block container4_title %}{{ user.first_name }} {{ user.last_name }}{% endblock container4_title %}

{% block container4_content %}
<div class="user_top_info_container">
	<div class="user_top_info_block">
		<span class="user_info_label">Età: </span>
		<span class="user_info_value">{{ user.age }} anni</span>
	</div>
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Sesso: </span>
		<span class="user_info_value">{% if user.gender = "man" %}uomo{% elif user.gender = "woman" %}donna{% endif %}</span>
	</div>
	<!--
	<div class="user_top_info_space">&nbsp;</div>
	<div class="user_top_info_block">
		<span class="user_info_label">Città: </span>
		<span class="user_info_value">Torino (TO)</span>
	</div>
	-->
</div>
<div class="background_container1 generic_container8">
	<div class="left">
		<div class="top">
			<img class="catwalk_user_main_image" src="http://placekitten.com/g/250/250">
		</div>
		<div class="bottom user_action_link_container">
			<span>
				<a class="user_action_link" href="#">
					<img src="{% static "website/img/catwalk/aggiungi-a-preferiti.png" %}" alt="Aggiungi ai preferiti">
				</a>
			</span>
			<span>
				<a class="user_action_link" href="#">
					<img src="{% static "website/img/catwalk/visualizza-book.png" %}" alt="Guarda book fotografico">
				</a>
			</span>
			<span>
				<a class="user_action_link" href="/passerella/segnalazione-utente">
					<img src="{% static "website/img/catwalk/segnala-utente.png" %}" alt="Segnala utente">
				</a>
			</span>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container">
			<div class="user_stats_block">
				<span class="position">2°</span>
				<span>Posizione</span>
			</div>
			<div class="user_stats_space"></div>
			<div class="user_stats_block">
				<span class="points">{{ user_contest_info.total_points }}</span>
				<span>Punti</span>
			</div>
		</div>
		<div class="bottom">
			<div class="stats_bar_container">
				<!-- stats block -->
				<div class="stats_bar_label">Globale: {{ user_contest_info.global.total_points }} punti ({{ user_contest_info.look.metric_rate_percentage }}%)</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.global.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.global.metric_rate_percentage }}%">
						</div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Viso: {{ user_contest_info.face.total_points }} punti ({{ user_contest_info.face.metric_rate_percentage }}%)</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.look.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.look.metric_rate_percentage }}%">
						</div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Sguardo: {{ user_contest_info.look.total_points }} punti ({{ user_contest_info.look.metric_rate_percentage }}%)</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.face.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.face.metric_rate_percentage }}%">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="generic_container user_details_container">
	<div class="generic_container user_details_left">
		<div class="row">
			<div class="col-sm-12">
				<h3>Vota</h3>
			</div>
		</div>
		{# messages block #}
		<div class="msgContainerAction {% if not user_already_voted %}hide{% endif %}">
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-warning">
						<span class="msgTextAction">Potrai votare nuovamente questo partecipante quando saranno passate 48 ore dalla tua votazione.</span>
					</div>
				</div>
			</div>
		</div>
		{% if not user_already_voted %}
		<div class="voteFormContainerAction generic_container_content">
			<div class="background_container1 vote_user_container">
				<!-- vote user block -->
				<div class="vote_user_block global_vote">
					<div class="vote_user_metric_name">
						Globale
					</div>
					<div>
						<ul class="pagination pagination-md">
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="1"><a href="#">1</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="2"><a href="#">2</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="3"><a href="#">3</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="4"><a href="#">4</a></li>
							<li class="voteTypeClick" data-vote-type="global_vote_points" data-vote-value="5"><a href="#">5</a></li>
						</ul>
					</div>
				</div>
				<!-- vote user block -->
				<div class="vote_user_block face_vote">
					<div class="vote_user_metric_name">
						Viso
					</div>
					<div>
						<ul class="pagination pagination-md">
							<li class="voteTypeClick" data-vote-type="face_vote_points" data-vote-value="1"><a href="#">1</a></li>
							<li class="voteTypeClick" data-vote-type="face_vote_points" data-vote-value="2"><a href="#">2</a></li>
							<li class="voteTypeClick" data-vote-type="face_vote_points" data-vote-value="3"><a href="#">3</a></li>
							<li class="voteTypeClick" data-vote-type="face_vote_points" data-vote-value="4"><a href="#">4</a></li>
							<li class="voteTypeClick" data-vote-type="face_vote_points" data-vote-value="5"><a href="#">5</a></li>
						</ul>
					</div>
				</div>
				<!-- vote user block -->
				<div class="vote_user_block look_vote">
					<div class="vote_user_metric_name">
						Sguardo
					</div>
					<div>
						<ul class="pagination pagination-md">
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="1"><a href="#">1</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="2"><a href="#">2</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="3"><a href="#">3</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="4"><a href="#">4</a></li>
							<li class="voteTypeClick" data-vote-type="look_vote_points" data-vote-value="5"><a href="#">5</a></li>
						</ul>
					</div>
				</div>
				<div class="vote_user_button_container">
					<a href="#" class="btn btn-success submitVoteButtonClickAction">Vota</a>
				</div>
			</div>
		</div>
		{% endif %}
	</div>
	<div class="generic_container user_details_right">
		<div class="row">
			<div class="col-sm-12">
				<h3>Book fotografico</h3>
			</div>
		</div>
		<div class="generic_container_content">
			{# image grid #}
			<div class="row">
				<div class="col-sm-12 image_grid_container"></div>
			</div>
			<div class="text-center">
				<a class="btn btn-success load_more_images" href="#">Carica altre</a>
			</div>
		</div>
	</div>
</div>

{# hidden form #}
<form class="hide" method="post" action="">
</form>
{% endblock container4_content %}

{% block custom_js %}
<script>
	$(document).ready(function(){
		// single vote type click
		$(".voteTypeClick").click(function(){
			voteUserObject.addParam($(this).data("voteType"), $(this).data("voteValue"));
			deactivateGroupVoteType($(this));
			activateVoteType($(this));

			return false;
		});

		// performin vote action
		$(".submitVoteButtonClickAction").click(function(){
			voteUserObject.addParam("user_id", "{{ user.user_id }}");
			voteUserObject.performVotingAction();

			return false;
		});

		/*$(".load_more_images").click(function(){
			var block_size = {
				lg_size : 3,
				md_size : 3,
				sm_size : 4,
				xs_size : 6
			};
			var elements = getItems(block_size);
			$(".image_grid_container").append(elements);

			return false;
		});*/
	});

	/* function to remove "active" class to all vote type elements */
	function deactivateGroupVoteType(voteTypeElement) {
		if ($(voteTypeElement).length) {
			$(voteTypeElement).siblings("li").removeClass("active");
		}

		return true;
	}

	/* function to add "active" class to a selected vote type element */
	function activateVoteType(voteTypeElement) {
		if ($(voteTypeElement).length) {
			// remove error class
			$(voteTypeElement).parents(".vote_user_block").removeClass(voteUserObject.votationBlockErrorClassName);

			// add active class
			$(voteTypeElement).addClass("active");
		}

		return true;
	}
</script>
{% endblock custom_js %}
