{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Beauty and Pics | passerella index</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Beauty and Pics: pagina index passerella">
{% endblock description %}

{% block block0_0 %}
{% endblock block0_0 %}

{% block custom_page_script %}
{# Put addictional page script here #}
{% endblock custom_page_script %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock block0_1_title_h4 %}

{% block container4_title %}
La passerella
{% endblock container4_title %}

{% block container4_content %}
{% endblock container4_content %}

{#{% block block0_1_content %}
	{{ block.super }}
	{% block block1_0_content %}
	{ Page main content here }
	{% endblock block1_0_content %}
{% endblock block0_1_content %}#}
