{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="it"> <!--<![endif]-->
	<head>
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% block description %}{% endblock description %}">

		<title>{% block title %}{% endblock title %}</title>

		<link rel="stylesheet" href="{% static "website/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "website/css/bootstrap_custom.css" %}">
		<link rel="stylesheet" href="{% static "website/css/common.css" %}">
		<link rel="stylesheet" href="{% static "website/css/main.css" %}">

		{# IE8 CSS fix style sheets #}
		<!--[if lt IE 9]>
			<link rel="stylesheet" type="text/css" href="{% static "website/css/big.css" %}" />
		<![endif]-->

		{# Custom page css block #}
		{% block custom_css %}
		{% endblock custom_css %}

		<script src="{% static "website/js/vendor/modernizr-2.6.2.min.js" %}"></script>

		{% endblock head %}
	</head>
	<body>
		{% block header %}
		<header class="left_100">
			<div class="header first_color left_100">
				<div class="centered_page max_width_page">
					{# logo container #}
					<div class="logo_container">
						<a href="/index/">
							<img alt="Beauty and Pics" src="{% static "website/img/logo.png" %}">
						</a>
					</div>
					{# toggle menu button #}
					<div class="navbar-default">
						<div class="navbar-toggle collapsed display_only_small">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</div>
					</div>
					{# navigation before login {{{ #}
					{% block no-login-navigation %}
					<div class="header_button_container">
						<div>
							<a href="/registrati/" class="btn btn-success">Partecipa</a>
							<a href="/login/" class="btn btn-login">Accedi</a>
						</div>
					</div>
					<div class="navigation_container www_navigation toggle_navigation">
						<nav>
							<a href="/come-funziona/"><div class="navigation_item"><span class="navigation_label">Come funziona</span><span class="navigation_arrow display_only_big">v</span></div></a>
							<a href="/come-funziona/"><div class="navigation_item"><span class="navigation_label">Il concorso</span><span class="navigation_arrow display_only_big">v</span></div></a>
							<a href="/come-funziona/"><div class="navigation_item"><span class="navigation_label">Come iscriversi</span><span class="navigation_arrow display_only_big">v</span></div></a>
						</nav>
					</div>
					{% endblock no-login-navigation %}
					{# navigation before login }}} #}
					{# navigation after login {{{ #}
					{% block login-navigation %}
					<div class="search_form_container display_only_big">
						<form class="form-horizontal">
							<fieldset>
								<div class="input-group">
									<input class="form-control" placeholder="Cerca una persona..." type="text">
									<span class="input-group-btn">
										<button class="btn btn-success" type="button">Cerca</button>
									</span>
								</div>
							</fieldset>
						</form>
					</div>
					<div class="profile_container toggle_navigation">
						<div class="profile_container_wrapper">
							<div class="profile_name_image_container">
								<div class="profile_image_container">
									<img class="img-circle" alt="Immagine del profilo" src="http://placekitten.com/g/51/51">
								</div>
								<div class="profile_name_container">
									<div>Ciao</div>
									<strong>Nome Cognome <img class="profile_arrow_bottom display_only_big" alt="Bottom arrow" src="{% static "website/img/bottom-arrow.png" %}"></strong>
								</div>
							</div>
							{# after login menu {{{ #}
							<div class="navigation_container toggle_navigation">
								<!-- single menu item -->
								<div class="menu_item_container">
									<a href="/profilo/">
										<div class="menu_item_image">
											<img alt="Profilo" src="{% static "website/img/menu_profile.png" %}">
										</div>
										<div class="menu_item_label">
											Profilo
										</div>
									</a>
								</div>
								<!-- single menu item -->
								<div class="menu_item_container">
									<a href="/profilo/statistiche/">
										<div class="menu_item_image">
											<img alt="Profilo" src="{% static "website/img/menu_stats.png" %}">
										</div>
										<div class="menu_item_label">
											Sguardo rapido
										</div>
									</a>
								</div>
								<!-- single menu item -->
								<div class="menu_item_container">
									<a href="/passerella/richiesta-aiuto">
										<div class="menu_item_image">
											<img alt="Profilo" src="{% static "website/img/menu_help.png" %}">
										</div>
										<div class="menu_item_label">
											Bisogno di aiuto?
										</div>
									</a>
								</div>
								<!-- single menu item -->
								<div class="menu_item_container last_menu_item_container">
									<a href="#">
										<div class="menu_item_image">
											<img alt="Profilo" src="{% static "website/img/menu_logout.png" %}">
										</div>
										<div class="menu_item_label">
											Esci
										</div>
									</a>
								</div>
							</div>
							{# after login menu }}} #}
						</div>
					</div>
					{% endblock login-navigation %}
					{# navigation after login }}} #}
				</div>
			</div>
		</header>
		{% endblock header %}

		{# content inside image div here {{{ #}
		{% block block0_0 %}
			<section class="height_100">
				<div class="image_background_container">
					{% block block0_0_title %}
						<div class="title_block margin_top_20">
							<h1 class="title">{% block block0_0_title_h1 %}Main title{% endblock block0_0_title_h1 %}</h1>
							<h4 class="description">{% block block0_0_title_h4 %}Page description{% endblock block0_0_title_h4 %}</h4>
						</div>
					{% endblock block0_0_title %}
					<div class="left_100 text-center">
						{% block block0_0_content %}
						{% endblock block0_0_content %}
					</div>
				</div>
			</section>
		{% endblock block0_0 %}
		{# content inside image div here }}} #}

		{# content without image div here {{{ #}
		{% block block0_1 %}
			<section class="height_100">
				{% block block0_1_title %}
					<div class="title_block">
						<h1 class="title">{% block block0_1_title_h1 %}Main title{% endblock block0_1_title_h1 %}</h1>
						<h4 class="description">{% block block0_1_title_h4 %}Page description{% endblock block0_1_title_h4 %}</h4>
					</div>
				{% endblock block0_1_title %}
				<div class="left_100 text-center">
					<div class="generic_container generic_container3">
						<div class="generic_container generic_container4">
							{# left block (with catwalk) #}
							{% block container4_title_block %}
							<div class="row">
								<div class="col-sm-12">
									<h3>{% block container4_title %}Page title{% endblock %}</h3>
								</div>
							</div>
							{% endblock container4_title_block %}
							{# navigation tabs #}
							{% block container4_navigation %}
							<div class="row">
								<div class="col-sm-12">
									<ul class="nav nav-pills">
										<li class="{% block container4_navigation_profile_index %}{% endblock %}"><a href="/profilo/">Album fotografico</a></li>
										<li class="{% block container4_navigation_profile_data %}{% endblock %}"><a href="/profilo/dati-personali/">Dati personali</a></li>
										<li class="{% block container4_navigation_profile_favorites %}{% endblock %}"><a href="/profilo/preferiti/">Preferiti</a></li>
										<li class="{% block container4_navigation_profile_stats %}{% endblock %}"><a href="/profilo/statistiche/">Statistiche</a></li>
										<li class="{% block container4_navigation_profile_area51 %}{% endblock %}"><a href="/profilo/zona-proibita/">Zona proibita</a></li>
									</ul>
								</div>
							</div>
							{% endblock container4_navigation %}
							{% block container4_content %}
							{% endblock container4_content %}
						</div>
						<div class="generic_container generic_container5">
							{# banner block #}
							<div class="generic_container generic_container6">
								<div class="title">
									<h4>Partecipa anche tu!</h4>
								</div>
								<div class="button_container">
									<a class="btn btn-danger" href="#">Partecipa</a>
								</div>
							</div>
							{# right classification block {{{ #}
							<div class="text-center inline_block generic_container9">
								<div class="title">
									<h4>Top 5</h4>
								</div>
								<a class="classification_block" href="/passerella/dettaglio-utente/">
									<div class="classification_block_wrapper">
										<div class="left"><img alt="Classifica" src="http://placekitten.com/g/70/70"></div>
										<div class="right">
											<div class="classification_position">1°</div>
											<div class="classification_name">Nome Cognome</div>
											<div class="classification_points">2453 punti</div>
										</div>
									</div>
								</a>
								<a class="classification_block" href="/passerella/dettaglio-utente/">
									<div class="classification_block_wrapper">
										<div class="left"><img alt="Classifica" src="http://placekitten.com/g/70/70"></div>
										<div class="right">
											<div class="classification_position">2°</div>
											<div class="classification_name">Nome Cognome</div>
											<div class="classification_points">1153 punti</div>
										</div>
									</div>
								</a>
								<a class="classification_block" href="/passerella/dettaglio-utente/">
									<div class="classification_block_wrapper">
										<div class="left"><img alt="Classifica" src="http://placekitten.com/g/70/70"></div>
										<div class="right">
											<div class="classification_position">3°</div>
											<div class="classification_name">Nome Cognome</div>
											<div class="classification_points">453 punti</div>
										</div>
									</div>
								</a>
								<a class="classification_block" href="/passerella/dettaglio-utente/">
									<div class="classification_block_wrapper">
										<div class="left"><img alt="Classifica" src="http://placekitten.com/g/70/70"></div>
										<div class="right">
											<div class="classification_position">4°</div>
											<div class="classification_name">Nome Cognome</div>
											<div class="classification_points">353 punti</div>
										</div>
									</div>
								</a>
								<a class="classification_block" href="/passerella/dettaglio-utente/">
									<div class="classification_block_wrapper">
										<div class="left"><img alt="Classifica" src="http://placekitten.com/g/70/70"></div>
										<div class="right">
											<div class="classification_position">5°</div>
											<div class="classification_name">Nome Cognome</div>
											<div class="classification_points">23 punti</div>
										</div>
									</div>
								</a>
							</div>
							{# right classification block }}} #}
						</div>
					</div>
				</div>
			</section>
		{% endblock block0_1 %}
		{# content without image div here }}} #}

		{% block footer %}
		<footer>
			<div class="left_100 second_color footer_block">
				<div class="centered_page max_width_page text-center">
					<div class="footer_container">
						<div class="footer_image_continer">
							<img alt="Beauty and Pics" src="{% static "website/img/unicorn_left.png" %}">
						</div>
						<div class="powered_by_container">
							<span><span class="footer_year">2015</span><span class="display_only_big">&nbsp;|&nbsp;</span>Proudly powered by <b>Entpy Software</b></span>
						</div>
						<div class="footer_image_continer">
							<img alt="Beauty and Pics" src="{% static "website/img/unicorn_right.png" %}">
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% endblock footer %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
		<script src="{% static "website/js/vendor/bootstrap.min.js" %}"></script>
		<script src="{% static "website/js/plugins.js" %}"></script>
		<script src="{% static "website/js/vendor/masonry.pkgd.min.js" %}"></script>
		<script src="{% static "website/js/vendor/imagesloaded.pkgd.min.js" %}"></script>
		<script src="{% static "website/js/main.js" %}"></script>

		{# Custom page script block #}
		{% block custom_js %}
		{% endblock custom_js %}

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
	</body>
</html>
