{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}

{# set navigation type #}
{#% block login-navigation %}{% endblock %#}
{#% block no-login-navigation %}{{ block.super }}{% endblock %#}

{% block block0_1 %}{% endblock %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock %}

{# container content #}
{% block block0_0_content %}{% endblock %}
