{% extends "website/inc/base.html" %}
{% load staticfiles website_extras %}

{% block extra_js %}
{% endblock extra_js %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# hide photoboard list banner #}
{% block photoboard_list_banner %}{% endblock %}
{# hide photoboard winner banner #}
{% block photoboard_winner_banner %}{% endblock %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock %}

{# title block text #}
{% block block0_1_title_h1 %}<span class="contest_timedelta_string_container"></span>{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}<span class="contest_status_container"></span>{% endblock block0_1_title_h4 %}

{# container title block, the page inside profile doesn't use a title #}
{% block container4_title_block %}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
{% endblock %}

{% block www_block %}{% endblock %}
{# navigation block #}
{% block container4_navigation %}{{ block.super }}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}{% endblock %}
{% block container4_navigation_profile_favorites %}{% endblock %}
{% block container4_navigation_profile_stats %}{% endblock %}
{% block container4_navigation_profile_preferences %}{% endblock %}
{% block container4_navigation_profile_notify %}{% endblock %}

{# page tip block (blocco a destra con titolo e descrizione) #}
{% block page_tip %}
{% autoescape off %}
{% include "website/inc/include_blocks/page_tip.html" with title="Il tuo profilo" text="<b>"|str_cat:user.first_name|escape|str_cat:"</b>,<br />questa è la tua area privata. Da qui puoi modificare i dettagli del tuo profilo, aggiungere/rimuovere foto, visualizzare l'elenco dei preferiti che hai salvato e tante altre cose." only %}
{% endautoescape %}
{% endblock %}

{# container content #}
{% block container4_content %}{% endblock %}

{# custom page js #}
{% block custom_js %}
{{ block.super }}
{% if check_user_notify %}
<script src="{% static "notify_system_app/js/notify.js" %}"></script>
{% endif %}
{% endblock custom_js %}

{# custom page css #}
{% block custom_css %}{% endblock %}

{# contest info block #}
{% block contest_info_block %}
{% if contest_info %}
<span class="contest_info_block display_none" data-contest-status="{{ contest_info.status }}" data-contest-time-delta="{{ contest_info.timedelta }}"></span>
{% endif %}
{% endblock %}
