{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="it"> <!--<![endif]-->
	<head>
		{#<script type="text/javascript" src="https://getfirebug.com/firebug-lite.js"></script>#}
		{% block head %}
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="description" content="{% block description %}{% endblock description %}">

		<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
		<!--[if IE]><link rel="shortcut icon" href="{% static "website/favicon.ico" %}"><![endif]-->
		<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
		<link rel="apple-touch-icon-precomposed" href="{% static "website/apple-touch-icon-precomposed.png" %}">
		<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
		<link rel="icon" href="{% static "website/favicon.png" %}">

		<title>{% block title %}Beauty and Pics: il contest più fico dell'universo{% endblock title %}</title>

		<link rel="stylesheet" href="{% static "website/css/bootstrap.css" %}">
		<link rel="stylesheet" href="{% static "website/css/bootstrap_custom.css" %}">
		<link rel="stylesheet" href="{% static "website/css/common.css" %}">
		<link rel="stylesheet" href="{% static "website/css/main.css" %}">

		{# IE8 CSS fix style sheets #}
		<!--[if lte IE 9]>
			<link rel="stylesheet" type="text/css" href="{% static "website/css/big.css" %}" />
			<link rel="stylesheet" type="text/css" href="{% static "website/css/ie8-ie9_fix.css" %}" />
		<![endif]-->

		{# Custom page css block #}
		{% block custom_css %}
		{% endblock custom_css %}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
		<script src="{% static "website/js/vendor/modernizr-2.6.2.min.js" %}"></script>
		{% endblock head %}
	</head>
	<body>
		{% block header %}
		<header class="left_100">
			<div class="header first_color left_100">
				<div class="centered_page max_width_page">
					{# logo container #}
					<div class="logo_container">
						<a href="/index/">
							<img alt="Beauty and Pics" src="{% static "website/img/logo.png" %}" width="189" height="79">
						</a>
					</div>
					{# toggle menu button #}
					<div class="navbar-default">
						<div class="navbar-toggle collapsed display_only_small">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</div>
					</div>
					{# navigation after login {{{ #}
					{#% block login-navigation %#}
					{% if user_is_authenticated %}
						<!-- search user form
						<div class="search_form_container display_only_big">
							<form class="form-horizontal">
								<fieldset>
									<div class="input-group">
										<input class="form-control" placeholder="Cerca una persona..." type="text">
										<span class="input-group-btn">
											<button class="btn btn-success" type="button">Cerca</button>
										</span>
									</div>
								</fieldset>
							</form>
						</div>
						-->
						<div class="profile_container toggle_navigation">
							<div class="profile_container_wrapper">
								<div class="profile_name_image_container">
									<div class="profile_image_container">
										<img class="img-circle navigation_profile_image" alt="Immagine del profilo" src="{{ profile_thumbnail_image_url }}">
									</div>
									<div class="profile_name_container">
										<div>Ciao</div>
										<strong>{{ user.first_name }} {{ user.last_name }} <img class="profile_arrow_bottom display_only_big" alt="Bottom arrow" src="{% static "website/img/bottom-arrow.png" %}"></strong>
									</div>
								</div>
								{# after login menu {{{ #}
								<div class="logged_navigation_container navigation_container toggle_navigation">
									<!-- single menu item -->
									<a href="/profilo/">
										<div class="menu_item_container menuItemContainerClickAction">
											<div class="menu_item_image">
												<img alt="Profilo" src="{% static "website/img/menu_profile.png" %}">
											</div>
											<div class="menu_item_label">
												Profilo
											</div>
										</div>
									</a>
									<!-- single menu item -->
									<a href="/passerella/{{ authenticated_user_contest_type }}">
										<div class="menu_item_container menuItemContainerClickAction">
											<div class="menu_item_image">
												<img alt="La passerella" src="{% static "website/img/menu_catwalk.png" %}">
											</div>
											<div class="menu_item_label">
												La passerella
											</div>
										</div>
									</a>
									<!-- single menu item -->
									<a href="/profilo/statistiche/">
										<div class="menu_item_container menuItemContainerClickAction">
											<div class="menu_item_image">
												<img alt="Sguardo rapido" src="{% static "website/img/menu_stats.png" %}">
											</div>
											<div class="menu_item_label">
												Sguardo rapido
											</div>
										</div>
									</a>
									<!-- single menu item -->
									<a href="/passerella/richiesta-aiuto">
										<div class="menu_item_container menuItemContainerClickAction">
											<div class="menu_item_image">
												<img alt="Bisogno di aiuto?" src="{% static "website/img/menu_help.png" %}">
											</div>
											<div class="menu_item_label">
												Bisogno di aiuto?
											</div>
										</div>
									</a>
									<!-- single menu item -->
									<a href="/logout/">
										<div class="menu_item_container last_menu_item_container menuItemContainerClickAction">
											<div class="menu_item_image">
												<img alt="Esci" src="{% static "website/img/menu_logout.png" %}">
											</div>
											<div class="menu_item_label">
												Esci
											</div>
										</div>
									</a>
								</div>
								{# after login menu }}} #}
							</div>
						</div>
						{#% endblock login-navigation %#}
						{# navigation after login }}} #}
					{% else %}
						{# navigation before login {{{ #}
						{#% block no-login-navigation %#}
						<div class="header_button_container">
							<div>
								<a href="/registrati/" class="btn btn-success">Partecipa</a>
								<a href="/login/" class="btn btn-login">Accedi</a>
							</div>
						</div>
						<div class="navigation_container www_navigation toggle_navigation">
							<nav>
								<a href="/come-funziona/" class="display_only_big"><div class="navigation_item"><span class="navigation_label">Come funziona</span><span class="navigation_arrow display_only_big">v</span></div></a>
								<a href="/come-funziona/" class="display_only_big"><div class="navigation_item"><span class="navigation_label">Il concorso</span><span class="navigation_arrow display_only_big">v</span></div></a>
								<a href="/come-funziona/" class="display_only_big"><div class="navigation_item"><span class="navigation_label">Come iscriversi</span><span class="navigation_arrow display_only_big">v</span></div></a>
								<a href="/come-funziona/" class="display_only_small"><div class="navigation_item"><span class="navigation_label">Come funziona</span><span class="navigation_arrow display_only_big">v</span></div></a>
								<a href="/passerella/woman_contest" class="display_only_small"><div class="navigation_item"><span class="navigation_label">Passerella donna</span><span class="navigation_arrow display_only_big">v</span></div></a>
								<a href="/passerella/man_contest" class="display_only_small"><div class="navigation_item"><span class="navigation_label">Passerella uomo</span><span class="navigation_arrow display_only_big">v</span></div></a>
							</nav>
						</div>
						{#% endblock no-login-navigation %#}
						{# navigation before login }}} #}
					{% endif %}
				</div>
			</div>
		</header>
		{% endblock header %}

		{# content inside image div here {{{ #}
		{% block block0_0 %}
			<section class="height_100">
				<div class="image_background_container">
					{% block block0_0_title %}
						<div class="title_block margin_top_20">
							<h1 class="title">{% block block0_0_title_h1 %}Main title{% endblock block0_0_title_h1 %}</h1>
							<h4 class="description">{% block block0_0_title_h4 %}Page description{% endblock block0_0_title_h4 %}</h4>
						</div>
					{% endblock block0_0_title %}
					<div class="left_100 text-center">
						{% block block0_0_content %}
						{% endblock block0_0_content %}
					</div>
				</div>
			</section>
		{% endblock block0_0 %}
		{# content inside image div here }}} #}

		{# content without image div here {{{ #}
		{% block block0_1 %}
			<section class="height_100 page_section">
				{% block block0_1_title %}
					<div class="title_block">
						<h1 class="title">{% block block0_1_title_h1 %}Main title{% endblock block0_1_title_h1 %}</h1>
						<h4 class="description">{% block block0_1_title_h4 %}Page description{% endblock block0_1_title_h4 %}</h4>
					</div>
				{% endblock block0_1_title %}
				<div class="left_100 text-center">
					<div class="generic_container generic_container3">
						{# left block (with catwalk) #}
						<div class="generic_container generic_container4">
							{% block return_to_catwalk_block %}{% endblock %} {# return to catwalk block #}
							{% block container4_title_block %}
							<div class="row">
								<div class="col-sm-12">
									<h3>{% block container4_title %}Page title{% endblock %}</h3>
								</div>
							</div>
							{% endblock container4_title_block %}
							{# navigation tabs #}
							{% block container4_navigation %}
							<div class="row">
								<div class="col-sm-12">
									<ul class="nav nav-pills">
										<li class="{% block container4_navigation_profile_index %}{% endblock %}"><a href="/profilo/">Album fotografico</a></li>
										<li class="{% block container4_navigation_profile_data %}{% endblock %}"><a href="/profilo/dati-personali/">Dati personali</a></li>
										<li class="{% block container4_navigation_profile_favorites %}{% endblock %}"><a href="/profilo/preferiti/">Preferiti</a></li>
										<li class="{% block container4_navigation_profile_stats %}{% endblock %}"><a href="/profilo/statistiche/">Statistiche</a></li>
										<li class="{% block container4_navigation_profile_unsubscribe %}{% endblock %}"><a href="/profilo/disiscriviti/">Notifiche</a></li>
										<li class="{% block container4_navigation_profile_area51 %}{% endblock %}"><a href="/profilo/zona-proibita/">Zona proibita</a></li>
									</ul>
								</div>
							</div>
							{% endblock container4_navigation %}
							{% block container4_content %}
							{% endblock container4_content %}
						</div>
						<div class="generic_container generic_container5">
							{# banner block #}
							{% block catwalk_tip %}
							{% endblock catwalk_tip %}
							{% block signup_banner %}
								{% if not user_is_authenticated %}
								<div class="generic_container generic_container6 signup_banner_bg">
									<div class="title">
										<h4>Partecipa anche tu!</h4>
									</div>
									<div class="button_container">
										<a class="btn btn-danger" href="/registrati/">Partecipa</a>
									</div>
								</div>
								{% endif %}
							{% endblock signup_banner %}
							{% block catwalk_banner %}
							<div class="generic_container generic_container6 catwalk_banner_bg">
								<div class="title">
									<h4>Vai alla passerella!</h4>
								</div>
								<div class="button_container">
									<a class="btn btn-danger" href="/passerella/">La passerella</a>
								</div>
							</div>
							{% endblock catwalk_banner %}
							{# winner user block {{{ #}
							{% if contest_winner %}
							<div class="text-center inline_block generic_container9 margin_bottom_20">
								<div class="title">
									<h4>Vincitore anno {{ contest_winner.contest__start_date|date:"Y" }}</h4>
								</div>
								<div class="winner_block_wrapper">
									<div class="winner_block_name">{{ contest_winner.first_name }} {{ contest_winner.first_name }}</div>
									<div class="winner_block_img"><img alt="Vincitore concorso" src="{{ contest_winner.profile_thumbnail_image }}"></div>
									<div class="winner_block_points">{{ contest_winner.points }} punti</div>
									{% if contest_winner.user__id %}
										<div class="winner_block_button"><a class="btn btn-danger" href="/passerella/dettaglio-utente/{{ contest_winner.user__id }}/">Guarda profilo</a></div>
									{% endif %}
								</div>
							</div>
							{% endif %}
							{# right classification block }}} #}
							{# right classification block {{{ #}
							{% if top_five_account %}
							<div class="text-center inline_block generic_container9">
								<div class="title">
									<h4>Top 5</h4>
								</div>
								{% for single_user in top_five_account %}
									<a class="classification_block" href="/passerella/dettaglio-utente/{{ single_user.user_id }}/">
										<div class="classification_block_wrapper">
											<div class="left"><img class="top_five_thumbnail" alt="Immagine partecipante" src="{{ single_user.user_profile_thumbnail_image_url }}"></div>
											<div class="right">
												<div class="classification_position">{{ forloop.counter }}°</div>
												<div class="classification_name">{{ single_user.user_first_name }} {{ single_user.user_last_name }}</div>
												<div class="classification_points">{{ single_user.user_total_points|default_if_none:0 }} punti</div>
											</div>
										</div>
									</a>
								{% endfor %}
							</div>
							{% endif %}
							{# right classification block }}} #}
						</div>
					</div>
				</div>
			</section>
		{% endblock block0_1 %}
		{# content without image div here }}} #}

		{% block footer %}
		<footer>
			<div class="left_100 second_color footer_block">
				<div class="centered_page max_width_page text-center">
					<div class="footer_container">
						<div class="footer_image_continer display_only_big">
							<img alt="Beauty and Pics" src="{% static "website/img/unicorn_left.png" %}">
						</div>
						<div class="powered_by_container">
							<div class="footer_nav">
								<div>
									<a href="/privacy/">Privacy</a>
								</div>
								<div>
									<a href="/come-funziona/">Come funziona</a>
								</div>
								<div>
									<a href="/passerella/richiesta-aiuto/">Segnala un problema</a>
								</div>
							</div>
							<span><span class="footer_year">2015</span><span class="display_only_big">&nbsp;|&nbsp;</span>Proudly powered by <b>Entpy Software</b></span>
						</div>
						<div class="footer_image_continer display_only_big">
							<img alt="Beauty and Pics" src="{% static "website/img/unicorn_right.png" %}">
						</div>
					</div>
				</div>
			</div>
		</footer>
		{% endblock footer %}

		<script src="{% static "website/js/vendor/bootstrap.min.js" %}"></script>
		<script src="{% static "website/js/vendor/ajax_wrapper.js" %}"></script>
		<script src="{% static "website/js/vendor/jquery.cookie.js" %}"></script>
		<script src="{% static "website/js/vendor/json2.js" %}"></script>
		<script src="{% static "website/js/vendor/countdown.js" %}"></script>
		<script src="{% static "website/js/main.js" %}"></script>

		{# Custom page script block #}
		{% block custom_js %}
		{% endblock custom_js %}

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>
		{% block contest_info_block %}{% endblock %}
	</body>
</html>
