{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# set navigation type #}
{#% block login-navigation %}{{ block.super }}{% endblock %#}
{#% block no-login-navigation %}{% endblock %#}

{% block container4_navigation %}{% endblock %}

{% block block0_0 %}{% endblock %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock %}

{# title block text #}
{% block block0_1_title_h1 %}{% endblock %}
{% block block0_1_title_h4 %}{% endblock %}

{# container title #}
{% block container4_title %}{% endblock %}

{# container content #}
{% block container4_content %}{% endblock %}

{# custom page js #}
{% block custom_js %}{% endblock %}

{# contest info block #}
{% block contest_info_block %}
{% if contest_info %}
<span class="contest_info_block display_none" data-contest-status="{{ contest_info.status }}" data-contest-time-delta="{{ contest_info.timedelta }}"></span>
{% endif %}
{% endblock %}
