{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block extra_js %}
{% if welcome %}
<!-- Facebook Conversion Code for Registrazioni sul sito -->
<!--
<script>(function() { var _fbq = window._fbq || (window._fbq = []); if (!_fbq.loaded) { var fbds = document.createElement('script'); fbds.async = true; fbds.src = '//connect.facebook.net/en_US/fbds.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fbds, s); _fbq.loaded = true; } })(); window._fbq = window._fbq || []; window._fbq.push(['track', '6029232026278', {'value':'0.01','currency':'USD'}]); </script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6029232026278&amp;cd[value]=0.01&amp;cd[currency]=USD&amp;noscript=1" /></noscript>
-->
{% endif %}
{% endblock extra_js %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# set navigation type #}
{#% block login-navigation %}{{ block.super }}{% endblock %#}
{#% block no-login-navigation %}{% endblock %#}

{% block block0_0 %}{% endblock %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock %}

{# title block text #}
{% block block0_1_title_h1 %}<span class="contest_timedelta_string_container"></span>{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}<span class="contest_status_container"></span>{% endblock block0_1_title_h4 %}

{# container title block #}
{% block container4_title_block %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}{% endblock %}
{% block container4_navigation_profile_data %}{% endblock %}
{% block container4_navigation_profile_favorites %}{% endblock %}
{% block container4_navigation_profile_stats %}{% endblock %}
{% block container4_navigation_profile_area51 %}{% endblock %}
{% block container4_navigation_profile_unsubscribe %}{% endblock %}

{# container content #}
{% block container4_content %}{% endblock %}

{# tip container #}
{% block catwalk_tip %}
<div class="generic_container tip_container display_only_big">
	<div class="title">
		<h4>Il tuo profilo</h4>
	</div>
	<div class="tip_readable_text">
	    Ciao <b>{{ user.first_name }}</b><br />benvenuta/o nel tuo profilo. Da qui puoi modificare i dettagli del tuo profilo, aggiungere/rimuovere foto, visualizzare l'elenco dei preferiti che hai salvato e tante altre cose.
	</div>
</div>
{% endblock catwalk_tip %}

{# custom page js #}
{% block custom_js %}{% endblock %}

{# custom page css #}
{% block custom_css %}{% endblock %}

{# contest info block #}
{% block contest_info_block %}
{% if contest_info %}
<span class="contest_info_block display_none" data-contest-status="{{ contest_info.status }}" data-contest-time-delta="{{ contest_info.timedelta }}"></span>
{% endif %}
{% endblock %}
