{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Beauty and Pics | index</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Beauty and Pics: pagina index">
{% endblock description %}

{% block main_content %}
{% endblock main_content %}

{% block custom_page_script %}
{# Put addictional page script here #}
{% endblock custom_page_script %}

{% block image_content_start %}
	<section class="height_100">
		<div class="image_background_container">
{% endblock image_content_start %}

{% block image_content %}
	<div class="title_block">
		<h1 class="title">Recupera password</h1>
	</div>
	<div class="left_100 text-center">
{% endblock image_content %}

{% block image_content_end %}
			</div>
		</div>
	</section>
{% endblock image_content_end %}
