{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# custom page css block #}
{% block custom_css %}{% endblock %}

{% block block0_1 %}{% endblock %}

{# navigation active element #}
{% block www_navigation_contest %}{% endblock %}
{% block www_navigation_how_it_works %}{% endblock %}
{% block www_navigation_signup %}{% endblock %}

{# Custom page script block #}
{% block custom_js %}{{ block.super }}{% endblock %}

{# container content #}
{% block block0_0_content %}{% endblock %}
