{% extends "website/inc/base.html" %}
{% load staticfiles django_bootstrap_breadcrumbs %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# Open Graph metatags (es. Facebook) #}
{% block og_metatags %}{% endblock %}

{% block www_block %}{% endblock %}

{# catwalk banner #}
{% block catwalk_banner %}{{ block.super }}{% endblock %}
{# photoboard list banner #}
{% block photoboard_list_banner %}{{ block.super }}{% endblock %}
{# photoboard winner banner #}
{% block photoboard_winner_banner %}{% endblock %}
{# contest winner banner #}
{% block contest_winner_banner %}{% endblock %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock %}

{# navigation bar #}
{% block navigation_bar_content %}
	<a href="/passerella/"><div class="{% block navigation_element1_active %}{% endblock %} menu-item-container"><div>Passerella</div></div></a>
	<a href="/concorsi-a-tema/"><div class="{% block navigation_element2_active %}{% endblock %} menu-item-container"><div>Concorsi a tema</div></div></a>
{% endblock %}

{# container title #}
{% block container4_title_block %}{% endblock %}

{% block breadcrumbs %}
	{{ block.super }}
	{% breadcrumb "La passerella" "/passerella/" %}
{% endblock %}

{# container content #}
{% block container4_content %}{% endblock %}

{# page tip block (blocco a destra con titolo e descrizione) #}
{% block page_tip %}{% endblock %}

{# custom page js #}
{% block custom_js %}
{{ block.super }}
{% if check_user_notify %}
<script src="{% static "notify_system_app/js/notify.js" %}"></script>
{% endif %}
{% endblock custom_js %}

{# contest info block #}
{% block contest_info_block %}
{% if contest_info %}
<span class="contest_info_block display_none" data-contest-status="{{ contest_info.status }}" data-contest-time-delta="{{ contest_info.timedelta }}"></span>
{% endif %}
{% endblock %}
