{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock %}

{# page description #}
{% block description %}{% endblock %}

{# set navigation type #}
{#% block login-navigation %}{{ block.super }}{% endblock %#}
{#% block no-login-navigation %}{% endblock %#}

{% block block0_0 %}{% endblock %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock %}

{# title block text #}
{% block block0_1_title_h1 %}{% endblock %}
{% block block0_1_title_h4 %}{% endblock %}

{# container title block #}
{% block container4_title_block %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}{% endblock %}
{% block container4_navigation_profile_data %}{% endblock %}
{% block container4_navigation_profile_favorites %}{% endblock %}
{% block container4_navigation_profile_stats %}{% endblock %}
{% block container4_navigation_profile_area51 %}{% endblock %}

{# container content #}
{% block container4_content %}{% endblock %}

{# custom page js #}
{% block custom_js %}{% endblock %}
