{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Beauty and Pics | registrati</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Beauty and Pics: pagina registrati">
{% endblock description %}

{% block main_content %}
{% endblock main_content %}

{% block custom_page_script %}
{# Put addictional page script here #}
{% endblock custom_page_script %}

{% block block0_0_title_h1 %}Partecipa al concorso!{% endblock block0_0_title_h1 %}
{% block block0_0_title_h4 %}Registrarsi è facile e veloce. Forza, che aspetti!{% endblock block0_0_title_h4 %}

{% block block0_0_content %}
	{{ block.super }}
	{% block block1_0_content %}
	{# Page main content here #}
	{% endblock block1_0_content %}
{% endblock block0_0_content %}
