{% extends "website/inc/base.html" %}
{% load staticfiles %}

{% block title %}
<title>Beauty and Pics | index</title>
{% endblock title %}

{% block description %}
<meta name="description" content="Beauty and Pics: pagina index">
{% endblock description %}

{% block main_content %}
{% endblock main_content %}

{% block custom_page_script %}
{# Put addictional page script here #}
{% endblock custom_page_script %}

{% block block0_0_title_h1 %}Sfoggia il tuo stile sul web{% endblock block0_0_title_h1 %}
{% block block0_0_title_h4 %}La prossima o il prossimo miss Beauty and Pics potresti essere tu{% endblock block0_0_title_h4 %}

{% block block0_0_title %}
{{ block.super }}
	<div class="centered_page max_width_page">
	{% block block0_0_content %}
	{# Page main content here #}
	{% endblock block0_0_content %}
	</div>
{% endblock block0_0_title %}
