{% extends "website/inc/base.html" %}
{% load staticfiles %}

{# page title #}
{% block title %}{% endblock title %}

{# page description #}
{% block description %}{% endblock description %}

{% block block0_0 %}{% endblock block0_0 %}

{# Custom page script block #}
{% block custom_page_script %}{% endblock custom_page_script %}

{# title block text #}
{% block block0_1_title_h1 %}{% endblock block0_1_title_h1 %}
{% block block0_1_title_h4 %}{% endblock block0_1_title_h4 %}

{# container title #}
{% block container4_title %}{% endblock container4_title %}

{# container content #}
{% block container4_content %}
{% endblock container4_content %}
