{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
	<meta name="description" content="Questo è il primo concorso di bellezza per il web. Partecipa vota e divertiti, entra a far parte della community oggi stesso.">
	<title>Beauty and Pics: il concorso di bellezza del web</title>
	<link href="{% static "website/landing1/css/style.css" %}" rel="stylesheet">

	<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
	<!--[if IE]><link rel="shortcut icon" href="{% static "website/favicon.ico" %}"><![endif]-->
	<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
	<link rel="apple-touch-icon-precomposed" href="{% static "website/apple-touch-icon-precomposed.png" %}">
	<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
	<link rel="icon" href="{% static "website/favicon.png" %}">

	<!-- IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Header -->
	<section id="intro">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="container">
						<div id="main-nav" class="navbar-collapse">
							<ul class="social-links">
								<a href="https://twitter.com/beautyandpics" target="_blank">
									<li class="fa fa-twitter"></li>
								</a>
								<!-- Twitter Link -->
								<a href="https://www.facebook.com/pages/Beauty-and-Pics/1114835611863592" target="_blank">
									<li class="fa fa-facebook"></li>
								</a>
								<!-- Facebook Link -->
								<a href="https://plus.google.com/+Beautyandpics" target="_blank">
									<li class="fa fa-google-plus"></li>
								</a>
								<!-- Google+ Link -->
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="intro-well wow animated bounceIn">
				<div class="col-md-12">
					<h1>Beauty and Pics,<br /></h1>
					<h2>il concorso di bellezza 2.0 dove chi giudica è il pubblico.</h2>
					<a class="btn btn-primary" href="http://www.beautyandpics.com/passerella">
						<li class="fa fa-road fa-lg"></li>&nbsp;&nbsp;Vai al concorso
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section -->
	<section id="features">
		<div class="container">
			<h1>Panoramica</h1>
			<h2>Beauty and Pics è il concorso di bellezza online che ti permette di diventare la più bella del web, partecipare è facile e divertente, basta seguire queste 3 semplici mosse:</h2>
		</div>
		<div class="container">
			<div class="row">
				<!-- Step 1 -->
				<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
					<div class="iconbox">
						<div class="icn-1 hvr-wobble-top">Registrati</div>
					</div>
					<p class="icntitle"><b>1</b>.Registrati</p>
					<p class="icnp">La registrazione è semplice e veloce, per partecipare al concorso basta inserire le informazioni richieste.</p>
				</div>
				<!-- Step 2 -->
				<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s">
					<div class="iconbox">
						<div class="icn-2 hvr-wobble-top">Carica le foto</div>
					</div>
					<p class="icntitle"><b>2</b>.Carica le foto</p>
					<p class="icnp">Crea il tuo book personale caricando i tuoi scatti fotografici migliori.</p>
				</div>
				<!-- Step 3 -->
				<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s">
					<div class="iconbox">
						<div class="icn-3 hvr-wobble-top">Scala la classifica</div>
					</div>
					<p class="icntitle"><b>3</b>.Scala la classifica</p>
					<p class="icnp">Se sarai apprezzata dal pubblico, inizierai a scalare la classifica...riuscirai ad arrivare al primo posto?</p>
				</div>
			</div>
		</div>
		<div class="more-features">
			<div class="container wow fadeIn animated">
				<h1>Caratteristiche</h1>
			</div>
			<div class="container">
				<div class="col-sm-5">
					<div class="features-left wow animated fadeInLeft" data-wow-delay="0.1s">
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-sliders icons_right hidden-sm hvr-fade"></i>
							<div class="text-align-right">
								<h4>Diverse metriche di valutazione</h4>
								<p>Sguardo o sorriso, quale sarà la tua caratteristica più apprezzata? Scoprilo!</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-hourglass-half icons_right hidden-sm hvr-fade"></i>
							<div class="text-align-right">
								<h4>Tempi e durata</h4>
								<p>Il concorso, che verrà riproposto annualmente, ha una durata di 11 mesi.</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-picture-o  icons_right hidden-sm hvr-fade"></i>
							<div class="text-align-right">
								<h4>Crea il tuo book</h4>
								<p>Crea il tuo book fotografico caricando tutte le fotografie che preferisci, senza alcun limite.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5  col-md-offset-2">
					<div class="features-right wow animated fadeInRight" data-wow-delay="0.2s">
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-users icons_left hidden-sm hvr-fade"></i>
							<div class="text-align-left">
								<h4>Maggiore visibilità</h4>
								<p>Aumenta la tua visibilità raggiungendo i primi posti nella classifica.</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-child icons_left hidden-sm hvr-fade"></i>
							<div class="text-align-left">
								<h4>Nessun costo</h4>
								<p>Il servizio è completamente gratuito, dalla registrazione fino al suo utilizzo, per sempre.</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-trophy icons_left hidden-sm hvr-fade"></i>
							<div class="text-align-left">
								<h4>Premi esclusivi</h4>
								<p>Al termine del concorso, i primi classificati di entrambi i concorsi, vinceranno le nostre fantastiche magliette personalizzate.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Go to catwalk button -->
			<div class="container wow fadeIn animated">
			    <div class="row text-center">
				<a class="btn btn-primary" href="http://www.beautyandpics.com/passerella">
				    <li class="fa fa-road fa-lg"></li>&nbsp;&nbsp;Vai al concorso
				</a>
			    </div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer>
		<p>{% now "Y" %} | Made with passion...</p>
	</footer>
	<!-- Javascript loading -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static "website/landing1/js/bootstrap.js" %}"></script>
	<script src="{% static "website/landing1/js/wow.min.js" %}"></script>
	<script src="{% static "website/landing1/js/main_v1.js" %}"></script>
</body>
</html>
