{% load staticfiles %}
<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
	<meta name="description" content="Sifida le tue amiche in concorso di bellezza, scopri chi sarà la più apprezzata.">
	<title>Scopri chi è la ragazza più bella della tua città</title>
	<link href="{% static "website/landing1/css/style.css" %}" rel="stylesheet">

	<!-- For IE 9 and below. ICO should be 32x32 pixels in size -->
	<!--[if IE]><link rel="shortcut icon" href="{% static "website/favicon.ico" %}"><![endif]-->
	<!-- Touch Icons - iOS and Android 2.1+ 180x180 pixels in size. --> 
	<link rel="apple-touch-icon-precomposed" href="{% static "website/apple-touch-icon-precomposed.png" %}">
	<!-- Firefox, Chrome, Safari, IE 11+ and Opera. 196x196 pixels in size. -->
	<link rel="icon" href="{% static "website/favicon.png" %}">

	<!-- IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="page-loader"></div>
	<!-- Header -->
	<section id="intro">
		<header>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="container">
						<div id="main-nav" class="navbar-collapse">
							<ul class="social-links">
								<a href="#" target="_blank">
									<li class="fa fa-twitter"></li>
								</a>
								<!-- Twitter Link -->
								<a href="#" target="_blank">
									<li class="fa fa-facebook"></li>
								</a>
								<!-- Facebook Link -->
								<a href="#" target="_blank">
									<li class="fa fa-google-plus"></li>
								</a>
								<!-- Google+ Link -->
							</ul>
						</div>
					</div>
				</div>
			</nav>
		</header>
		<div class="container">
			<div class="intro-well wow animated bounceIn">
				<div class="col-md-12">
					<!-- <h1>Sei una modella e vuoi dimostrare a tutti la tua bellezza?</h1> -->
					<h1>Sfida le tue amiche in una gara di bellezza!</h1>
					<h2>Chi sarà la più bella? Scoprilo subito.</h2>
					<a class="btn btn-primary" href="#">
						<li class="fa fa-apple fa-lg"></li>&nbsp;&nbsp;Maggiori informazioni
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- Features section -->
	<section id="features">
		<div class="container wow fadeIn animated">
			<h1>In breve</h1>
			<h2>Il concorso di bellezza online che ti permette sfidare le tue amiche e le ragazze della tua città per scoprire chi è la più apprezzata.<br />Ecco come fare in 3 semplici mosse.</h2>
		</div>
		<!-- /container -->
		<div class="container">
			<div class="row">
				<!-- Step 1 -->
				<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.1s">
					<div class="iconbox">
						<div class="icn-1">Registrati</div>
					</div>
					<p class="icntitle">1.Registrati</p>
					<p class="icnp">E' facile e veloce, inserendo poche semplici informazioni si è già pronti per iniziare.</p>
				</div>
				<!-- Step 2 -->
				<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.2s">
					<div class="iconbox">
						<div class="icn-2">Carica foto</div>
					</div>
					<p class="icntitle">2.Carica foto</p>
					<p class="icnp">Carica i tuoi scatti fotografici migliori.</p>
				</div>
				<!-- Step 3 -->
				<div class="col-md-4 wow fadeInLeft animated" data-wow-delay="0.3s">
					<div class="iconbox">
						<div class="icn-3">Scala la classifica</div>
					</div>
					<p class="icntitle">3.Scala la classifica</p>
					<p class="icnp">Fatti votare da amici e parenti per iniziare a scalare la classifica...riuscirai ad arrivare al primo posto?</p>
				</div>
			</div>
		</div>
		<div class="more-features">
			<div class="container wow fadeIn animated">
				<h1>Caratteristiche</h1>
			</div>
			<div class="container">
				<div class="col-sm-5">
					<div class="features-left wow animated fadeInLeft" data-wow-delay="0.1s">
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-desktop icons_right hidden-sm"></i>
							<div class="text-align-right">
								<h4>Carica foto</h4>
								<p>Carica illimitate foto e mostra a tutti il tuo stile.</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-life-ring icons_right hidden-sm"></i>
							<div class="text-align-right">
								<h4>Rivaluta le tue caratteristiche</h4>
								<p>Scopri chi sarà la ragazza con il sorriso e lo sguardo più attraenti</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-sliders icons_right hidden-sm"></i>
							<div class="text-align-right">
								<h4>Crea i tuoi preferiti</h4>
								<p>Aggiungi le tue amiche all'elenco dei preferiti, in questo modo potrai monitorare in tempo reale la loro posizione in classifica.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-5  col-md-offset-2">
					<div class="features-right wow animated fadeInRight" data-wow-delay="0.2s">
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-heart icons_left hidden-sm"></i>
							<div class="text-align-left">
								<h4>Profilo personale</h4>
								<p>Crea il tuo spazio personale per mostrare a tutti il tuo stile.</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-rocket icons_left hidden-sm"></i>
							<div class="text-align-left">
								<h4>Gratis</h4>
								<p>Non preoccuparti, tutt è completamente gratuito e non c'è alcun costo!</p>
							</div>
						</div>
						<!-- feature point -->
						<div class="features-item">
							<i class="fa fa-gift icons_left hidden-sm"></i>
							<div class="text-align-left">
								<h4>Vinci e vesti bene</h4>
								<p>Al termine della gara, le prime 5 classificate vinceranno le nostre fantastiche magliette personalizzate.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Footer -->
	<footer>
		<p>Made with passion</p>
	</footer>
	<!-- Javascript loading -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="{% static "website/landing1/js/bootstrap.js" %}"></script>
	<script src="{% static "website/landing1/js/wow.min.js" %}"></script>
	<script src="{% static "website/landing1/js/main.js" %}"></script>
</body>
</html>

		<!--
Landing3
Metti in mostra il tuo book fotografico, carica quante foto vuoi e scopri
la fotografia più bella.

Landing2
Sei una modella e vuoi dimostrare a tutti la tua bellezza?
Promuovi gratuitamente la tua immagine con
Beauty and Pics, il primo concorso di bellezza dove chi giudica è il
pubblico.

Segui queste 3 semplici mosse:
1) Registrati
2) Carica i tuoi scatti fotografici migliori
3) Promuovi la tua immagine e attendi i voti del pubblico

Inoltre, per i primi 5 classificati, in regalo le magliette personalizzate del concorso.
| Maggiori informazioni |

Landing2
Hai sempre sognato di sfilare su una passerella come una vera modella
e mettere in mostra la tua bellezza? 
Beauty and Pics è il concorso che ti permette di farlo.

Sfida i tuoi amici in una gara all'ultimo...scatto, con 3 semplici mosse:
1) Registrati
2) Carica i tuoi scatti fotografici migliori
3) Promuovi la tua immagine e attendi i voti del pubblico

Inoltre, per i primi 5 classificati, in regalo le magliette personalizzate del concorso.
| Maggiori informazioni |
-->
