{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | il mio album fotografico{% endblock %}

{% block description %}Il mio album fotografico: in questa pagina è possibile modificare la tua immagine del profilo e gestire il book fotografico, aggiungendo e rimuovendo foto.{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}active{% endblock %}

{% block custom_css %}
{#<link rel="stylesheet" href="{% static "website/css/jquery.nailthumb.1.1.min.css" %}">#}
<link rel="stylesheet" href="{% static "website/css/cropper.min.css" %}">
{% endblock %}

{% block container4_content %}
{# upload profile image form #}
<form class="profile_image_form" method="post" action="">
	{% csrf_token %}
	<input class="profile_image_id" name="{{ profile_image_form.image_id.name }}" value="" type="hidden">
	<input name="{{ profile_image_form.image_type.name }}" value="profile_image" type="hidden">
</form>
	{{ profile_image_form.uploaded_image }}

{# upload book image form #}
<form class="book_image_form" method="post" action="">
	{% csrf_token %}
	<input class="book_image_id" name="{{ book_images_form.image_id.name }}" value="" type="hidden">
	<input name="{{ book_images_form.image_type.name }}" value="book_image" type="hidden">
</form>
	{{ book_images_form.uploaded_image }}

<div class="row">
	<div class="col-sm-12">
		<h3>Foto Profilo</h3>
	</div>
</div>
<div class="background_container1 styled_container1 main_photo_edit_container">
	<div class="alert alert-info visible-xs visible-sm">
		<p>Da qui puoi caricare la tua immagine del profilo. E' importante caricare un'immagine che sappia farsi notare, in questo modo aumenterai le probabilità che qualcuno visiti il tuo profilo.</p>
	</div>
	<div class="main_photo_edit_container_wrapper">
		<div class="left">
			<div class="profile_uplad_button">
				<a class="btn btn-success profile_image_button uploadProfileImageClickAction" href="#">Carica immagine</a>
			</div>
			<div class="profile_image_container">
				<img src="{{ profile_image_url }}" class="profile_image" alt="Immagine profilo">
			</div>
		</div>
		<div class="right">
			<div class="alert alert-info hidden-xs hidden-sm">
			    <p>Da qui puoi caricare la tua immagine del profilo. E' importante caricare un'immagine che sappia farsi notare, in questo modo aumenterai le probabilità che qualcuno visiti il tuo profilo.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Book fotografico</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Da qui puoi caricare le immagini del tuo book fotografico. E' importante caricare almeno 5/6 immagini e cambiarle spesso, in questo modo si aumenteranno le probabilità che qualcuno <b>ritorni</b> a visitare il tuo profilo per <b>votarti</b> ancora.</p>
		</div>
			<a class="btn btn-success book_image_button uploadBookImageClickAction" href="#">Aggiungi immagine +</a>
	</div>
</div>
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Carica altre</a>
</div>
{# image grid block }}} #}
{% endblock container4_content %}
{% block custom_js %}
{# addictional page script #}
<script src="{% static "website/js/vendor/jquery.form.js" %}"></script>
<script src="{% static "website/js/vendor/cropper.min.js" %}"></script>

{#<script src="{% static "website/js/vendor/jquery.ui.widget.js" %}"></script>#}
{#<script src="{% static "website/js/vendor/jquery.iframe-transport.js" %}"></script>#}
{#<script src="{% static "website/js/vendor/jquery.fileupload.js" %}"></script>#}

{#<script src="{% static "website/js/vendor/jquery.nailthumb.1.1.min.js" %}"></script>#}
{#<script src="{% static "website/js/vendor/imgLiquid-min.js" %}"></script>#}
{{ profile_image_form.media }}

<script>
	var page_loaded_timestamp = getCurrentTimestamp();
	elementsListObject.addFilter("show_limit", 10);

	$(document).ready(function(){
		// upload profile image action
		$(document).on("click",".uploadProfileImageClickAction", function(){
			$(".upload_profile_image_button").click();

			return false;
		});

		// upload book image action
		$(document).on("click",".uploadBookImageClickAction", function(){
			$(".upload_book_image_button").click();

			return false;
		});

		$(document).on("click",".loadMoreElementsAction", function(){
			loadBookImages(page_loaded_timestamp);

			return false;
		});

		// write delete button inside bootstrap modal
		$(document).on("click",".zoom-image", function(){
			var imageId = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}

			var imageUrl = "";
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			// open bootstrap modal
			bootstrapModalsObect.showDeleteImageModal(imageUrl, imageId);

			return false;
		});

		// delete book image action
		$(document).on("click",".deleteProfileImageClickAction", function(){
			if (confirm("Stai per eliminare definitivamente l'immagine, confermi?")) {
				imageId = "";
				if ($(this).attr("data-image-id")) {
					imageId = $(this).data("imageId");
				}
				// ajax call to delete image (thumb, big image and rows from db)
				deleteStatus = deleteBookImage(imageId);

				if (deleteStatus) {
					// remove html element
					$(".imgBlockContainer_" + imageId).remove();
					// close bootstrap modal
					$(".bootstrap_modal").modal('hide');
				}
			}
		});

		// show welcome bootstrap modal
		{% if welcome %}
			showWelcomeModal("{{ user_first_name }}");
		{% endif %}

		// default click on load more elements button
		// $(".loadMoreElementsAction").click();
		// show book images on page load complete
		loadBookImages();
	});

	/* Function to load book images list */
	function loadBookImages(page_timestamp) {
		elementsListObject.setElementsListType("photobook");
		elementsListObject.addFilter("user_id", "{{ user_id }}");
		if (page_timestamp) {
			elementsListObject.addFilter("page_loaded_timestamp", page_timestamp);
		}
		elementsListObject.getElementsList();
	}

	/* Function to show bootstrap welcome modal */
	function showWelcomeModal(userFirstName) {

		if (!userFirstName) {
			userFirstName = "partecipante";
		}

		// open bootstrap modal
		bootstrapModalsObect.showWelcomeModal(userFirstName);

		return false;
	}

	/* Function to update profile image */
	function saveProfileImage(imageId) {
		// save image id
		$(".profile_image_id").val(imageId);
		var profileCustomAjaxAction = customAjaxAction;
		// serialize form
		profileCustomAjaxAction.setAjaxCallParams($(".profile_image_form").serialize());
		// setting action name
		profileCustomAjaxAction.setActionName("save_image");
		// success callback function
		var successCallback = function(jsonResponse) {
			// update profile image
			$(".profile_image").attr("src", jsonResponse.image_url);
		};
		profileCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
		// perform ajax call to save a new profile image
		profileCustomAjaxAction.performAjaxAction();
	}

	/* Function to append a new book image */
	function saveBookImage(imageId) {
		// save image id
		$(".book_image_id").val(imageId);
		var saveBookCustomAjaxAction = customAjaxAction;
		// serialize form
		saveBookCustomAjaxAction.setAjaxCallParams($(".book_image_form").serialize());
		// setting action name
		saveBookCustomAjaxAction.setActionName("save_image");
		// success callback function
		var successCallback = function(jsonResponse) {
			// append uploaded image to image list
			/*var lg_size = "15";
			var md_size = "3";
			var sm_size = "3";
			var xs_size = "6";*/

			// retrieve bootstrap block size
			var blockSize = elementsListObject.getBlockSize();

			// build html block with link and image
			var returnVar = '<div class="col-lg-' + blockSize["lg_size"] + ' col-md-' + blockSize["md_size"] + ' col-xs-' + blockSize["xs_size"] + ' col-sm-' + blockSize["sm_size"] + ' thumb imgBlockContainer_' + jsonResponse.image_id + '"><a href="#" class="thumbnail"><img alt="Immagine del book" data-fullimage-url="' + jsonResponse.image_url + '" data-image-id="' + jsonResponse.image_id + '" class="img-responsive zoom-image" src="' + jsonResponse.image_url + '"></a></div>'

			$(".image_grid_container").prepend(returnVar);
		};
		saveBookCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
		// perform ajax call to save a new book image
		saveBookCustomAjaxAction.performAjaxAction();
	}

	/* Function to delete a book image */
	function deleteBookImage(imageId) {
		var returnVar = false;
		var deleteBookCustomAjaxAction = customAjaxAction;
		// set async flag to false
		deleteBookCustomAjaxAction.setAsyncFlag(false);
		// set ajax call param
		deleteBookCustomAjaxAction.setAjaxCallParams("image_id=" + imageId);
		// setting action name
		deleteBookCustomAjaxAction.setActionName("delete_image");
		// success callback function
		var successCallback = function(jsonResponse) {
			returnVar = true;
		};
		deleteBookCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
		// perform ajax call to save a new book image
		deleteBookCustomAjaxAction.performAjaxAction();

		return returnVar;
	}
</script>
{% endblock custom_js %}
