{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | notifiche e aggiornamenti{% endblock %}

{% block description %}Notifiche e aggiornamenti: in questa pagina vengono mostrate le notifiche e gli aggiornamenti di {{ site_name }}.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_notify %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Notifiche</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>In questa pagina trovi notifiche e aggiornamenti su {{ site_name }}.</p>
		</div>
	</div>
</div>
{% if exist_valid_notify %}
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-hover ">
			<thead>
				<tr>
					<th>Titolo</th>
					<th class="display_only_big">Data</th>
					<th class="text-center">Stato</th>
				</tr>
			</thead>
			<tbody class="table_body_block_container">
				{# this will be populated with JavaScript #}
			</tbody>
		</table>
	</div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra notifiche precedenti</a>
</div>
{% else %}
<p>Non è stata pubblicata ancora nessuna notifica.</p>
{% endif %}
{% endblock container4_content %}

{% block custom_js %}
<script>
	// set elements retrieved per call
	elementsListObject.setElementsPerCall(20);

	$(document).ready(function(){
		$(".loadMoreElementsAction").click(function(){
			elementsListObject.setElementsListType("notify");
			elementsListObject.getElementsList();

			return false;
		});

		{% if exist_valid_notify %}
			// default click on load more elements button
			$(".loadMoreElementsAction").click();
		{% endif %}
	});
</script>
{% endblock custom_js %}
