{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | il mio album fotografico{% endblock %}

{% block description %}Il mio album fotografico: in questa pagina è possibile modificare la tua immagine del profilo e gestire il book fotografico, aggiungendo e rimuovendo foto.{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}active{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "website/css/cropper.min.css" %}">
{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<h3>Foto Bacheca</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Fatti notare, mostra il tuo scatto più artistico. Tra tutte le foto presenti, quella che per prima otterrà 500 mi piace otterrà uno spazio tutto suo nella passerella per 2 settimane. Seleziona la foto che vorresti mettere in evidenza.</p>
		</div>
		<p>Seleziona quale immagine vorresti mettere in evidenza oppure <a class="btn btn-success book_image_button uploadBookImageClickAction" href="#">Carica nuova foto</a>
	</div>
</div>
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altre immagini</a>
</div>
{# image grid block }}} #}
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	// set elements retrieved per call
	elementsListObject.setElementsPerCall(20);

	$(document).ready(function(){
		// default click on load more elements button
		$(".loadMoreElementsAction").click();

		// show more elements action
		$(document).on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("photobook");
			elementsListObject.addFilter("user_id", "{{ user_id }}");
			elementsListObject.getElementsList();

			return false;
		});

		// open add image to photoboard bootstrap modal
		$(document).on("click",".zoom-image", function(){
			var imageId = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}

			var imageUrl = "";
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			// open bootstrap modal
			bootstrapModalsObect.showAddImageToPhotoboard(imageUrl, imageId);

			return false;
		});
	});

	function addImageToPhotoboard(imageId, imageContestType, imageContestContest) {
		/**
		imageId = current viewed image id
		imageContestType = image contest type, ie. "best_photo"
		imageContestContest = current contest, ie. "woman_contest" or "man_contest"
		*/

	}
</script>
{% endblock custom_js %}
