{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | seleziona immagine{% endblock %}

{% block description %}Seleziona immagine: seleziona un'immagine dal tuo book da inserire nel concorso.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_photocontest %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Seleziona immagine per il concorso "{{ photocontest_name }}"</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>
				{{ photocontest_description }}<br />Seleziona un'immagine dal tuo book da inserire nel concorso che rispetti i seguenti vincoli:<br />
				{% if photocontest_rules %}
					{% for rules in photocontest_rules %}
						- <b>{{ rules }}</b><br />
					{% endfor %}
				{% endif %}
				<br />Le immagini che non rispetteranno i vincoli forniti, verranno rimosse dal concorso a tema (ovviamente SOLO dal concorso a tema e non anche dal book!).
			</p>
		</div>
	</div>
</div>
{# image grid block {{{ #}
{% if exists_user_images %}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altre immagini</a>
</div>
{% else %}
<p>Non hai ancora caricato nessuna immagine. <a href="/profilo/#book_anchor">Carica adesso</a> la tua prima immagine del book fotografico.</p>
{% endif %}
{# image grid block }}} #}
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	// set elements retrieved per call
	elementsListObject.setElementsPerCall(20);

	$(document).ready(function(){
		// show more elements action
		$(document).on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("photobook");
			elementsListObject.addFilter("user_id", "{{ user_id }}");
			elementsListObject.getElementsList();

			return false;
		});

		// open add image to photoboard bootstrap modal
		$(document).on("click",".zoom-image", function(){
			var photocontestName = "{{ photocontest_name }}";
			var imageId = "";
			var imageUrl = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			// open bootstrap modal
			bootstrapModalsObect.showAddImageToPhotocontest(imageUrl, imageId, photocontestName);

			return false;
		});

		// adding selected image to photoboard click action
		$(document).on("click",".addImageToPhotocontestClickAction", function(){
			var photocontestCode = "{{ photocontest_code }}";
			var imageId = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}

			addImageToPhotocontest(imageId, photocontestCode);

			return false;
		});

		// default click on load more elements button
		$(".loadMoreElementsAction").click();
	});

	// adding selected image to current photocontest
	function addImageToPhotocontest(imageId, photocontestCode) {
		if (imageId) {
			var addImageToPhotoboardCustomAjaxAction = customAjaxAction;
			// set async to false
			addImageToPhotoboardCustomAjaxAction.setAsyncFlag(false);
			// serialize form
			addImageToPhotoboardCustomAjaxAction.setAjaxCallParams("book_image_id=" + imageId + "&photocontest_code=" + photocontestCode + "&");
			// setting action name
			addImageToPhotoboardCustomAjaxAction.setActionName("add_image_to_photocontest");
			// success callback function
			var successCallback = function(jsonResponse) {
				// redirect with success message
				location.href = "/profilo/concorsi-a-tema/" + photocontestCode + "/";
			};
			addImageToPhotoboardCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// perform ajax call to add favorite
			addImageToPhotoboardCustomAjaxAction.performAjaxAction();
		}

		return true;
	}
</script>
{% endblock custom_js %}
