{% extends "website/inc/base_profile.html" %}
{% load staticfiles l10n %}

{% block title %}{{ site_name }} | foto bacheca{% endblock %}

{% block description %}Fatti notare, mostra il tuo scatto più artistico. Tra tutte le foto presenti, quella che per prima otterrà {{ contest_like_limit }} mi piace avrà uno spazio tutto suo nella passerella per 2 settimane.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_bacheca %}active{% endblock %}

{% block container4_content %}
{# Facebook & Twitter SDK {{{ #}
<script>(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{# Facebook & Twitter SDK }}} #}
{# photo stats block {{{ #}
<div class="row">
	<div class="col-sm-12">
		<h3>Foto bacheca</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Qui sono presenti le informazioni della foto inserita nella bacheca. Per dare il tuo primo mi piace alla foto clicca sul pulsante <b>Visualizza nella bacheca</b> qui sotto.</p>
		</div>
	</div>
</div>
<div class="background_container1 generic_container8">
	<div class="left">
		<div class="top">
			<img alt="Imagine profilo" class="catwalk_user_main_image" src="{{ user_image_contest_info.user_image_contest_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<a href="#" class="removeImageFromPhotoboardAction">Rimuovi dalla bacheca</a>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container">
			<div class="container_row1 user_stats_block">
				<span><span class="position">{{ user_image_contest_info.user_image_contest_like }}</span> su {{ user_image_contest_info.like_limit }} mi piace ottenuti</span>
			</div>
			<!-- stats block -->
			<div class="container_row1 text-left">
				<div class="stats_bar_label">Livello di apprezzamento</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_image_contest_info.user_image_contest_like_perc | unlocalize }}" aria-valuemin="0" aria-valuemax="{{ user_image_contest_info.like_limit }}" style="width: {{ user_image_contest_info.user_image_contest_like_perc | unlocalize }}%"></div>
					</div>
				</div>
			</div>
			<div class="container_row1">
				<div class="user_stats_block">
					<span class="points">{{ user_image_contest_info.user_image_contest_visits }}</span>
					<span>Visite ricevute</span>
				</div>
				<div class="user_stats_space"></div>
				<div class="user_stats_block">
					<span class="points">{{ user_image_contest_info.user_image_contest_like_remaining }}</span>
					<span>Mi piace mancanti</span>
				</div>
			</div>
			<div class="container_row1">
				<a href="{{ photoboard_image_url }}" class="btn btn-success">Visualizza nella bacheca</a>
			</div>
		</div>
	</div>
</div>
{# photo stats block }}} #}
{# share photo block {{{ #}
<div class="row">
	<div class="col-md-12">
		<h3>Condividi la tua foto sui social network</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Avere molta visibilità è fondamentale per raggiungere i {{ user_image_contest_info.like_limit }} mi piace, ottienili prima di tutti condividendo la tua foto sui social network.<br /><b>Per condividerla ora, clicca sui pulsanti sotto.</b></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#" class="thumbnail grid_button_1 shareViaFacebookClickAction" data-toggle="tooltip" data-placement="top" data-original-title="Condividi la foto su Facebook">
			<span class="grid_button_image">
				<img src="{% static "website/img/profile_fb_share.png" %}" alt="Condividi via Facebook">
			</span>
			<span class="grid_button_label">Condividi su Facebook</span>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="https://twitter.com/intent/tweet?url={{ photoboard_image_url|urlencode }}&text={{ "Votatemi:"|urlencode }}" class="thumbnail grid_button_1" data-toggle="tooltip" data-placement="top" data-original-title="Condividi la foto su Twitter">
			<span class="grid_button_image">
				<img src="{% static "website/img/profile_tw_share.png" %}" alt="Condividi via Twitter">
			</span>
			<span class="grid_button_label">Condividi su Twitter</span>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Condividi la tua foto sul web</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Ottieni ulteriori "mi piace" condividendo manualmente la tua foto sui siti che preferisci. Per farlo copia il link che vedi sotto e incollalo dove molta gente possa vederlo<br /><strong>(seleziona l'URL sotto e premi CTRL+C per copiarlo)</strong>.</p>
		</div>
	</div>
	<div class="col-md-12">
		<div class="profile_share_url_container">
			<strong class="profilePageUrlAction">{{ photoboard_image_url }}</strong>
		</div>
	</div>
</div>
{# share photo block }}} #}
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		{% if add_success %}
			// show success popup
			show_success_add_popup();
		{% endif %}

		// remove current image from photoboard click action
		$(document).on("click",".removeImageFromPhotoboardAction", function(){
			if (confirm("Stai per rimuovere l'immagine dalla bacheca, perderai tutti i \"mi piace\" ricevuti, confermi?")) {
				removeImageFromPhotoboard();
			}

			return false;
		});

		// share on Facebook action
		$("body").on("click",".shareViaFacebookClickAction", function(){

			// create Facebook share dialog
			// reference -> https://developers.facebook.com/docs/javascript/reference/FB.ui
			FB.ui({
				method: 'share',
				href: '{{ photoboard_image_url }}' },
				// callback
				function(response) {
					if (response && !response.error_message) {
						// posting completed
					} else {
						// error while posting
					}
				}
			);

			return false;
		});
	});

	/** function to show a success popup */
	function show_success_add_popup() {
		// like limit
		var like_limit = "{{ user_image_contest_info.like_limit }}";
		// open success bootstrap modal
		bootstrapModalsObect.showSuccessModal('Immagine inserita correttamente nella bacheca. Condividi la foto il più possibile per guadagnare <b>' + like_limit + ' mi piace</b> ed ottenere il posto nella passerella!');
	}

	// remove photoboard user image
	function removeImageFromPhotoboard() {
		var addImageToPhotoboardCustomAjaxAction = customAjaxAction;
		// set async to false
		addImageToPhotoboardCustomAjaxAction.setAsyncFlag(false);
		// setting action name
		addImageToPhotoboardCustomAjaxAction.setActionName("remove_image_from_photoboard");
		// success callback function
		var successCallback = function(jsonResponse) {
			// redirect to book images list
			location.href = "/profilo/foto-bacheca/";
		};
		addImageToPhotoboardCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
		// perform ajax call to add favorite
		addImageToPhotoboardCustomAjaxAction.performAjaxAction();

		return true;
	}
</script>
{% endblock custom_js %}
