{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | pannello di controllo{% endblock %}

{% block description %}Pannello di controllo: da questa pagina puoi gestire la tua esperienza su {{ site_name }}.{% endblock %}

{% block container4_title %}Preferenze{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_preferences %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Pannello di controllo</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Da questa pagina puoi gestire la tua esperienza su {{ site_name }}. Passa con il mouse sopra ad una sezione per visualizzare una breve descrizione.</p>
		</div>
	</div>
</div>
{# preferences block {{{ #}
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="/profilo/dati-personali/" class="thumbnail grid_button_1" data-toggle="tooltip" data-placement="top" data-original-title="Da qui puoi aggiungere/modificare alcune informazioni sul tuo account">
			<span class="grid_button_image">
				<img src="{% static "website/img/preferences_account_info.png" %}" alt="dati personali">
			</span>
			<span class="grid_button_label">Dati personali</span>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="/profilo/avvisi/" class="thumbnail grid_button_1" data-toggle="tooltip" data-placement="top" data-original-title="Da qui puoi abilitare o disabilitare gli avvisi">
			<span class="grid_button_image">
				<img src="{% static "website/img/preferences_notify.png" %}" alt="avvisi">
			</span>
			<span class="grid_button_label">Avvisi</span>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="/profilo/zona-proibita/" class="thumbnail grid_button_1" data-toggle="tooltip" data-placement="top" data-original-title="Da qui puoi eseguire operazioni amministrative sul tuo account">
			<span class="grid_button_image">
				<img src="{% static "website/img/preferences_area51.png" %}" alt="zona proibita">
			</span>
			<span class="grid_button_label">Zona proibita</span>
		</a>
	</div>
	<!--
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#" class="thumbnail grid_button_1" data-toggle="tooltip" data-placement="top" data-original-title="Coming soon...">
			<span class="grid_button_image">
				<img src="{# {% static "website/img/preferences_area51.png" %} #}" alt="zona proibita">
			</span>
			<span class="grid_button_label">Ottieni più punti</span>
		</a>
	</div>
	-->
</div>
{# preferences block }}} #}
{% endblock container4_content %}

{% block custom_js %}
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
{% endblock custom_js %}
