{% extends "website/inc/base_profile.html" %}
{% load staticfiles l10n website_extras %}

{% block title %}{{ site_name }} | concorso a tema '{{ photocontest_name }}'{% endblock %}

{% block description %}Informazioni concorso a tema: da questa pagina puoi visualizzare informazioni e statistiche del concorso a tema {{ photocontest_name }}.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_photocontest %}active{% endblock %}

{% block container4_content %}
{# Facebook & Twitter SDK {{{ #}
<script>(function(d, s, id){ var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
{# Facebook & Twitter SDK }}} #}
{# photo stats block {{{ #}
<div class="row">
	<div class="col-sm-12">
		<h3>Concorso a tema <i>{{ photocontest_name }}</i></h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Qui sono presenti le informazioni della foto inserita nel concorso a tema. Per dare il tuo primo "Mi piace" alla foto clicca sul pulsante <b>Visualizza pagina pubblica</b> qui sotto.</p>
		</div>
	</div>
</div>
<div class="background_container1 generic_container8">
	<div class="left">
		<div class="top">
			<img alt="Immagine concorso a tema '{{ photocontest_name }}'" class="catwalk_user_main_image" src="{{ photocontest_image_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<a href="#" class="removePhotocontestImageClickAction">Smetti di partecipare</a>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container">
			{% if image_is_winning %}
				<div class="container_row">
					<p class="text-warning text-justify">Complimenti, attualmente la tua foto è la preferita del concorso a tema <b>{{ photocontest_name }}</b>.</p>
				</div>
			{% endif %}
			<div class="container_row1 user_stats_block">
				<span><span class="position">{{ photocontest_image_likes }}</span> su {{ photocontest_like_limit }} "Mi piace" ottenuti</span>
			</div>
			<!-- stats block -->
			<div class="container_row1 text-left">
				<div class="stats_bar_label">Livello di apprezzamento</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ photocontest_image_like_perc | unlocalize }}" aria-valuemin="0" aria-valuemax="{{ photocontest_like_limit }}" style="width: {{ photocontest_image_like_perc | unlocalize }}%"></div>
					</div>
				</div>
			</div>
			<div class="container_row1">
				<div class="user_stats_block">
					<span class="points">{{ photocontest_image_visits }}</span>
					<span>Visite ricevute</span>
				</div>
				<div class="user_stats_space"></div>
				<div class="user_stats_block">
					<span class="points">{{ photocontest_image_like_remaining }}</span>
					<span>"Mi piace" mancanti</span>
				</div>
			</div>
			<div class="container_row1">
				<a href="{{ vote_image_url }}" target="_blank" class="btn btn-success">Visualizza pagina pubblica</a>
			</div>
		</div>
	</div>
</div>
{# photo stats block }}} #}
{# share photo block {{{ #}
<div class="row">
	<div class="col-md-12">
		<h3>Condividi la tua foto sui social network</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Avere molta visibilità è fondamentale per raggiungere i {{ photocontest_like_limit }} "Mi piace", ottienili prima di tutti condividendo la tua foto sui social network.<br /><b>Per condividerla ora, clicca sui pulsanti sotto.</b></p>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#" class="hvr-fade grid_button_effect grid_button shareViaFacebookClickAction" data-toggle="tooltip" data-placement="top" data-original-title="Condividi la foto su Facebook">
			<span class="grid_button_image">
				<img src="{% static "website/img/profile_fb_share.png" %}" alt="Condividi su Facebook">
			</span>
			<span class="grid_button_label">Condividi su Facebook</span>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="https://twitter.com/intent/tweet?url={{ vote_image_url|urlencode }}&text={{ site_name|str_cat:", concorso a tema '"|str_cat:photocontest_name|str_cat:":"|urlencode }}" class="hvr-fade grid_button_effect grid_button" data-toggle="tooltip" data-placement="top" data-original-title="Condividi la foto su Twitter">
			<span class="grid_button_image">
				<img src="{% static "website/img/profile_tw_share.png" %}" alt="Condividi su Twitter">
			</span>
			<span class="grid_button_label">Condividi su Twitter</span>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Condividi la tua foto sul web</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Ottieni ulteriori "Mi piace" condividendo manualmente la tua foto sui siti che preferisci. Per farlo copia il link che vedi sotto e incollalo dove molta gente possa vederlo:<br /><strong>(seleziona l'URL sotto e premi CTRL+C per copiarlo)</strong>.</p>
		</div>
	</div>
	<div class="col-md-12">
		<div class="profile_share_url_container">
			<strong class="profilePageUrlAction">{{ vote_image_url }}</strong>
		</div>
	</div>
</div>
{# share photo block }}} #}
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		// remove current image from photocontest click action
		$(document).on("click",".removePhotocontestImageClickAction", function(){
			var photocontestCode = "{{ photocontest_code }}";
			if (confirm("Stai per rimuovere l'immagine dal concorso, perderai tutti i \"Mi piace\" ricevuti, confermi?")) {
				removePhotocontestImage(photocontestCode);
			}

			return false;
		});
		// share on Facebook action
		$("body").on("click",".shareViaFacebookClickAction", function(){

			// create Facebook share dialog
			// reference -> https://developers.facebook.com/docs/javascript/reference/FB.ui
			FB.ui({
				method: 'share',
				href: '{{ vote_image_url }}' },
				// callback
				function(response) {
					if (response && !response.error_message) {
						// posting completed
					} else {
						// error while posting
					}
				}
			);

			return false;
		});
	});

	// remove photoboard user image
	function removePhotocontestImage(photocontestCode) {
		if (photocontestCode) {
			var removePhotocontestImageCustomAjaxAction = customAjaxAction;
			// set async to false
			removePhotocontestImageCustomAjaxAction.setAsyncFlag(false);
			// serialize form
			removePhotocontestImageCustomAjaxAction.setAjaxCallParams("photocontest_code=" + photocontestCode + "&");
			// setting action name
			removePhotocontestImageCustomAjaxAction.setActionName("remove_photocontest_image");
			// success callback function
			var successCallback = function(jsonResponse) {
				// redirect to book images list
				location.href = "/profilo/concorsi-a-tema/";
			};
			removePhotocontestImageCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// perform ajax call to remove image
			removePhotocontestImageCustomAjaxAction.performAjaxAction();
		}

		return true;
	}
</script>
{% endblock custom_js %}
