{% extends "website/inc/base_profile.html" %}
{% load staticfiles website_extras %}

{% block title %}{{ site_name }} | informazioni principali{% endblock %}

{% block description %}Informazioni principali: in questa pagina è possibile modificare le informazioni principali del tuo utente.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_preferences %}active{% endblock %}

{# Custom page css block #}
{% block custom_css %}
{{ block.super }}
<style>
    textarea.form-control { height: 170px; }
    .form-group-level-0 { color: #5383B2; }
    .form-group-level-1 { color: #41678C; }
    .form-group-level-2 { color: #2F4B66; }
    .form-group-level-3 { color: #1D2F40; }
    .form-group-level-4 { color: #0C131A; }
</style>
{% endblock custom_css %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Intervista</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Rispondi alle domande e crea la tua intervista personalizzata per incrementare la tua visibilità e dare credibilità alla tua immagine. Una volta che avrai risposto alle domande dell'intervista e cliccato sul pulsante salva, le risposte saranno visibili nel tuo profilo.</p>
		</div>
	</div>
	<div class="col-md-12">
		{# messages block #}
		<div class="error_container"></div>
		{% if form.errors or messages %}
			<div class="server_msg_container">
				{% if form.errors %}
					<div class="alert alert-danger">
						<h4>Uhm qualcosa non va!</h4>
						<ul>
							{% for form_error in form.non_field_errors %}
								<li>{{ form_error }}</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<div class="alert alert-success">
						<h4>Ottimo!</h4>
						{% for message in messages %}
							<div>{{ message }}</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}
		<form class="form-horizontal ajax_form" method="post" action="">
			{% csrf_token %}
			<input type="hidden" name="form_class" value="SurveyForm">
			<fieldset class="col-md-12">
				{% for field in form %}
					<div class="form-group form-group-level-{{ field.field.widget.attrs.current_block_level }} {{ field.field.widget.attrs.current_block_code }} {% if field.field.widget.attrs.default_hidden %}hide{% endif %} {% if field.errors %}has-error{% endif %}" data-current-question-block-code="{{ field.field.widget.attrs.current_block_code }}" data-current-block-level="{{ field.field.widget.attrs.current_block_level }}" data-block-level1="{{ field.field.widget.attrs.block_level1 }}" data-block-level2="{{ field.field.widget.attrs.block_level2 }}" data-block-level3="{{ field.field.widget.attrs.block_level3 }}" data-block-level4="{{ field.field.widget.attrs.block_level4 }}" data-block-level5="{{ field.field.widget.attrs.block_level5 }}">
						<label for="{{ field.id_for_label }}" class="col-md-4 control-label">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
						<div class="col-md-7">
							{% if field.field.widget.attrs.question_type == "text" %}
								<textarea name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.field.widget.attrs.placeholder }}">{% if post|get_item:field.name %}{{ post|get_item:field.name }}{% endif %}</textarea>
							{% elif field.field.widget.attrs.question_type == "select" %}
								<select name="{{ field.name }}" class="form-control choosePathClickAction" id="{{ field.id_for_label }}">
									{% for choices_info in field.field.widget.attrs.select_choices %}
										<option value="{{ choices_info|get_item:"answer_code" }}" {% if post|get_item:field.name == choices_info|get_item:"answer_code"|slugify %}selected="selected"{% endif %} data-next-question-block1="{{ choices_info|get_item:"next_question_block_code1" }}" data-next-question-block2="{{ choices_info|get_item:"next_question_block_code2" }}" data-next-question-block3="{{ choices_info|get_item:"next_question_block_code3" }}" data-next-question-block4="{{ choices_info|get_item:"next_question_block_code4" }}" data-next-question-block5="{{ choices_info|get_item:"next_question_block_code5" }}">{{ choices_info|get_item:"answer_label" }}</option>
									{% endfor %}
								</select>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				{# messages block #}
				<div class="error_container"></div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="btn btn-success submitButtonClickAction">Salva intervista</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		$(document).on("change", ".choosePathClickAction", function(){
			show_selected_path($(this), true);

			return true;
		});

		$(".submitButtonClickAction").click(function(event){
			// preventing default click event
			event.preventDefault();
			// serialize form data
			ajaxFormValidation.callData["data"] = $(".ajax_form").serialize();
			// performing ajax call
			ajaxFormValidation.validateForm();

			return true;
		});

		// creo i percorsi già inseriti
		show_survey_roads();
	});

	function show_selected_path(select, clear_hidden_elements_flag) {
		// 1)* nascondo tutti i blocchi che hanno come "data-block-code-level(livello_blocco_corrente)" = codice_blocco_corrente
		// 2)** mostro solo il blocco contenuto in "data-next-question-block-code" dell'oggetto corrente
		// 3)*** Le select dei blocchi che nascondo vanno resettate come pure le input che nascondo
		var next_question_block_code1 = $(select).find(":selected").data("nextQuestionBlock1");
		var next_question_block_code2 = $(select).find(":selected").data("nextQuestionBlock2");
		var next_question_block_code3 = $(select).find(":selected").data("nextQuestionBlock3");
		var next_question_block_code4 = $(select).find(":selected").data("nextQuestionBlock4");
		var next_question_block_code5 = $(select).find(":selected").data("nextQuestionBlock5");

		/*console.log("next_question_block_code: " + next_question_block_code1);
		console.log("next_question_block_code: " + next_question_block_code2);
		console.log("next_question_block_code: " + next_question_block_code3);
		console.log("next_question_block_code: " + next_question_block_code4);
		console.log("next_question_block_code: " + next_question_block_code5);*/
		var level = $(select).parents(".form-group").data("currentBlockLevel");
		var current_question_block_code = $(select).parents(".form-group").data("currentQuestionBlockCode");

		// 1)*
		$('.form-group').each(function() {
			// console.log("level(" + level + "): " + $(this).data("blockLevel" + level));
			if ($(this).data("blockLevel" + level) === current_question_block_code) {
				$(this).addClass('hide');
				// $(this).find(":selected").prop('selected', '');
			}
		});

		// 2)**
		show_element(next_question_block_code1);
		show_element(next_question_block_code2);
		show_element(next_question_block_code3);
		show_element(next_question_block_code4);
		show_element(next_question_block_code5);

		// 3)***
		if (clear_hidden_elements_flag) {
		    // questo per evitare che nella show_survey_roads venga eseguito in anticipo resettando il valore di
		    // elementi potenzialmente visibili. In show_survey_roads viene infatti eseguita solo al termine del
		    // ciclo, mentre all'evento choosePathClickAction direttamente dopo ogni click
		    clear_hidden_elements();
		}

		return true;
	}

	function show_element(element_class_name) {
		if (element_class_name) {
			$('.' + element_class_name).removeClass('hide');
		}

		return true;
	}

	function clear_hidden_elements() {
		$('.form-group:hidden').each(function() {
			// console.log("level(" + level + "): " + $(this).data("blockLevel" + level));
			$(this).find('textarea').val('');
			$(this).find(":selected").prop('selected', '');
		});
	}

	/*
		0: riferimento a oggetto jQuery
		1: riferimento a oggetto jQuery
		console.log(i + ': ' + $p);
	*/
	function show_survey_roads() {
		$('select').each(function(i) {
			show_selected_path($(this));
		});

		// clear hidden elements
		clear_hidden_elements();

		return true;
	}
</script>
{% endblock custom_js %}
