{% extends "website/inc/base_profile.html" %}
{% load staticfiles website_extras %}

{% block title %}{{ site_name }} | informazioni principali{% endblock %}

{% block description %}Informazioni principali: in questa pagina è possibile modificare le informazioni principali del tuo utente.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_preferences %}active{% endblock %}

{# Custom page css block #}
{% block custom_css %}
{{ block.super }}
<style>
    textarea.form-control { height: 170px; }
    .form-group-level-0 { background-color: transparent; }
    .form-group-level-1 { background-color: #ECECEC; }
    .form-group-level-2 { background-color: #D7D7D7; }
    .form-group-level-3 { background-color: #C1C1C1; }
    .form-group-level-4 { background-color: #B1B1B1; }
    .verified_label { color: green; }
    .not_verified_label { color: red; }
</style>
{% endblock custom_css %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Pubblica intervista</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Ti manca poco per pubblicare la tua intervista, clicca sul pulsante "Pubblica adesso" per mandare in revisione la tua intervista ed ottenere l'approvazione, ad approvazione avvenuta verrà automaticamente pubblicata nella tua pagina profilo.<br /><b>Clicca su "Pubblica adesso" per pubblicare la tua intervista</b></p>
		</div>
	</div>
	{# check messages block {{{ #}
	{% if check_message %}
		<div class="col-md-12">
			<div class="server_msg_container">
				<div class="alert alert-danger">
					<h4>Intervista non approvata</h4>
					<span>{{ check_message }}</span>
				</div>
			</div>
		</div>
	{% endif %}
	{# check messages block }}} #}
</div>
<div class="row">
	<div class="col-md-6 text-xs-center text-md-left">
		<div class="col-md-12 no-gutter">
			<h4>Stato pubblicazione</h4>
		</div>
		<div class="col-md-12 no-gutter">
			<div class="{% if publish_status == published_status %}verified_label{% endif %} publishStatusAction">{{ publish_status_label }} - <a href="#" class="showPublishNowModalClickAction" data-toggle="tooltip" data-placement="top" data-original-title="Clicca per pubblicare adesso la tua intervista">Pubblica adesso</a></div>
		</div>
	</div>
	<div class="col-md-6 text-xs-center text-md-right">
		<div class="col-md-12 no-gutter">
			<h4><a href="#" class="showApprovedLegendClickAction" data-toggle="tooltip" data-placement="top" data-original-title="Clicca per vedere la legenda">Stato approvazione</a></h4>
		</div>
		<div class="col-md-12 no-gutter">
			<div class="{% if approving_status == approved_status %}verified_label{% elif approving_status == not_approved_status %}not_verified_label{% endif %} approvingStatusAction">{{ approving_status_label }}</div>
		</div>
	</div>
</div>
{# user survey preview {{{ #}
{% if survey_questions %}
	<div class="row margin_top_15">
		<div class="col-md-12">
			<h3>Anteprima intervista <span class="notify_back_link">[<a href="/profilo/intervista/">Modifica intervista</a>]</span></h3>
		</div>
		<div class="col-md-12">
			<div class="alert alert-info">
				<p>Ecco un'anteprima di come il pubblico vedrà la tua intervista. Clicca su "modifica" per modificare le risposte. Se la tua intervista fosse già stata pubblicata, la modifica implica la spubblicazione e la riapprovazione dell'intervista.</p>
			</div>
		</div>
		<div class="col-md-12">
			{% for single_question in survey_questions %}
				<div class="question_answer_container">
					<div class="question_container">{{ single_question.label }}</div>
					<div class="answer_container">{{ single_question.value }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}
{# user survey preview }}} #}
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		// TODO testare
		$(document).on("click", ".showApprovedLegendClickAction", function(){
			var title = 'Legenda';
			var content = '<div><b>Da approvare</b></div>';
			content += '<div class="margin_bottom_15">L\'intervista non è ancora stata inviata per la verifica.</div>';
			content += '<div><b>In fase di approvazione</b></div>';
			content += '<div class="margin_bottom_15">L\'intervista è in fase di analisi per essere approvata.</div>';
			content += '<div><b>Non approvato</b></div>';
			content += '<div class="margin_bottom_15">L\'intervista non è stata approvata, occorre fare le dovute modifiche secondo quanto specificato.</div>';
			content += '<div><b>Approvato</b></div>';
			content += '<div>L\'intervista è stata approvata ed è pronta per la pubblicazione.</div>';

			// open bootstrap modal
			bootstrapModalsObect.showGenericTextModal(title, content);

			return false;
		});

		// TODO testare
		$(document).on("click", ".showPublishNowModalClickAction", function(){
			if ("{{ approving_status }}" == "{{ approved_status }}") {
				// testo se survey già approvato
				var content = 'Clicca sul pulsante "<b>Pubblica adesso</b>" per pubblicare l\'intervista sul tuo profilo';
			} else {
				// testo se survey non ancora approvato
				var content = 'Clicca sul pulsante "<b>Pubblica adesso</b>" per pubblicare l\'intervista sul tuo profilo.<br />Verrà mandata in revisione e, ad approvazione avvenuta, verrà pubblicata automaticamente sul tuo profilo.';
			}

			// open bootstrap modal
			bootstrapModalsObect.showPublishSurveyModal(content);

			return false;
		});

		// TODO fare e testare
		$(document).on("click", ".publishSurveyClickAction", function(){
			// chiamata ajax per pubblicare/mandare in fase di analisi e 
			// pubblicare l'intervista
			publishUserInterview();

			return false;
		});

		// tooltip init
		$('[data-toggle="tooltip"]').tooltip();
	});

	// publish user interview
	function publishUserInterview() {
		var publishUserInterviewAjaxAction = customAjaxAction;
		// set async to false
		publishUserInterviewAjaxAction.setAsyncFlag(false);
		// serialize form
		publishUserInterviewAjaxAction.setAjaxCallParams("survey_code=interview");
		// setting action name
		publishUserInterviewAjaxAction.setActionName("publish_interview");
		// success callback function
		var successCallback = function(jsonResponse) {
			// open bootstrap modal
			bootstrapModalsObect.showGenericTextModal('Pubblicazione intervista', jsonResponse.popup_msg);

			// publishing msg and class
			if (jsonResponse.publishing_msg) {
				$('.publishStatusAction').html(jsonResponse.publishing_msg);
			}
			if (jsonResponse.publishing_class) {
				clean_status_container_class($('.publishStatusAction'))
				$('.publishStatusAction').addClass(jsonResponse.publishing_class);
			}

			// approving msg and class
			if (jsonResponse.approving_msg) {
				$('.approvingStatusAction').html(jsonResponse.approving_msg);
			}
			if (jsonResponse.approving_class) {
				clean_status_container_class($('.approvingStatusAction'))
				$('.approvingStatusAction').addClass(jsonResponse.approving_class);
			}

			return true;
		};
		publishUserInterviewAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
		// perform ajax call to add favorite
		publishUserInterviewAjaxAction.performAjaxAction();

		return true;
	}

	function clean_status_container_class(element) {
		$(element).removeClass('verified_label');
		$(element).removeClass('not_verified_label');

		return true;
	}
</script>
{% endblock custom_js %}
