{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | il mio album fotografico{% endblock %}

{% block description %}Il mio album fotografico: in questa pagina è possibile modificare la tua immagine del profilo e gestire il book fotografico, aggiungendo e rimuovendo foto.{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<h3>Foto Bacheca</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Fatti notare, mostra il tuo scatto più artistico. Tra tutte le foto presenti, quella che per prima otterrà 500 mi piace otterrà uno spazio tutto suo nella passerella per 2 settimane.<br /><b>Seleziona la foto che vorresti mettere in evidenza.</b></p>
		</div>
	</div>
</div>
<div class="background_container1 generic_container8">
	<div class="left">
		<div class="top">
			<img alt="Imagine profilo" class="catwalk_user_main_image" src="{{ user_image_contest_url }}">
		</div>
		<div class="bottom user_action_link_container">
			<div class="left">
			    <a href="#" class="removeImageFromPhotoboardAction" data-image-contest-image-id="{{ user_image_contest_id }}">Rimuovi dalla bacheca</a>
			</div>
		</div>
	</div>
	<div class="right">
		<div class="top user_stats_container">
			<div class="container_row1 user_stats_block">
				<span><span class="position">{{ user_image_contest_like }}</span> su {{ like_limit }} mi piace ottenuti</span>
			</div>
			<!-- stats block -->
			<div class="container_row1 text-left">
				<div class="stats_bar_label">Livello di apprezzamento: {{ user_image_contest_like|default:"0" }} punti</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_image_contest_like }}" aria-valuemin="0" aria-valuemax="{{ like_limit }}" style="width: {{ user_contest_info.global.metric_rate_percentage }}%"></div>
					</div>
				</div>
			</div>
			<div class="container_row1">
				<div class="user_stats_block">
					<span class="points">{{ user_image_contest_visits }}</span>
					<span>Visite ricevute</span>
				</div>
				<div class="user_stats_space"></div>
				<div class="user_stats_block">
					<span class="points">{{ user_image_contest_like_remaining }}</span>
					<span>Mi piace mancanti</span>
				</div>
			</div>
			<div class="container_row1">
				<a href="#" class="btn btn-success">Visualizza nella bacheca</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Condividi il tuo profilo sui social network</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Ottenere molti punti è fondamentale, scala la classifica pubblicando spesso la tua pagina profilo sui social network. Per pubblicarla ora clicca sui pulsanti sotto.</p>
		</div>
	</div>
</div>
{# preferences block {{{ #}
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="#" class="thumbnail grid_button_1 shareViaFacebookClickAction" data-toggle="tooltip" data-placement="top" data-original-title="Condividi la tua pagina profilo su Facebook per ottenere più punti">
			<span class="grid_button_image">
				<img src="{% static "website/img/profile_fb_share.png" %}" alt="Share via Facebook">
			</span>
			<span class="grid_button_label">Condividi su Facebook</span>
		</a>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
		<a href="https://twitter.com/intent/tweet?url={{ profile_page_url|urlencode }}&text={{ share_text|urlencode }}" class="thumbnail grid_button_1" data-toggle="tooltip" data-placement="top" data-original-title="Condividi la tua pagina profilo su Twitter per ottenere più punti">
			<span class="grid_button_image">
				<img src="{% static "website/img/profile_tw_share.png" %}" alt="Share via Twitter">
			</span>
			<span class="grid_button_label">Condividi su Twitter</span>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Condividi il tuo profilo sul web</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Oltre che sui social network, puoi condividere manualmente la tua pagina profilo sui siti che preferisci. Per farlo copia il link che vedi sotto e incollalo dove molta gente possa notarlo<br /><strong>(seleziona l'URL sotto e premi CTRL+C per copiarlo)</strong>.</p>
		</div>
	</div>
	<div class="col-md-12">
		<div class="profile_share_url_container">
			<strong class="profilePageUrlAction">{{ profile_page_url }}</strong>
		</div>
	</div>
</div>
{# preferences block }}} #}
{# image grid block }}} #}
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		{% if add_success %}
			// show success popup
			show_success_add_popup();
		{% endif %}

		// remove current image from photoboard click action
		$(document).on("click",".removeImageFromPhotoboardAction", function(){
			if (confirm("Stai per rimuovere l'immagine dalla bacheca, perderai tutti i \"mi piace\" ricevuti, confermi?")) {
				var imageId = $(this).data("imageContestImageId");
				removeImageFromPhotoboard(imageId);
			}

			return false;
		});
	});

	/** function to show a success popup */
	function show_success_add_popup() {
		// like limit
		var like_limit = "{{ like_limit }}";
		// open success bootstrap modal
		bootstrapModalsObect.showSuccessModal('Immagine inserita correttamente nella bacheca. Condividi la foto il più possibile per ottenere i <b>' + like_limit + '</b> mi piace ed ottenere il posto nella passerella!');
	}

	// remove selected image from photoboard
	function removeImageFromPhotoboard(imageId) {
		if (imageId) {
			var addImageToPhotoboardCustomAjaxAction = customAjaxAction;
			// set async to false
			addImageToPhotoboardCustomAjaxAction.setAsyncFlag(false);
			// serialize form
			addImageToPhotoboardCustomAjaxAction.setAjaxCallParams("image_contest_image_id=" + imageId + "&");
			// setting action name
			addImageToPhotoboardCustomAjaxAction.setActionName("remove_image_from_photoboard");
			// success callback function
			var successCallback = function(jsonResponse) {
				// redirect to book images list
				location.href = "/profilo/foto-bacheca/";
			};
			addImageToPhotoboardCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// perform ajax call to add favorite
			addImageToPhotoboardCustomAjaxAction.performAjaxAction();
		}

		return true;
	}
</script>
{% endblock custom_js %}
