{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | profilo index{% endblock %}

{% block description %}Beauty and Pics: pagina index profilo{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_favorites %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<h3>I miei preferiti</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
		</div>
	</div>
</div>
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Carica altre</a>
</div>
{# image grid block }}} #}
{% endblock container4_content %}

{% block custom_js %}
<script>
	elementsListObject.addFilter("show_limit", 10);

	$(document).ready(function(){
		$("body").on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("favorite");
			elementsListObject.getElementsList();

			return false;
		});

		// bootstrap modal on favorite click
		$("body").on("click",".zoom-image", function(){
			var userId = "";
			if ($(this).attr("data-image-id")) {
				userId = $(this).data("imageId");
			}

            // ajax call to retrieve user info
            retrieveUserInfo(userId);

			// open bootstrap modal
			// bootstrapModalsObect.showFavoriteImageModal(profileImageUrl, userName, userPoints, userRanking);

            return false;
		});

        /* Function to retrieve info about user (name, points, ranking) */
        function retrieveUserInfo(userId) {
            if (userId) {
                // save image id
                var retrieveUserInfoAjaxAction = customAjaxAction;
                // serialize form
                retrieveUserInfoAjaxAction.setAjaxCallParams("user_id=" + userId + "&");
                // setting action name
                retrieveUserInfoAjaxAction.setActionName("get_user_info");
                // success callback function
                var successCallback = function(jsonResponse) {
                    // open bootstrap modal
                    user_data = jsonResponse.user_info
                    bootstrapModalsObect.showFavoriteUserModal(user_data.user_id, user_data.user_first_name, user_data.user_last_name, user_data.user_ranking, user_data.user_points, user_data.user_profile_image_url);
                };
                retrieveUserInfoAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
                // perform ajax call to save a new profile image
                retrieveUserInfoAjaxAction.performAjaxAction();
            }
        }

		// default click on load more elements button
		$(".loadMoreElementsAction").click();
	});
</script>
{% endblock custom_js %}
