{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | profilo index{% endblock %}

{% block description %}Beauty and Pics: pagina index profilo{% endblock %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}active{% endblock %}

{% block container4_content %}
<div class="background_container1 generic_container9">
	<div class="left">

	</div>
	<div class="right">

	</div>
</div>
{% endblock container4_content %}
