{% extends "website/inc/base_profile.html" %}
{% load staticfiles website_extras %}

{% block title %}{{ site_name }} | concorsi a tema{% endblock %}

{% block description %}Concorsi a tema: da questa pagina puoi prendere parte ad un concorso a tema, partecipa a tutti quelli che preferisci.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_photocontest %}active{% endblock %}

{% block custom_css %}
<style>
	/* evidenzio i photocontest ai quali l'utente sta prendendo parte */
	.photocontest_grid_button_active { background-color: #18bc9c; color: #fff; }
	.photocontest_grid_button_active.grid_button_1 > .grid_button_label { color: #fff; }
	.legend_block { background-color: #18bc9c; display: inline-block; height: 20px; vertical-align: middle; width: 20px; }
</style>
{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Concorsi a tema
			<a href="/howto/concorsi-a-tema/">
				<img data-toggle="tooltip" data-placement="top" title="" data-original-title="Scopri come funzionano..." src="{% static "website/img/question-point.png" %}" alt="Cosa indica?">
			</a>
		</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Ottieni un bonus di 32 punti: prendi parte ad un concorso a tema, carica solo le foto che corrispondono ai requisiti e ottieni più mi piace per avere la foto in evidenza ed ottenere il bonus di 32 punti.</p>
		</div>
	</div>
</div>
{# photo contest list block {{{ #}
{% if photo_contest_list %}
	<div class="row">
	{% for photo_contest in photo_contest_list %}
		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
			{% if user_partecipation_photocontest|get_item:photo_contest.code %}
				<a href="/profilo/concorsi-a-tema/{{ photo_contest.code }}/" class="thumbnail grid_button_1 photocontest_grid_button_active" data-toggle="tooltip" data-placement="top" data-original-title="Clicca per entrare nella pagina riepilogativa del concorso a tema '{{ photo_contest.name }}'">
			{% else %}
				<a href="#" class="thumbnail grid_button_1 showPhotocontestInfoClickAction" data-photocontest-code="{{ photo_contest.code }}" data-photocontest-name="{{ photo_contest.name }}" data-photocontest-like-limit="{{ photo_contest.like_limit }}" data-photocontest-description="{{ photo_contest.description }}" data-photocontest-imageurl="{% static "website/img/photocontest/"|str_cat:photo_contest.code|str_cat:".png" %}" data-toggle="tooltip" data-placement="top" data-original-title="Clicca per avere maggiori informazioni sul concorso '{{ photo_contest.name }}'">
			{% endif %}
				<span class="grid_button_image grid_button_image_h_90">
					<img src="{% static "website/img/photocontest/"|str_cat:photo_contest.code|str_cat:".png" %}" alt="{{ photo_contest.name }}">
				</span>
				<span class="grid_button_label">{{ photo_contest.name }}</span>
			</a>
		</div>
	{% endfor %}
	</div>
	<p class="text-primary">NOTA: i concorsi dove stai partecipando sono evidenziati di questo colore: <span class="legend_block">&nbsp;</span></p>
{% endif %}
{# }}} #}
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();

		// open add image to photoboard bootstrap modal
		$(document).on("click",".showPhotocontestInfoClickAction", function(){
			var photocontestCode = $(this).data("photocontestCode");
			var photocontestName = $(this).data("photocontestName");
			var photocontestDescription = $(this).data("photocontestDescription");
			var photocontestLikeLimit = $(this).data("photocontestLikeLimit");
			var photocontestImageUrl = $(this).data("photocontestImageurl");
			var questionPointImageUrl = "{% static "website/img/question-point.png" %}";

			// open bootstrap modal
			bootstrapModalsObect.showPhotocontestInfoModal(photocontestCode, photocontestName, photocontestDescription, photocontestLikeLimit, photocontestImageUrl, questionPointImageUrl);

			return false;
		});

		// enter into the photocontest
		$(document).on("click",".photocontestEnterClickAction", function(){
			var photocontestCode = $(this).data("photocontestCode");
			location.href = "/profilo/concorsi-a-tema/" + photocontestCode + "/";

			return false;
		});
	});
</script>
{% endblock custom_js %}
