{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | seleziona immagine{% endblock %}

{% block description %}Seleziona immagine: seleziona un'immagine dal tuo book da inserire nel concorso.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_preferences %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Seleziona un'immagine per il concorso "{{ photocontest_name }}"</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>{{ photocontest_description }}<br />Seleziona un'immagine dal tuo book da inserire nel concorso che rispetti i seguenti vincoli:<br /><b>{{ photocontest_rules }}</b></p>
		</div>
	</div>
</div>
{# image grid block {{{ #}
{% if exists_user_images %}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altre immagini</a>
</div>
{% else %}
<p>Non hai ancora caricato nessuna immagine. <a href="/profilo/#book_anchor">Carica adesso</a> la tua prima immagine del book fotografico.</p>
{% endif %}
{# image grid block }}} #}
{% endblock container4_content %}

{% block custom_js %}
{{ block.super }}
<script>
	// set elements retrieved per call
	elementsListObject.setElementsPerCall(20);

	$(document).ready(function(){
		// show more elements action
		$(document).on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("photobook");
			elementsListObject.addFilter("user_id", "{{ user_id }}");
			elementsListObject.getElementsList();

			return false;
		});

		// open add image to photoboard bootstrap modal
		$(document).on("click",".zoom-image", function(){
			var imageId = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}

			var imageUrl = "";
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			// open bootstrap modal
			bootstrapModalsObect.showAddImageToPhotoboard(imageUrl, imageId);

			return false;
		});

		// default click on load more elements button
		$(".loadMoreElementsAction").click();
	});
</script>
{% endblock custom_js %}
