{% extends "website/inc/base_profile.html" %}
{% load staticfiles website_extras %}

{% block title %}{{ site_name }} | informazioni principali{% endblock %}

{% block description %}Informazioni principali: in questa pagina è possibile modificare le informazioni principali del tuo utente.{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_preferences %}active{% endblock %}

{# Custom page css block #}
{% block custom_css %}
{{ block.super }}
<style>
    textarea.form-control { height: 170px; }
</style>
{% endblock custom_css %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Intervista</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Rispondi alle domande e crea la tua intervista personalizzata per incrementare la tua visibilità e dare credibilità alla tua immagine. Una volta che avrai risposto alle domande dell'intervista e cliccato sul pulsante salva, le risposte saranno visibili nel tuo profilo.</p>
		</div>
	</div>
	<div class="col-md-12">
		{# messages block #}
		<div class="error_container"></div>
		{% if form.errors or messages %}
			<div class="server_msg_container">
				{% if form.errors %}
					<div class="alert alert-danger">
						<h4>Uhm qualcosa non va!</h4>
						<ul>
							{% for form_error in form.non_field_errors %}
								<li>{{ form_error }}</li>
							{% endfor %}
						</ul>
					</div>
				{% else %}
					<div class="alert alert-success">
						<h4>Ottimo!</h4>
						{% for message in messages %}
							<div>{{ message }}</div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		{% endif %}
		<form class="form-horizontal ajax_form" method="post" action="">
			{% csrf_token %}
			<input type="hidden" name="form_class" value="SurveyForm">
			<fieldset class="col-md-12">
				{% for field in form %}
					<div class="form-group {{ field.field.widget.attrs.question_block }} {% if field.field.widget.attrs.default_hidden %}hide{% endif %} {% if field.errors %}has-error{% endif %}">
						<label for="{{ field.id_for_label }}" class="col-md-4 control-label">{{ field.label }} {% if field.field.required %}*{% endif %}</label>
						<div class="col-md-7">
							{% if field.field.widget.attrs.question_type == "text" %}
								<textarea name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.field.widget.attrs.placeholder }}">{% if post|get_item:field.name %}{{ post|get_item:field.name }}{% endif %}</textarea>
							{% else %}
								<select name="{{ field.name }}" class="form-control surveyChangeClickAction" id="{{ field.id_for_label }}">
									{% for key,value in field.field.choices %}
										<option value="{{ key }}" {% if post|get_item:field.name == key|slugify %}selected="selected"{% endif %}>{{ value }}</option>
									{% endfor %}
								</select>
							{% endif %}
						</div>
					</div>
				{% endfor %}
				{# messages block #}
				<div class="error_container"></div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="btn btn-success submitButtonClickAction">Pubblica intervista</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	$(document).ready(function(){
		/*$(document).on("change", ".surveyChangeClickAction", function(){
			click_on_select($(this));

			return true;
		});*/

		$(".submitButtonClickAction").click(function(event){
			// preventing default click event
			event.preventDefault();
			// serialize form data
			ajaxFormValidation.callData["data"] = $(".ajax_form").serialize();
			// performing ajax call
			ajaxFormValidation.validateForm();

			return true;
		});

		// creo i percorsi già inseriti
		// show_survey_roads();
	});

	/*function click_on_select(select) {
		if ($(select).val() == "no") {
		    $("." + $(select).data("survey1code")).addClass("hide");
		    $("." + $(select).data("survey2code")).removeClass("hide");
		} else if ($(select).val() == "yes") {
		    $("." + $(select).data("survey1code")).removeClass("hide");
		    $("." + $(select).data("survey2code")).addClass("hide");
		} else {
		    $("." + $(select).data("survey1code")).addClass("hide");
		    $("." + $(select).data("survey2code")).addClass("hide");
		}

		return true;
	}*/

	/*
		0: riferimento a oggetto jQuery
		1: riferimento a oggetto jQuery
		console.log(i + ': ' + $p);
	*/
	/*function show_survey_roads() {
		$('select').each(function(i) {
			click_on_select($(this));
		});

		return true;
	}*/
</script>
{% endblock custom_js %}
