{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | profilo index{% endblock %}

{% block description %}Beauty and Pics: pagina index profilo{% endblock %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_area51 %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Dati di accesso</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
		</div>
	</div>
	<div class="col-md-12">
		{# messages block #}
		<div class="error_container"></div>
		{% if form.errors or messages %}
			<div class="row server_msg_container">
				<div class="col-md-12">
					{% if form.errors %}
						<div class="alert alert-danger">
							<h4>Uhm qualcosa non va!</h4>
							<ul>
								{% for form_error in form.non_field_errors %}
									<li>{{ form_error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<div class="alert alert-success">
							<h4>Ottimo!</h4>
							{% for message in messages %}
								<div>{{ message }}</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<form class="form-horizontal ajax_form" method="post" action="">
			{% csrf_token %}
			<fieldset class="col-md-9">
				<div class="form-group {% if form.email.errors %}has-error{% endif %}">
					<label for="{{ form.email.id_for_label }}" class="col-md-4 control-label">{{ form.email.label }} *</label>
					<div class="col-md-8">
						<input name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}" value="{{ post.email }}" type="email">
					</div>
				</div>
				<div class="form-group {% if form.password.errors %}has-error{% endif %}">
					<label for="{{ form.password.id_for_label }}" class="col-md-4 control-label">{{ form.password.label }} *</label>
					<div class="col-md-8">
						<input name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4"></div>
					<span class="col-md-8 help-block">
						Per poter modificare queste informazioni è necessario inserire la tua password attuale
					</span>
				</div>
				<div class="form-group {% if form.current_password.errors %}has-error{% endif %}">
					<label for="{{ form.current_password.id_for_label }}" class="col-md-4 control-label">{{ form.current_password.label }} *</label>
					<div class="col-md-8">
						<input name="{{ form.current_password.name }}" class="form-control" id="{{ form.current_password.id_for_label }}" placeholder="{{ form.current_password.label }}" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="btn btn-success submitButtonClickAction">Salva</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-12">
		<h3>Eliminazione account</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
		</div>
	</div>
	<div class="col-md-8">
		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="" data-original-title="No ripensaci, sei ancora in tempo...">Elimina account</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock container4_content %}

{% block custom_js %}
<script>
	$(document).ready(function(){

		$('[data-toggle="tooltip"]').tooltip();

		$(".submitButtonClickAction").click(function(event){
			event.preventDefault();
			// performing ajax call
			ajaxFormValidation.callData["post_url"] = "/validate_form/";
			ajaxFormValidation.callData["data"] = $(".ajax_form").serialize();
			ajaxFormValidation.callData["form_class"] = "Area51Form";

			ajaxFormValidation.validateForm();

			return true;
		});
	});
</script>
{% endblock custom_js %}
