{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | profilo index{% endblock %}

{% block description %}Beauty and Pics: pagina index profilo{% endblock %}

{% block block0_1_title_h1 %}<b>123</b> giorni <b>6</b> ore <b>33</b> minuti{% endblock %}
{% block block0_1_title_h4 %}alla scadenza del concorso{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_index %}active{% endblock %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "website/css/cropper.min.css" %}">
{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<h3>Foto Profilo</h3>
	</div>
</div>
<div class="background_container1 styled_container1 main_photo_edit_container">
	<div class="main_photo_edit_container_wrapper">
		<div class="left">
			<div class="alert alert-info display_only_small">
				<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
			</div>
			<div class="upload_image_button main_image_upload_button">
				<form enctype="multipart/form-data" method="post" action="">
					{% csrf_token %}
					{{ profile_image_form.image_id }}
					{{ profile_image_form.image_type }}
					{{ profile_image_form.uploaded_image }}
				</form>
				<!--
				<div class="upload_image_label">Clicca qui per caricare la foto principale</div>
				<div class="upload_image_img">
					<img class="img_not_active" alt="Upload image" src="{ static "website/img/upload_image.png" %}">
					<img class="img_active" alt="Upload image" src="{ static "website/img/upload_image_active.png" %}">
				</div>-->
			</div>
		</div>
		<div class="right">
			<div class="alert alert-info display_only_big">
				<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<h3>Book fotografico</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
		</div>
	</div>
</div>
<div class="upload_image_button book_images_upload_button">
	<form enctype="multipart/form-data" method="post" action="">
		{% csrf_token %}
		{{ book_images_form.image_id }}
		{{ book_images_form.image_type }}
		{{ book_images_form.uploaded_image }}
	</form>
	<!--<div class="upload_image_label">Clicca qui per aggiungere una foto al book fotografico</div>
	<div class="upload_image_img">
		<img class="img_not_active" alt="Upload image" src="{ static "website/img/upload_image.png" %}">
		<img class="img_active" alt="Upload image" src="{ static "website/img/upload_image_active.png" %}">
	</div>-->
</div>
{% endblock container4_content %}
{% block custom_js %}
{# addictional page script #}
<script src="{% static "website/js/vendor/jquery.form.js" %}"></script>
<script src="{% static "website/js/vendor/cropper.min.js" %}"></script>
{{ profile_image_form.media }}

<script>
	// TODO: precompilare il form relativo con questa funzione, salvare i dati e aggiornare la visualizzazione
	// function saveProfileImage(image_id) {
	function saveProfileImage() {
		alert("salvo immagine profilo!");
	}

	// TODO: precompilare il form relativo con questa funzione, salvare i dati e aggiornare la visualizzazione
	//function saveBookImage(image_id) {
	function saveBookImage() {
		alert("salvo immagine book!");
	}
</script>
{% endblock custom_js %}
