{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | {{ notify_title }}{% endblock %}

{% block description %}{{ notify_title }}{% endblock %}

{# hide navigation block #}
{% block container4_navigation %}{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>{{ notify_title }} <span class="notify_back_link">[<a href="/profilo/notifiche/">Mostra tutte le notifiche</a>]</span></h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="publish_date_container">
		    <p class="text-muted">Pubblicato in data {{ notify_creation_date | date:"DATE_FORMAT" }}</p>
		</div>
		<div class="notify_details_container">
		<p>{{ notify_message | safe }}</p>
		{% if notify_action_url %}
			<div class="text-center">
				<a target="_blank" class="btn btn-success" href="{{ notify_action_url }}">{{ notify_action_title | default:"Ulteriori informazioni" }}</a>
			</div>
		{% endif %}
		</div>
	</div>
</div>
{% endblock container4_content %}
