{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}Beauty and Pics | profilo index{% endblock %}

{% block description %}Beauty and Pics: pagina index profilo{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_area51 %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-md-12">
		<h3>Dati di accesso</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
		</div>
	</div>
	<div class="col-md-12">
		{# messages block #}
		<div class="error_container"></div>
		{% if form.errors or delete_user_form.errors or messages %}
			<div class="row server_msg_container">
				<div class="col-md-12">
					{% if form.errors %}
						<div class="alert alert-danger">
							<h4>Uhm qualcosa non va!</h4>
							<ul>
								{% for form_error in form.non_field_errors %}
									<li>{{ form_error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% elif delete_user_form.errors %}
						<div class="alert alert-danger">
							<h4>Uhm qualcosa non va!</h4>
							<ul>
								{% for delete_user_form_error in delete_user_form.non_field_errors %}
									<li>{{ delete_user_form_error }}</li>
								{% endfor %}
							</ul>
						</div>
					{% else %}
						<div class="alert alert-success">
							<h4>Ottimo!</h4>
							{% for message in messages %}
								<div>{{ message }}</div>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<form class="form-horizontal ajax_form" method="post" action="">
			{% csrf_token %}
			<input type="hidden" name="form_class" value="Area51Form">
			<fieldset class="col-md-9">
				<div class="form-group {% if form.email.errors %}has-error{% endif %}">
					<label for="{{ form.email.id_for_label }}" class="col-md-4 control-label">{{ form.email.label }} *</label>
					<div class="col-md-8">
						<input name="{{ form.email.name }}" class="form-control" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}" value="{{ post.email }}" type="email">
					</div>
				</div>
				<div class="form-group {% if form.password.errors %}has-error{% endif %}">
					<label for="{{ form.password.id_for_label }}" class="col-md-4 control-label">{{ form.password.label }} *</label>
					<div class="col-md-8">
						<input name="{{ form.password.name }}" class="form-control" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.label }}" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-4"></div>
					<span class="col-md-8 help-block">
						Per poter modificare queste informazioni è necessario inserire la tua password attuale
					</span>
				</div>
				<div class="form-group {% if form.current_password.errors %}has-error{% endif %}">
					<label for="{{ form.current_password.id_for_label }}" class="col-md-4 control-label">{{ form.current_password.label }} *</label>
					<div class="col-md-8">
						<input name="{{ form.current_password.name }}" class="form-control" id="{{ form.current_password.id_for_label }}" placeholder="{{ form.current_password.label }}" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="btn btn-success submitButtonClickAction">Salva</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="col-md-12">
		<h3>Eliminazione account</h3>
	</div>
	<div class="col-md-12">
		<div class="alert alert-info">
			<p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
		</div>
	</div>
	<div class="col-md-8">
		<form class="form-horizontal" method="post" action="">
			{% csrf_token %}
			<input name="{{ delete_user_form.user_id.name }}" value="{{ user.id }}" type="hidden">
			<fieldset>
				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						<button type="submit" class="btn btn-danger deleteUserClickAction" data-toggle="tooltip" data-placement="top" title="" data-original-title="No ripensaci, sei ancora in tempo...">Elimina account</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock container4_content %}

{% block custom_js %}
<script>
	$(document).ready(function(){

		$('[data-toggle="tooltip"]').tooltip();

		$("body").on("click",".submitButtonClickAction", function(event){
			// preventing default click event
			event.preventDefault();
			// serialize form data
			ajaxFormValidation.callData["data"] = $(".ajax_form").serialize();
			// performing ajax call
			ajaxFormValidation.validateForm();

			return true;
		});

		$("body").on("click",".deleteUserClickAction", function(){
			return confirm("ATTENZIONE: stai per eliminare definitivamente il tuo utente, proseguire?");
		});
	});
</script>
{% endblock custom_js %}
