{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | statistiche{% endblock %}

{% block description %}Statistiche: in questa pagina puoi vedere il tuo punteggio, la posizione nella classifica e altri dati interessanti.{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_stats %}active{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<h3>Statistiche</h3>
	</div>
	<div class="col-sm-12">
		<div class="alert alert-info">
			<p>Statistiche e altri dati che potrebbero tornarti utili!</p>
		</div>
	</div>
</div>

<div class="background_container1 styled_container1">
	<div class="right">
		<div class="top user_stats_container">
			{% if user_contest_info.ranking %}
			<div class="user_stats_block">
				<span class="position">{{ user_contest_info.ranking }}°</span>
				<span>Posizione</span>
			</div>
			<div class="user_stats_space"></div>
			{% endif %}
			<div class="user_stats_block">
				<span class="points">{{ user_contest_info.total_points }}</span>
				<span>Punti</span>
			</div>
			<div class="user_stats_space"></div>
			<div class="user_stats_block">
				<span class="points">
					{{ favorites_count }}
				</span>
				<span>
					<span>
						Preferiti
					</span>
					<span class="favorites_question_point_container">
						<img data-toggle="tooltip" data-placement="top" title="" data-original-title="Il numero di preferiti che hai salvato" src="{% static "website/img/question-point.png" %}" alt="Cosa indica?">
					</span>
				</span>
			</div>
		</div>
		<div class="bottom">
			<div class="stats_bar_container">
				<!-- stats block -->
				<div class="stats_bar_label">Globale: {{ user_contest_info.global.total_points|default:"0" }} punti {% if user_contest_info.global.metric_rate_percentage %}({{ user_contest_info.global.metric_rate_percentage }}%){% endif %}</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.global.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.global.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Sorriso: {{ user_contest_info.smile.total_points|default:"0" }} punti {% if user_contest_info.smile.metric_rate_percentage %}({{ user_contest_info.smile.metric_rate_percentage }}%){% endif %}</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.smile.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.smile.metric_rate_percentage }}%"></div>
					</div>
				</div>
				<!-- stats block -->
				<div class="stats_bar_label">Sguardo: {{ user_contest_info.look.total_points|default:"0" }} punti {% if user_contest_info.look.metric_rate_percentage %}({{ user_contest_info.look.metric_rate_percentage }}%){% endif %}</div>
				<div class="stats_bar">
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ user_contest_info.look.metric_rate_percentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user_contest_info.look.metric_rate_percentage }}%"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock container4_content %}

{% block custom_js %}
<script>
	$(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
</script>
{% endblock custom_js %}
