{% extends "website/inc/base_profile.html" %}
{% load staticfiles %}

{% block title %}{{ site_name }} | bacheca fotografica{% endblock %}

{% block description %}Fatti notare, mostra il tuo scatto più artistico. Tra tutte le foto presenti, quella che per prima otterrà {{ contest_like_limit }} mi piace avrà uno spazio tutto suo nella passerella per 2 settimane.{% endblock %}

{% block container4_title %}{% endblock %}

{# navigation tabs active element #}
{% block container4_navigation_profile_bacheca %}active{% endblock %}

{# page tip block (blocco a destra con titolo e descrizione) #}
{% block page_tip %}
{% include "website/inc/include_blocks/page_tip.html" with title="Bacheca fotografica" text="Vorresti avere uno spazio dedicato per la tua foto migliore? Questo è il posto giusto." only %}
{% endblock %}

{% block container4_content %}
<div class="row">
	<div class="col-sm-12">
		<h3>Bacheca fotografica</h3>
	</div>
	{% if user_is_winner %}
		<div class="col-sm-12">
			<div class="alert alert-info">
				<p>Complimenti, la tua foto ha raggiunto i {{ contest_like_limit }} mi piace prima di tutte le altre.<br />Potrai rimettere una foto nella bacheca tra: <b>{{ next_selection_date | timeuntil }}</b>!</p>
			</div>
		</div>
	{% elif enable_image_selection %}
		<div class="col-sm-12">
			<div class="alert alert-info">
				<p>Fatti notare, mostra il tuo scatto più artistico. Tra tutte le foto presenti nella bacheca, quella che per prima otterrà {{ contest_like_limit }} mi piace otterrà uno spazio tutto suo nella passerella per 2 settimane.<br /><b>Seleziona quale immagine vorresti inserire nella bacheca.</b></p>
			</div>
		</div>
	{% else %}
		<div class="col-sm-12">
			<div class="alert alert-info">
				<p>Ci spiace, la tua foto non ha raggiunto in tempo i {{ contest_like_limit }} mi piace.<br />Potrai riprovare a mettere una foto nella bacheca tra: <b>{{ next_selection_date | timeuntil }}</b>!</p>
			</div>
		</div>
	{% endif %}
</div>
{# image grid block {{{ #}
<div class="row">
	<div class="col-sm-12 margin_top_15 image_grid_container"></div>
</div>
<div class="text-center">
	<a class="btn btn-success loadMoreElementsAction" href="#">Mostra altre immagini</a>
</div>
{# hidden form #}
<form class="addPhotoboardImageFormSubmitAction" method="post" action="">
	{% csrf_token %}
	<input name="add_photoboard_image_form_sent" value="1" type="hidden">
</form>
{# image grid block }}} #}
{% endblock container4_content %}
{% block custom_js %}
{{ block.super }}
<script>
	// set elements retrieved per call
	elementsListObject.setElementsPerCall(20);

	$(document).ready(function(){

		// show more elements action
		$(document).on("click",".loadMoreElementsAction", function(){
			elementsListObject.setElementsListType("photobook");
			elementsListObject.addFilter("user_id", "{{ user_id }}");
			elementsListObject.getElementsList();

			return false;
		});

		// open add image to photoboard bootstrap modal
		$(document).on("click",".zoom-image", function(){
			var imageId = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}

			var imageUrl = "";
			if ($(this).attr("data-fullimage-url")) {
				imageUrl = $(this).data("fullimageUrl");
			}
			{% if enable_image_selection %}
				// open bootstrap modal
				bootstrapModalsObect.showAddImageToPhotoboard(imageUrl, imageId);
			{% else %}
				// open bootstrap alert popup
				bootstrapModalsObect.showAlertModal("Ci spiace, potrai inserire nuovamente l'immagine nella bacheca tra: <b>{{ next_selection_date | timeuntil }}</b>.");
			{% endif %}

			return false;
		});

		// adding selected image to photoboard click action
		$(document).on("click",".addImageToPhotoboardAction", function(){
			var imageId = "";
			if ($(this).attr("data-image-id")) {
				imageId = $(this).data("imageId");
			}

			addImageToPhotoboard(imageId);

			return false;
		});

		// default click on load more elements button
		$(".loadMoreElementsAction").click();
	});

	// adding selected image to photoboard
	function addImageToPhotoboard(imageId) {
		if (imageId) {
			var addImageToPhotoboardCustomAjaxAction = customAjaxAction;
			// set async to false
			addImageToPhotoboardCustomAjaxAction.setAsyncFlag(false);
			// serialize form
			addImageToPhotoboardCustomAjaxAction.setAjaxCallParams("book_image_id=" + imageId + "&");
			// setting action name
			addImageToPhotoboardCustomAjaxAction.setActionName("add_image_to_photoboard");
			// success callback function
			var successCallback = function(jsonResponse) {
				// fare submit di un form nascosto che punta a questa pagina
				// caricherò il messaggio di successo nella view...mucho mejo!
				$(".addPhotoboardImageFormSubmitAction").submit();
			};
			addImageToPhotoboardCustomAjaxAction.setAjaxSuccessCallbackFunction(successCallback);
			// perform ajax call to add favorite
			addImageToPhotoboardCustomAjaxAction.performAjaxAction();
		}

		return true;
	}
</script>
{% endblock custom_js %}
