{% extends "website/inc/base_come_funziona.html" %}
{% load staticfiles %}

{% block image_content %}
{{ block.super }}
<div class="centered_page generic_container1 second_color last_page_element_margin">
	{# how it works block #}
	<div class="generic_container_block generic_container_block1 left_100">
		<div class="left">
			<img src="{% static "website/img/come-funziona.png" %}" alt="Come funziona">
		</div>
		<div class="right">
			<div class="top">Come funziona?</div>
			<div class="bottom">
				<span class="readable_text1">
					Hopped up on catnip play riveting piece on synthesizer keyboard and spread kitty litter all over house. Sit by the fire play riveting piece on synthesizer keyboard eat grass, throw it back up so purr while eating, for rub face on everything. Hunt anything that moves play riveting piece on synthesizer keyboard spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Nap all day shove bum in owner's face like camera lens behind the couch, or present belly, scratch hand when stroked make muffins
				</span>
			</div>
		</div>
	</div>
	{# how it works block #}
	<div class="generic_container_block generic_container_block2 left_100">
		<div class="left">
			<div class="top">Il concorso</div>
			<div class="bottom">
				<span class="readable_text1">
					Hopped up on catnip play riveting piece on synthesizer keyboard and spread kitty litter all over house. Sit by the fire play riveting piece on synthesizer keyboard eat grass, throw it back up so purr while eating, for rub face on everything. Hunt anything that moves play riveting piece on synthesizer keyboard spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Nap all day shove bum in owner's face like camera lens behind the couch, or present belly, scratch hand when stroked make muffins
				</span>
			</div>
		</div>
		<div class="right">
			<img src="{% static "website/img/il-concorso.png" %}" alt="Come funziona">
		</div>
	</div>
	{# how it works block #}
	<div class="generic_container_block generic_container_block1 left_100">
		<div class="left">
			<img src="{% static "website/img/come-iscriversi.png" %}" alt="Come funziona">
		</div>
		<div class="right">
			<div class="top">Come iscriversi</div>
			<div class="bottom">
				<span class="readable_text1">
					Hopped up on catnip play riveting piece on synthesizer keyboard and spread kitty litter all over house. Sit by the fire play riveting piece on synthesizer keyboard eat grass, throw it back up so purr while eating, for rub face on everything. Hunt anything that moves play riveting piece on synthesizer keyboard spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Nap all day shove bum in owner's face like camera lens behind the couch, or present belly, scratch hand when stroked make muffins
				</span>
			</div>
		</div>
	</div>
</div>
{% endblock image_content %}
