{% extends "website/inc/base_index.html" %}
{% load staticfiles %}

{% block image_content %}
{{ block.super }}
<div class="catwalk_container">
	<!-- passerella donna -->
	<div class="catwalk_block catwalk_block1 float_left">
		<div class="title_container">
			<h3>Passerella donna</h3>
		</div>
		<div class="image_container">
			<img alt="Passerella donna" src="{% static "website/img/passerella_donna.png" %}">
		</div>
		<div class="button_container">
			<a class="btn btn-danger" href="#">Accedi</a>
		</div>
	</div>
	<!-- passerella uomo -->
	<div class="catwalk_block catwalk_block2 float_right">
		<div class="title_container">
			<h3>Passerella uomo</h3>
		</div>
		<div class="image_container">
			<img alt="Passerella donna" src="{% static "website/img/passerella_uomo.png" %}">
		</div>
		<div class="button_container">
			<a class="btn btn-danger" href="#">Accedi</a>
		</div>
	</div>
</div>
{% endblock image_content %}
