{% extends "website/inc/base_register.html" %}
{% load staticfiles %}

{% block block0_0_content %}
<div class="centered_page generic_container generic_container2 last_page_element_margin">
	{# register block #}
	<div class="well bs-component">
		<form class="form-horizontal">
			<fieldset>
				<legend>Registrati</legend>
				<span class="help-block">
					Il prossimo Mister o la prossima Miss <b>Beauty and Pics</b> potresti essere tu. Registrati ora per partecipare al concorso.
				</span>
				<div class="form-group">
					<label for="inputFirstName" class="col-lg-4 control-label">Nome *</label>
					<div class="col-lg-8">
						<input class="form-control" id="inputFirstName" placeholder="Nome" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="inputLastName" class="col-lg-4 control-label">Cognome</label>
					<div class="col-lg-8">
						<input class="form-control" id="inputLastName" placeholder="Cognome" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="selectDays" class="col-lg-4 control-label">Data di nascita *</label>
					<div class="col-lg-8">
						<div class="col-lg-4 no-gutters">
							<select class="form-control" id="selectDays">
								<option selected="selected">Giorno</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-4 no-gutters">
							<select class="form-control" id="selectMonths">
								<option selected="selected">Mese</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="col-lg-4 no-gutters">
							<select class="form-control" id="selectYears">
								<option selected="selected">Anno</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="selectGender" class="col-lg-4 control-label">Sesso *</label>
					<div class="col-lg-8">
						<div class="col-lg-4 no-gutters">
							<select class="form-control" id="selectGender">
								<option selected="selected">Sesso</option>
								<option>Donna</option>
								<option>Uomo</option>
							</select>
						</div>
					</div>
				</div>
				<legend>Dati di accesso</legend>
				<div class="form-group">
					<label for="inputEmail" class="col-lg-4 control-label">Email *</label>
					<div class="col-lg-8">
						<input class="form-control" id="inputEmail" placeholder="Email" type="email">
					</div>
				</div>
				<div class="form-group">
					<label for="inputPassword" class="col-lg-4 control-label">Password *</label>
					<div class="col-lg-8">
						<input class="form-control" id="inputPassword" placeholder="Password" type="password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-8 col-lg-offset-4">
						<button type="submit" class="btn btn-primary">Registrati</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock block0_0_content %}
